<div style="display: flex">
  <h1>Chapters from {{ this.selectedBook$ | async }}</h1>
</div>

<mat-spinner *ngIf="isLoading$ | async; let isLoading"> </mat-spinner>

<div style="margin-bottom: 10px; display: grid">
  <app-chapter-item
    *ngIf="isLoaded$ | async"
    (chapterClicked)="getScripture($event)"
    [item]="allChapter"
  ></app-chapter-item>
</div>

<div class="grid">
  <app-chapter-item
    *ngFor="let chapter of chapters$ | async"
    (chapterClicked)="getScripture($event)"
    [item]="chapter"
  ></app-chapter-item>
</div>
