<h3 style="padding: 15px 15px 0px" class="primary-color">{{ this.selectedImage.name }}</h3>
<div style="padding-bottom: 15px" class="mat-caption" style="margin: 0px 17px">
  {{ this.selectedImage.description }}
</div>
<br />

<div style="height: 75%">
  <pinch-zoom [autoHeight]="true" [limit-zoom]="2" style="height: 100%; margin: 0px 40px">
    <img
      style="max-width: 100%; max-height: 100%; object-fit: contain; position: unset"
      [ngSrc]="selectedImage.originUrl"
      fill
      priority
    />
  </pinch-zoom>
</div>
