<div class="container-form" style="margin: 0px 17px">
  <router-outlet></router-outlet>
  <h1 style="padding: 15px 0px 0px" class="primary-color">God keep you</h1>
  <h1 style="padding: 15px 0px 0px" class="primary-color">Discernments</h1>
  <h6 class="mat-caption">
    "The natural person does not accept the things of the Spirit of God, for they are folly to him, and he is not able
    to understand them because they are spiritually discerned." [1 Corinthians 2:14]
  </h6>
  <blog-discern-list></blog-discern-list>
</div>
