<div class="w3-container w3-padding-64" style="min-height: 85vh">
  <section class="invitation-section" [@fadeInOut]>
    <div class="invite-content">
      <div class="invite-badge">Event Invitation</div>
      <h1 class="invite-title">You're <strong>Invited</strong></h1>
      <p class="invite-description">
        Join us for an exceptional gathering with colleagues and friends. An evening of connection, celebration, and
        memorable moments.
      </p>
    </div>

    <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>

    <app-event-details></app-event-details>
  </section>
</div>

<mat-divider></mat-divider>

<div class="w3-container w3-padding-64 w3-center">
  <div #eventHeader>
    @defer (on viewport(eventHeader)) {
    <h2 [@slideInFromRight]>MAP</h2>
    }
  </div>

  <div #eventSubHeader>
    @defer (on viewport(eventSubHeader)) {
    <p [@slideInFromLeft]>Attend an event in Sioux Falls, South Dakota</p>
    }
  </div>

  <div class="map-container">
    <div id="map" style="height: 500px; width: 85vw; z-index: 0"></div>
  </div>
</div>
