<div class="event-details">
  <div #dateCard>
    @defer (on viewport(dateCard)) {
    <div class="detail-card" (click)="navigateToLocationPage()" [@slideInFromRight] matRipple>
      <div class="detail-header">
        <div class="detail-icon">
          <button mat-icon-button>
            <fa-icon [icon]="calendarIcon"></fa-icon>
          </button>
        </div>
        <div class="detail-info" style="text-align: left">
          <div class="detail-label">Date</div>
          <div class="detail-value">December 31, 2025</div>
        </div>
      </div>
    </div>
    }
  </div>

  <div #timeCard style="margin-left: 25px">
    @defer (on viewport(timeCard)) {
    <div class="detail-card" (click)="navigateToLocationPage()" [@slideInFromLeft] matRipple>
      <div class="detail-header">
        <div class="detail-icon">
          <button mat-icon-button>
            <fa-icon [icon]="timeIcon"></fa-icon>
          </button>
        </div>
        <div class="detail-info" style="text-align: left">
          <div class="detail-label">Time</div>
          <div class="detail-value">5:00 PM - 10:00 PM</div>
        </div>
      </div>
    </div>
    }
  </div>

  <div #locationCard style="margin-left: 50px">
    @defer (on viewport(locationCard)) {
    <div class="detail-card" (click)="navigateToLocationPage()" [@slideInFromRight] matRipple>
      <div class="detail-header">
        <div class="detail-icon">
          <button mat-icon-button>
            <fa-icon [icon]="locationIcon"></fa-icon>
          </button>
        </div>
        <div class="detail-info" style="text-align: left">
          <div class="detail-label">Location</div>
          <div class="detail-value">Grand Ballroom</div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
