.reference {
  // font-style: italic;
}

.JesusWord {
  color: red;
  // font-style: unset;
  // font-weight: bold;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.contents {
  display: contents;
}

a {
  color: unset !important;
}
