<mat-card style="margin: 15px">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="header-container">
        <h1>{{ item()?.title }}</h1>
        <h2>Blog</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <div #seoCaption>{{ item()?.date | date: "short" }}</div>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <lib-readonly-text-editor [html]="item()?.json?.toString()" [showReadMore]="false"></lib-readonly-text-editor>
  </mat-card-content>
</mat-card>
