<div class="home-image" style="background-position: top">
  <img fill style="object-position: top" [ngSrc]="'../../assets/toastmasterz.webp'" alt="" priority />

  <div class="header-pane">
    <h1 class="header-title fixed-primary-color" [@slideInFromRight]>TOASTMASTERS</h1>
    <h2 class="header-caption" [@slideInFromLeft]>Text from the Left</h2>
    <h3 class="header-caption" [@slideInFromLeft]>Text from the Left</h3>
  </div>
</div>

<mat-divider></mat-divider>

<div class="w3-container w3-padding-64 w3-center">
  <div #eventHeader>
    @defer (on viewport(eventHeader)) {
    <h2 [@slideInFromRight]>EVENTS</h2>
    }
  </div>

  <div #teamSubHeader>
    @defer (on viewport(teamSubHeader)) {
    <p [@slideInFromLeft]>Come attend an event</p>
    <button [@slideInFromLeft] mat-flat-button (click)="navigateToLocationPage()">MORE DETAILS</button>
    }
  </div>

  <app-event-details></app-event-details>
</div>

<mat-divider></mat-divider>

<div class="w3-container w3-padding-64 w3-center" id="team">
  <div #teamHeader>
    @defer (on viewport(teamHeader)) {
    <h2 [@slideInFromRight]>TEAM</h2>
    }
  </div>

  <div #teamSubHeader>
    @defer (on viewport(teamSubHeader)) {
    <p [@slideInFromLeft]>Our current members</p>
    <button [@slideInFromLeft] mat-flat-button (click)="navigateToMembershipPage()">MORE DETAILS</button>
    }
  </div>

  <app-member-details></app-member-details>
</div>
