<div class="home-image" style="background-position: top">
  <img fill style="object-position: top" [ngSrc]="'../../assets/auditorium.jpg'" alt="" priority />

  <div class="header-pane">
    <h1 class="header-title primary-color" [@slideInFromRight]>TOASTMASTERS</h1>
    <h2 class="header-caption" [@slideInFromLeft]>Text from the Left</h2>
    <h3 class="header-caption" [@slideInFromLeft]>Text from the Right</h3>
  </div>
</div>

<div class="location-section" #locationSection>
  <lib-link [link]="'http://localhost:4200/about/location'" [shouldOpenNewPage]="false"
    ><h2>230 S Minnesota Ave</h2></lib-link
  >
</div>

<div class="card-section" #cardSection>
  @defer (on viewport(cardSection)) {
  <mat-card class="custom-card" [@slideInFromLeft]>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h3>Membership</h3>
        </mat-card-title>
        <mat-card-subtitle><h4>Membership Info Subtitle Example...</h4></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <span> Membership Information... </span>
    </mat-card-content>
  </mat-card>

  <div class="home-image" style="background-position: top">
    <img fill style="object-position: top" [ngSrc]="'../../assets/test.jpg'" alt="" priority [@slideInFromRight] />

    <div class="header-pane">
      <h1 class="header-title primary-color" [@slideInFromRight]>TOASTMASTERS</h1>
      <h2 class="header-caption" [@slideInFromLeft]>
        <a matButton="elevated" href="http://localhost:4200/about/membership">More Information</a>
      </h2>
    </div>
  </div>

  }
</div>

<p>home-page works!</p>
