<div class="home-image" style="background-position: top">
  <img fill style="object-position: top" [ngSrc]="'../../assets/auditorium.jpg'" alt="" priority />

  <div class="header-pane">
    <h1 class="header-title fixed-primary-color" [@slideInFromRight]>TOASTMASTERS</h1>
    <h2 class="header-caption" [@slideInFromLeft]>Text from the Left</h2>
    <h3 class="header-caption" [@slideInFromLeft]>Text from the Left</h3>
  </div>
</div>

<div class="hero-details" #placeDetails>
  @defer (on viewport(placeDetails)) {
  <div class="detail-card" (click)="navigateToLocationPage()" [@slideInFromRight] matRipple>
    <div class="detail-header">
      <div class="detail-icon">
        <button mat-icon-button>
          <fa-icon [icon]="calendarIcon"></fa-icon>
        </button>
      </div>
      <div class="detail-info">
        <div class="detail-label">Date</div>
        <div class="detail-value">December 31, 2025</div>
      </div>
    </div>
  </div>

  <div class="detail-card" (click)="navigateToLocationPage()" [@slideInFromLeft] matRipple>
    <div class="detail-header">
      <div class="detail-icon">
        <button mat-icon-button>
          <fa-icon [icon]="timeIcon"></fa-icon>
        </button>
      </div>
      <div class="detail-info">
        <div class="detail-label">Time</div>
        <div class="detail-value">5:00 PM - 10:00 PM</div>
      </div>
    </div>
  </div>

  <div class="detail-card" (click)="navigateToLocationPage()" [@slideInFromRight] matRipple>
    <div class="detail-header">
      <div class="detail-icon">
        <button mat-icon-button>
          <fa-icon [icon]="locationIcon"></fa-icon>
        </button>
      </div>
      <div class="detail-info">
        <div class="detail-label">Location</div>
        <div class="detail-value">Grand Ballroom</div>
      </div>
    </div>
  </div>
  }
</div>
