<h1 style="padding: 15px 0px 0px" class="primary-color">
  His Face shine upon you
</h1>

<mat-grid-list
  cols="4"
  rowHeight="1.5:1"
  gutterSize="5"
  [photoGalleryGroup]="{}"
>
  <mat-grid-tile *ngFor="let image of this.images" style="cursor: pointer">
    <mat-grid-tile-header
      (click)="navigate(image)"
      class="primary-color"
      style="text-decoration: underline; cursor: pointer"
      >{{ image.name }}
      <fa-icon
        [icon]="faLink"
        [size]="'lg'"
        style="padding-left: 2px"
      ></fa-icon>
    </mat-grid-tile-header>
    <mat-grid-tile-footer>{{ image.footer }}</mat-grid-tile-footer>
    <div
      [photoGallery]="'../../assets/teach/' + image.originUrl"
      [photoGalleryCaption]="image.description"
    >
      <mat-spinner
        *ngIf="!image.isFinishedLoading"
        class="loading"
      ></mat-spinner>

      <img
        [ngStyle]="{ visibility: !image.isFinishedLoading ? 'hidden' : '' }"
        role="presentation"
        style="max-width: 100%; max-height: 100%"
        [src]="'../../assets/teach/' + image.originUrl"
        (load)="hideLoader(image.id)"
        (error)="hideLoader(image.id)"
      />
    </div>
  </mat-grid-tile>
</mat-grid-list>
