<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide [dotContent]="'Painting'">
    <img [ngSrc]="'../../assets/paint-min.webp'" alt="" fill priority />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'Staining'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/high-deck-min.webp'" alt="" fill priority />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'Texturing'">
    <img [ngSrc]="'../../assets/texture-min.webp'" alt="" fill priority />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'Before Awning'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/awning-old-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'After Awning'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/awning-new-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'Old Deck'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/deck-old-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'New Deck'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/deck-new-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'Old Deck'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/deck-old2-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'New Deck'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/deck-new2-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'Old House'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/house-old-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'New House'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/house-new-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'Before Drywall'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/ceiling-old-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'After Drywall'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/ceiling-new-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'Old Garage'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/garage-old-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'New Garage'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/garage-new-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'Old Garage'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/garage-old2-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'New Garage'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/garage-new2-min.webp'" alt="" fill />
  </ng-template>
  <!-- <ng-template carouselSlide [dotContent]="'Old Wall'">
    <img [ngSrc]="'../../assets/wall-old-min.webp'" alt="" fill />
  </ng-template> -->
  <ng-template carouselSlide [dotContent]="'Old Wall'" [dataMerge]="2">
    <img [ngSrc]="'../../assets/wall-old2-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'New Wall'">
    <img [ngSrc]="'../../assets/wall-new-min.webp'" alt="" fill />
  </ng-template>
  <ng-template carouselSlide [dotContent]="'New Wall'">
    <img [ngSrc]="'../../assets/wall-new2-min.webp'" alt="" fill />
  </ng-template>
</owl-carousel-o>
