<mat-drawer-container style="width: 100%; height: 100%" [hasBackdrop]="false">
  <mat-drawer style="width: 280px; position: fixed" #drawer [mode]="'side'" [autoFocus]="true">
    <mat-list>
      <!-- <div mat-subheader>Truth</div> -->
      <mat-list-item lines="3" (click)="goGospel(); drawer.close()">
        <fa-icon matListItemIcon [icon]="gospelIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>The Good News</span>
        <span>The everlasting covenant that will never change.</span>
      </mat-list-item>
      <mat-list-item lines="3" (click)="openBible(); drawer.close()">
        <fa-icon matListItemIcon [icon]="bookIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>The Holy Bible</span>
        <span>Let God be true and every man a liar.</span>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>Posts</div>
      <mat-list-item lines="3" (click)="goDiscern(); drawer.close()">
        <fa-icon matListItemIcon [icon]="discernIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>Discern</span>
        <span>Understanding different kinds of spirits & gospels.</span>
      </mat-list-item>
      <mat-list-item lines="3" (click)="goBlog(); drawer.close()">
        <fa-icon matListItemIcon [icon]="blogIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>Edification</span>
        <span>Scriptures knit together for encouraging.</span>
      </mat-list-item>
      <mat-list-item lines="3" (click)="goInsight(); drawer.close()">
        <fa-icon matListItemIcon [icon]="insightIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>Insight</span>
        <span>Things understood from experience and nature.</span>
      </mat-list-item>
      <mat-list-item lines="3" (click)="goPsalm(); drawer.close()">
        <fa-icon matListItemIcon [icon]="psalmIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>Poem</span>
        <span>Magnifying the Lord with poetry and song. </span>
      </mat-list-item>
      <mat-list-item lines="3" (click)="goStudies(); drawer.close()">
        <fa-icon matListItemIcon [icon]="studyIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>Study</span>
        <span>Grouping scripture for a complete understanding. </span>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>Pictures</div>
      <mat-list-item lines="3" (click)="goDrawings(); drawer.close()">
        <fa-icon matListItemIcon [icon]="drawingIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>Drawing</span>
        <span>Contrast spiritual truths in a simple way.</span>
      </mat-list-item>
      <mat-list-item lines="3" (click)="goTracts(); drawer.close()">
        <fa-icon matListItemIcon [icon]="tractIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>Tract</span>
        <span>Tracts to communicate truth in a quick & effective way.</span>
      </mat-list-item>

      <!-- <mat-divider></mat-divider>
      <div mat-subheader>Resources</div>
      <mat-list-item lines="3" (click)="goResources(); drawer.close()">
        <fa-icon matListItemIcon [icon]="resourceIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>Link</span>
        <span>other proven links and websites and resources.</span>
      </mat-list-item> -->

      <mat-divider></mat-divider>
      <div mat-subheader>Contact</div>
      <mat-list-item lines="3" (click)="goHome(); drawer.close()">
        <fa-icon matListItemIcon [icon]="homeIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>About Me</span>
        <span>My testimony & a message of encouragement.</span>
      </mat-list-item>
      <mat-list-item lines="2" (click)="goEmail(); drawer.close()">
        <fa-icon matListItemIcon [icon]="mailIcon" [size]="'lg'"></fa-icon>
        <span matListItemTitle>Contact Me</span>
        <span>Be honest & contact me.</span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div
      [ngClass]="{
        'fixed-toolbar': isFullpagePage(),
        'sticky-toolbar': !isFullpagePage()
      }"
    >
      <mat-toolbar>
        <button
          mat-icon-button
          class="example-icon"
          (click)="drawer.toggle()"
          title="Menu button"
          aria-labelledby="Menu button"
          aria-label="Menu button"
        >
          <fa-icon [icon]="icon" [size]="'lg'"></fa-icon>
        </button>

        <button mat-button (click)="goGospel(); drawer.close()"><h1>The Good News</h1></button>
        <span style="flex: 1 1 auto"></span>

        <button
          mat-icon-button
          (click)="goGospel()"
          [matTooltip]="'Go to the Good News'"
          title="Gospel button"
          aria-labelledby="Gospel button"
          aria-label="Gospel button"
        >
          <fa-icon [icon]="gospelIcon" [size]="'lg'"></fa-icon>
        </button>
        <button
          mat-icon-button
          (click)="openBible()"
          [matTooltip]="'Open the Bible'"
          style="margin-right: 12px"
          title="Bible button"
          aria-labelledby="Bible button"
          aria-label="Bible button"
        >
          <fa-icon [icon]="bookIcon" [size]="'lg'"></fa-icon>
        </button>
      </mat-toolbar>
    </div>
    <div class="content-page">
      <router-outlet #toTop></router-outlet>
    </div>

    <button
      class="scoll-to-top"
      mat-fab
      color="primary"
      style="z-index: 7777777"
      (click)="scrollToTop(toTop, true)"
      title="Top button"
      aria-labelledby="Top button"
      aria-label="Top button"
    >
      <fa-icon [icon]="arrowIcon" [size]="'lg'"></fa-icon>
    </button>

    <mat-progress-bar
      id="progress-bar"
      role="progressbar"
      title="Reading Progress"
      style="margin: 0"
      class="scoll-to-top"
      mode="determinate"
      [value]="progressValue$ | async"
    ></mat-progress-bar>
  </mat-drawer-content>
</mat-drawer-container>
