.scoll-to-top {
  position: fixed;
  float: left;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.mat-drawer-content {
  overflow: unset !important;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 7777777;
}

.toolbar-header-button {
  margin: 5px;
  font-size: 16px;
}
