<mat-drawer-container style="width: 100%; height: 100%" [hasBackdrop]="false">
  <mat-drawer style="width: 280px; position: fixed" #drawer [mode]="'side'" [autoFocus]="true">
    <mat-list>
      <lib-link [link]="`${baseUrl}/home`" [isNewPage]="false">
        <mat-list-item lines="3" (click)="drawer.close()">
          <lib-fa-icon matListItemIcon [icon]="homeIcon"></lib-fa-icon>
          <span matListItemTitle>About</span>
          <span>My testimony & a message of encouragement.</span>
        </mat-list-item>
      </lib-link>

      <lib-link [link]="`${baseUrl}/contact`" [isNewPage]="false">
        <mat-list-item lines="3" (click)="drawer.close()">
          <lib-fa-icon matListItemIcon [icon]="mailIcon"></lib-fa-icon>
          <span matListItemTitle>Contact</span>
          <span>If you're encouraged, please leave a message.</span>
        </mat-list-item>
      </lib-link>

      <div mat-subheader>Posts</div>
      <lib-link [link]="`${baseUrl}/discernments`" [isNewPage]="false">
        <mat-list-item lines="3" (click)="drawer.close()">
          <lib-fa-icon matListItemIcon [icon]="discernIcon"></lib-fa-icon>
          <span matListItemTitle>Discernments</span>
          <span>Understanding different kinds of spirits & gospels.</span>
        </mat-list-item>
      </lib-link>
      <lib-link [link]="`${baseUrl}/edifications`" [isNewPage]="false">
        <mat-list-item lines="3" (click)="drawer.close()">
          <lib-fa-icon matListItemIcon [icon]="blogIcon"></lib-fa-icon>
          <span matListItemTitle>Edifications</span>
          <span>Scriptures knit together for encouraging.</span>
        </mat-list-item>
      </lib-link>

      <lib-link [link]="`${baseUrl}/insights`" [isNewPage]="false">
        <mat-list-item lines="3" (click)="drawer.close()">
          <lib-fa-icon matListItemIcon [icon]="insightIcon"></lib-fa-icon>
          <span matListItemTitle>Insights</span>
          <span>Things understood from experience and nature.</span>
        </mat-list-item>
      </lib-link>
      <lib-link [link]="`${baseUrl}/poems`" [isNewPage]="false">
        <mat-list-item lines="3" (click)="drawer.close()">
          <lib-fa-icon matListItemIcon [icon]="psalmIcon"></lib-fa-icon>
          <span matListItemTitle>Poems</span>
          <span>Magnifying the Lord with poetry and song. </span>
        </mat-list-item>
      </lib-link>
      <lib-link [link]="`${baseUrl}/studies`" [isNewPage]="false">
        <mat-list-item lines="3" (click)="drawer.close()">
          <lib-fa-icon matListItemIcon [icon]="studyIcon"></lib-fa-icon>
          <span matListItemTitle>Studies</span>
          <span>Grouping scripture for a complete understanding. </span>
        </mat-list-item>
      </lib-link>

      <div mat-subheader>Pictures</div>
      <lib-link [link]="`${baseUrl}/drawings`" [isNewPage]="false">
        <mat-list-item lines="3" (click)="drawer.close()">
          <lib-fa-icon matListItemIcon [icon]="drawingIcon"></lib-fa-icon>
          <span matListItemTitle>Drawings</span>
          <span>Contrast spiritual truths in a simple way.</span>
        </mat-list-item>
      </lib-link>
      <lib-link [link]="`${baseUrl}/tracts`" [isNewPage]="false">
        <mat-list-item lines="3" (click)="drawer.close()">
          <lib-fa-icon matListItemIcon [icon]="giftsIcon"></lib-fa-icon>
          <span matListItemTitle>Tracts</span>
          <span>Tracts to communicate truth in a quick & effective way.</span>
        </mat-list-item>
      </lib-link>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="header">
      <mat-toolbar>
        <button
          *ngIf="!isMobile()"
          mat-icon-button
          (click)="drawer.toggle()"
          aria-labelledby="Menu button"
          aria-label="Menu button"
        >
          <lib-fa-icon [icon]="icon"></lib-fa-icon>
        </button>

        <button
          *ngIf="isMobile()"
          [matMenuTriggerFor]="menu"
          (click)="openMenu()"
          mat-icon-button
          aria-labelledby="Menu button"
          aria-label="Menu button"
        >
          <lib-fa-icon [icon]="icon"></lib-fa-icon>
        </button>

        <mat-menu #menu="matMenu">
          <lib-link [link]="`${baseUrl}/home`" [isNewPage]="false">
            <button mat-menu-item>About</button>
          </lib-link>
          <lib-link [link]="`${baseUrl}/contact`" [isNewPage]="false">
            <button mat-menu-item>Contact</button>
          </lib-link>
          <mat-divider></mat-divider>
          <lib-link [link]="`${baseUrl}/discernments`" [isNewPage]="false">
            <button mat-menu-item>Discernments</button>
          </lib-link>
          <lib-link [link]="`${baseUrl}/edifications`" [isNewPage]="false">
            <button mat-menu-item>Edifications</button>
          </lib-link>
          <lib-link [link]="`${baseUrl}/insights`" [isNewPage]="false">
            <button mat-menu-item>Insights</button>
          </lib-link>
          <lib-link [link]="`${baseUrl}/poems`" [isNewPage]="false">
            <button mat-menu-item>Poems</button>
          </lib-link>
          <lib-link [link]="`${baseUrl}/studies`" [isNewPage]="false">
            <button mat-menu-item>Studies</button>
          </lib-link>
          <mat-divider></mat-divider>
          <lib-link [link]="`${baseUrl}/drawings`" [isNewPage]="false">
            <button mat-menu-item>Drawings</button>
          </lib-link>
          <lib-link [link]="`${baseUrl}/tracts`" [isNewPage]="false">
            <button mat-menu-item>Tracts</button>
          </lib-link>
        </mat-menu>

        <lib-link [link]="`${baseUrl}/truth`" [isNewPage]="false">
          <button mat-button (click)="drawer.close()"><div style="font-size: 20px">The Good News</div></button>
        </lib-link>

        <lib-link [link]="`${baseUrl}/tracts`" [isNewPage]="false">
          <button mat-icon-button (click)="drawer.close()" [matTooltip]="'Gifts'">
            <lib-fa-icon matListItemIcon [icon]="giftsIcon"></lib-fa-icon>
          </button>
        </lib-link>

        <span style="flex: 1 1 auto"></span>

        <lib-link [link]="`${baseUrl}/truth`" [isNewPage]="false">
          <button
            mat-icon-button
            [matTooltip]="'Go to the Good News'"
            aria-labelledby="Gospel button"
            aria-label="Gospel button"
          >
            <lib-fa-icon [icon]="gospelIcon"></lib-fa-icon>
          </button>
        </lib-link>

        <lib-link [link]="'https://thewordof.life'">
          <button
            mat-icon-button
            [matTooltip]="'Open the Bible'"
            style="margin-right: 12px"
            aria-labelledby="Bible button"
            aria-label="Bible button"
          >
            <lib-fa-icon [icon]="bookIcon"></lib-fa-icon>
          </button>
        </lib-link>

        <button
          mat-icon-button
          [matTooltip]="'App Settings'"
          aria-labelledby="Settings button"
          aria-label="Settings button"
          [matMenuTriggerFor]="settingsMenu"
        >
          <lib-fa-icon [icon]="settingsIcon"></lib-fa-icon>
        </button>
        <mat-menu #settingsMenu="matMenu">
          <lib-settings-widget storageName="gospelAppSettings" (onSave)="voiceSettings.save($event)">
            <lib-voice-settings storageName="gospelAppSettings" #voiceSettings></lib-voice-settings>
            <lib-auth-settings (onLogOut)="navigateToServer()" (onLogIn)="navigateToServer()"></lib-auth-settings>
          </lib-settings-widget>
        </mat-menu>
      </mat-toolbar>
    </div>

    <div class="content-page">
      <router-outlet #toTop></router-outlet>
    </div>

    <button
      class="scoll-to-top"
      mat-mini-fab
      color="primary"
      style="z-index: 7777777"
      (click)="scrollToTop(toTop, true)"
      aria-labelledby="Top button"
      aria-label="Top button"
    >
      <lib-fa-icon [icon]="arrowIcon"></lib-fa-icon>
    </button>

    <mat-progress-bar
      id="progress-bar"
      role="progressbar"
      style="margin: 0"
      class="scoll-to-top"
      mode="determinate"
      aria-labelledby="Progress bar"
      aria-label="Progress bar"
      [value]="progressValue$ | async"
    ></mat-progress-bar>
  </mat-drawer-content>
</mat-drawer-container>
