.scoll-to-top {
  position: fixed;
  float: left;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.content-page {
  height: 100%;
}

.mat-drawer-content {
  overflow: unset !important;
}

.fixed-toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 7777777;
}

//TODO this is causing a 'flicker'
.sticky-toolbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 7777777;
}
