<h1 class="primary-color" #seoTitle>The Prophesies</h1>
<h2 #seoCaption></h2>

<mat-chip-listbox multiple aria-label="Prophesy Type">
  @for (tag of allTags(); track tag) {
  <mat-chip-option [value]="tag" [selected]="isSelected(tag)" (selectionChange)="toggleTag(tag, $event.selected)">
    {{ tag }}
  </mat-chip-option>
  }
</mat-chip-listbox>

@if(selectedTags().length) {
<button matButton="filled" class="error-color" (click)="resetTags()">Reset</button>
}

<div class="grid">
  @for (item of filteredItems(); track $index) {
  <app-prophesy-tile [item]="item" @tileSlideIn></app-prophesy-tile>
  } @empty {
  <mat-toolbar>No items match the selected filters.</mat-toolbar>
  }
</div>
