<h1 class="primary-color" #seoTitle>The Prophesies</h1>

<div class="tags">
  <mat-chip-listbox multiple aria-label="Prophesy Type" [formControl]="selectedTagsControl">
    @for (tag of filteredTags(); track tag) {
    <mat-chip-option [value]="tag" (selectionChange)="toggleTag(tag, $event)">
      <span [class]="getTagColorClass(tag)">
        {{ tag }}
      </span>
    </mat-chip-option>
    }
  </mat-chip-listbox>
</div>

<div class="home-body">
  <mat-card class="filter">
    <mat-card-header style="margin-bottom: 15px">
      <mat-card-title class="mat-card-filter-header">
        <span class="primary primary-color"> Filter</span>
        @if(isFilteringActive()) {
        <button class="reset-button" mat-button (click)="reset()">RESET</button>
        }
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 100%">
        <mat-label>Book</mat-label>
        <mat-select
          aria-labelledby="Book Select"
          aria-label="Book Select"
          [(ngModel)]="selectedBook"
          (click)="$event.stopPropagation()"
          required
        >
          @for (book of allBooks; track book) {
          <mat-option [value]="book">{{ book }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer style="padding: 16px">
      <mat-button-toggle-group
        aria-label="Filtering Option"
        [value]="filteringOption()"
        (change)="onFilterOptionChange($event)"
        style="margin-bottom: 5px"
      >
        <mat-button-toggle value="include">Include</mat-button-toggle>
        <mat-button-toggle value="exclude">Exclude</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-footer>
  </mat-card>

  <div class="grid">
    @for (item of pagedItems(); track item.title) {
    <app-prophesy-tile [item]="item" @tileSlideIn></app-prophesy-tile>
    } @empty {
    <h3>No items match the selected filters.</h3>
    }
  </div>
</div>

<mat-paginator
  [length]="total()"
  [showFirstLastButtons]="true"
  [pageSize]="pageSize()"
  [pageIndex]="pageIndex()"
  [pageSizeOptions]="[initialPageSize, 50, 100, total()]"
  (page)="onPageChange($event)"
></mat-paginator>
