<div class="container-form" style="margin: 0px 17px">
  <router-outlet></router-outlet>
  <h1 style="padding: 15px 0px 0px" class="primary-color">God bless you</h1>
  <h1 style="padding: 15px 0px 0px" class="primary-color">Edifications</h1>
  <h6 class="mat-caption">
    "Knowledge puffs up, but love edifies. And if anyone thinks that he knows anything, he knows nothing yet as he ought
    to know. But if anyone loves God, this one is known by Him." [1 Corinthians 8:1-3]
  </h6>
  <blog-blog-list></blog-blog-list>
</div>
