<mat-card style="margin: 15px">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <mat-card-title> <h1 #seoTitle class="primary-color">Contact</h1> </mat-card-title>
        <mat-card-subtitle #seoCaption style="padding-bottom: 10px"
          >If you are encouraged, please reach out!</mat-card-subtitle
        >
      </mat-card-title>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <lib-contact-form formSpreeApi="https://formspree.io/f/mzbnezkd"></lib-contact-form>
  </mat-card-content>
</mat-card>
