<div style="display: flex">
  <h3>Books from {{ this.translation$ | async }}</h3>
</div>

<mat-spinner *ngIf="isLoading$ | async; let isLoading"></mat-spinner>

<mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
  @for (book of books$ | async; track $index) {
  <mat-list-option [value]="book" (click)="getChapters(book)"
    ><div libTooltip="{{ book.name }} - {{ book.nameLong }}" style="font-size: large" *ngIf="book.nameLong">
      {{ book.name }} - {{ book.nameLong }}
    </div>
    <div libTooltip="{{ book.name }}" style="font-size: large" *ngIf="!book.nameLong">
      {{ book.name }}
    </div></mat-list-option
  >
  }
</mat-selection-list>
