<lib-link [link]="`${baseUrl}/prophesy-item/${item()?.url}`">
  <mat-card>
    <mat-card-header class="header-container">
      <mat-card-title libTooltip="{{ item()?.title }}">{{ item()?.title }}</mat-card-title>
      <!-- <mat-card-subtitle libTooltip="{{ showTagFriendlyView() }}"> {{ showTagFriendlyView() }} </mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <div libTooltip="{{ item()?.description }}">
        {{ item()?.description }}
      </div>
    </mat-card-content>
    <mat-card-footer class="footer">
      <mat-chip-set aria-label="Scripture Types">
        @for(tag of showTagsSorted(); track $index) {
        <mat-chip class="chip">{{ tag }}</mat-chip>
        }
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</lib-link>
