<div class="proverb-item" *ngFor="let proverb of proverbs$ | async">
  <div class="proverb-title primary-color" (click)="navigate(proverb)">
    {{ proverb.title.toUpperCase() }}
  </div>
  <div>{{ proverb.date | date: "short" }}</div>

  <button mat-flat-button *ngIf="update" (click)="doUpdate(proverb)">
    Update
  </button>

  <blog-text-editor
    [readonly]="!update"
    [document]="proverb.json"
    (editorChanged)="proverb.json = $event"
  ></blog-text-editor>

  <mat-divider></mat-divider>
</div>
