.example-header-image {
  background-image: url("../../assets/pics/me.webp");
  background-size: cover;
  height: 37px;
  width: 38px;
  margin-bottom: unset;
  zoom: 4;
}

:host {
  display: block;
  background-color: var(--mat-sys-surface-container-lowest);
  padding: 14px;
}
