.example-header-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/q_auto/f_auto/v1751836901/img/me_xmcxyc.webp");
  background-size: cover;
  height: 37px;
  width: 38px;
  margin-bottom: unset;
  zoom: 4;
}

:host {
  display: block;

  padding: 14px;
}
