<h3 class="primary-color">Holy, Holy, Holy is He</h3>

<div style="display: flex; flex-direction: column">
  <mat-card [@simpleFadeAnimation] appearance="outlined" style="margin: 15px">
    <mat-card-header style="padding: 15px 15px">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title-group>
        <mat-card-title class="primary-color">My name is Kurtis</mat-card-title>
        <mat-card-subtitle> Below is my testimony and a brief message of encouragement. </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      Right before Covid-19, I had just gotten my full time job, experienced military life and college. "What is left,
      but to get married, have kids, and die?" I said to myself, “Surely life isn’t here, but where?” I started seeking.
      I figured mankind doesn’t know, if they did, wouldn’t they tell me? But all my life no-one told me the truth. I
      don't remember ever seeing a street preacher; nor do I remember anything spectacular in church. We were the family
      that went during the holidays and once in a while outside of that, but it wasn't anything spectacular to me --
      nothing stood out.
      <br /><br />
      <!-- (I do have a memory of going to church: specifically when my step dad repeated the Lord’s prayer; I was surprised
    that he knew it in his heart. Another memory I had was of my aunt in the Hutterite colony teaching us how to pray
    and the delight I had from God in it and her testimony of the holiness of God: for we would say things like “Holy
    cow”; and then she would say, “Cows aren’t holy”. Then we would know better and say, “Holy moley”; then she would
    say, “Nope. They're not holy either”. We did this for awhile. Then she told us that God is Holy.) -->
      <!-- <br /><br /> -->
      I seen the churches were claiming God, but weren't trying to convince me of God, so they must not really know -
      for the one who is convinced, convinces. I also seen that they were very popular -- on every street corner. I said
      to myself, “Surely if truth exists, only a few would know it. The truth wouldn't be popular, would it?" For one,
      is not the truth a mystery? And two, isn't it painful? But yet, I believed the truth existed and I searched for
      it.
      <br /><br />
      <!-- (Now writing this and looking back: Oh, the dangers of hypocrisy! And the reward of speaking simply the truth! For
    by our lives, we cause others to stumble and by our lives, we edify in the paths of uprightness. The things written
    which I remember when I was a child pertaining to God have stood with me and have encouraged me, showing me that He
    has always been with me. And in all these things, although I did not know any of these things, the Lord has been
    presently revealing my heart to me in these things.) -->
      <!-- <br /><br /> -->
      I started to open my Bible; my mom had given it to me. She was on a journey herself with God and gave all her
      things to the poor. I said “What? This is from God?” Then she moved out of the state. That made me want to seek
      all the more. So I opened up my Bible and remembered the change it had on my life; although the change was quick,
      it wasn’t drastic: I had some peace and other spiritual things, but I was still in sin.
      <br /><br />
      I remember doing much work at my new job and while working, I kept reading Scripture every morning. I remember
      praying to God, “Ah! If only I could seek You more.” I don’t know if this was an answer to my prayers or not, but
      then Covid-19 happened and I was put in solitude, working from home. I read and read, and in my reading, I prayed.
      The Scripture that opened my eyes up the most was the book of Ecclesiastes: I seen the wisdom of God and the
      futility of life. Also the Book of the Psalms: I had very much conviction because of my sin and knowledge of the
      righteous judgement of God -- which made me hunger and thirst for righteousness all the more. And the book of
      Isaiah, the prophet: the revealing of my own wicked heart and the hope of redemption from it. The Scriptures were
      very bitter to me & like death to me because I didn't obey -- I tried, but I couldn't do. Sin was always there,
      but I hoped in God for redemption. I started at the beginning of the Bible and went on. I seen in my study notes,
      the Christ, but I did not know Him; the Scriptures spoke about Him, but I only knew Him by name.
      <br /><br />
      All the reading through the Old Testament showed me how great Christ is; also, it torn me down to show me how
      fallen I am -- I see now this was so I would not hope in myself for salvation, but God alone. When I got to the
      Gospels, surely I seen the greatness of Jesus Christ. Firstly, the words of Him in my text were red. And He did
      many signs: the devils cried out, the dead were raised, His teachings with authority, and the miracles with power.
      But He died. Even stranger to me, He rose from the dead. I didn’t understand anything. He sends out His
      disciples...
      <br /><br />
      I skipped the other three Gospels and went into the book of Acts. The disciples did the same things that He did:
      they preached, did miracles, and raised the dead. I still did not understand. All the while I was constantly
      getting on my knees to God in prayer because of my sin, knowing that my wicked deeds deserved wickedness. But I
      was persistent, knowing only God could save me. My sins did not stop me from coming to Him because I knew He was
      loving, kind and gracious. But the things which I did not want to do, I constantly did. I did not want to do it,
      but I did it anyway. I had no power in myself to say, "No"; but sin was always there. Many times I thought God
      would strike me because of my wickedness, especially when I would confess my sins to Him; but actually, the
      opposite happened: I was relieved and felt better. But still, I couldn't stop sinning. I would go a few days
      without it, but I would always end up back in it.
      <br /><br />
      I heard the apostle’s sermons about Christ, and seen the effect their word had on people: they burned their
      sorcery books, turned from idols, repented to Jesus. Paul, a preacher, once a persecutor of the church, turned to
      Him through revelation of the living Christ who appeared to Him! Besides him, all the other apostles seen the
      risen Savior. However, the entire Gospel message wasn’t contained in the book of Acts, only a small excerpt of it
      -- a little here and a little there, so I still didn’t understand. However, I sought Christ until I found Him; I
      said to myself, “There’s something about Jesus and I will not let go until I find Him.”
      <br /><br />
      Then I read the book of Romans. The apostle Paul explains Christ. I could trust his testimony because the Lord
      revealed Himself to him on the road to Damascus, electing him to this work. When reading, that’s when Christ came
      alive to me. I seen Christ came for the very problem I had: sin. I did not know He came to earth for me, nor did I
      understand He knew my problem. He came to deliver me from the very problem I had. He didn't expect me to figure it
      out on my own, but He did what I could not do: deliver. And because of the revelation of His love toward me,
      despite my present wickedness, I wept and wept -- for I had not wept in years. I didn't know I had a problem, but
      He revealed the problem and took it away.
      <br /><br />
      Romans 7:14-25 spoke to me directly for that was exactly what I was going through. It was like those very verses
      were put in there for me! I didn’t know what I was going through, but God did; and He showed me. For He knows me
      better than I know me. Only I know me. But if there is a God, He would know me too. He shows me that He knows me.
      And that, better than I know me. For the things in me I cannot explain. But He explains. And better than I could
      ever explain. He delivered me from that which I could not understand. I could not even understand my issue, how
      much less could I deliver myself? I believed nothing, until I believed one thing, and then I believed everything.
      For I said to myself, “If this is true, then so is everything else in this Book.” The one thing I believed is that
      Jesus Christ loved me and gave Himself up for me; and He proved Himself to be very much alive.
      <br /><br />
      From then on, I didn’t cry out because of my sin anymore, but I had joy that He had forgiven me and delivered me
      from my sins -- I had experienced deliverance. The sin I didn’t want to do, I did not do. The chains which
      shackled me fell off. I had a clear mind and I could see what was in there. As I went on, all the commands of the
      apostles were sweet to me, because I did them! I didn't need to be told to be full of joy, be thankful, sing to
      the Lord, live holy, tell others, study to show yourself approved, separate from evil - all these things I did
      because of my love for Him! But in me I also had an anger, "Why didn’t anyone tell me? This death I was living in
      and no-one warned me?" I went outside and everything I seen for years was new to my eyes -- I seen God in
      everything. Everything was beautiful. The glory of the Lord filled the earth to my eyes; before I could see
      nothing.
      <br /><br />
      And now, I have been studying to know more about Him and to know the Gospel. I know what He has done for me, He
      has done the same for all people. I know what has happened to me needs to be replicated in others. I wish for
      others to be saved; and everyone needs to know what Jesus has done for them. The knowledge of Him is everything we
      need. He teaches me through His Word how to speak and act for Him. I have experienced much discipline from the
      Lord, but I know it is for my good that I may be conformed to His image. He disciplines me as a father disciplines
      his son -- to purge the inner-most of my folly. The more I learn of the goodness of Him, the more evil I see in
      me. In repentance & peace I conform my life after His, following Him, not making for myself a pathways of my own,
      but maintaining to His highway -- I know His Way is straight and narrow and leads to eternal life. I was changed
      by God -- who can change me back? He is for me -- who can be against me? If these things are true for me, a big
      sinner, how much more for you? Where sin abounds, His grace abounds the more; those who are forgiven much, love
      the more. Glory be to the only wise God in heaven. Amen.
    </mat-card-content>
  </mat-card>

  <mat-card [@simpleFadeAnimation] appearance="outlined" style="margin: 15px">
    <mat-card-header style="padding: 15px 15px">
      <mat-card-title-group>
        <mat-card-title class="primary-color">Believe</mat-card-title>
        <mat-card-subtitle> All of man's duty to God in this one thing. </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      May the Lord God bless you and keep you, revealing the grace of His Son, Jesus Christ, to you. We don't know where
      we came from -- we can't say what we did a day ago; we don't know where we are going -- we can't say what will
      happen tomorrow. All we know is today; all we know is right now. Today is the day of salvation; right now is the
      time of God's favor. When you hear His voice, do not harden your heart as the Israelites did in the rebellion, as
      they disobeyed in the wilderness when they tested God for 40 years, although they seen His mighty works which were
      on display constantly before them. And even in the wilderness, they seen the cloud covering Mount Sinai, but seen
      no form; as it says,
      <blog-reference-tooltip [reference]="'Exodus 33:20'">
        But He said, "You cannot see My face, for no man can see Me and live!" </blog-reference-tooltip
      >They seen Moses enter the Tent of Meeting and the cloud descend, but seen not God; they seen the pillar of fire
      by night and the pillar of cloud by day, but not the Holy one; they seen the manna from heaven and the water from
      the rock, but not Him who preformed these signs. <br /><br />

      And that latter generation, when Christ came, tested Him and tried Him, but He, graciously putting up with that
      generation for 3 years, although His works were numerous amongst them. Yes, they were constantly seeing His works,
      yet trying Him, questioning His authority, not believing John nor the Christ, seeking for a sign from heaven,
      seeing greater things than the ancients of old, yet not repenting to Him. Yes, do not resemble this generation.
      Who doubting Him, even though they seen Him doing things which were never before seen from the beginning of time
      until that day. So even though God in the flesh, Jesus Christ, appeared to the nation of Israel, making Himself
      known for the sake of their forefathers, they did not believe Him as they did in the wilderness; but surely a
      select few did receive Him by faith. Although seeing Him in the flesh, He was cloaked in the likeness of human
      flesh, and
      <blog-reference-tooltip [reference]="'Isaiah 53:2'">
        He has no stately form or majesty That we should look upon Him, Nor appearance that we should be attracted to
        Him.
      </blog-reference-tooltip>
      And although they seen Him, they were not able to recognize Him, even though the Scriptures which prophesy about
      Him were read every Sabbath and He, fulfilling them. So it is no different for us today than it was for them: they
      needed to receive God without sight and so do we, so that faith would be made possible and the righteousness
      thereof; as it says,
      <blog-reference-tooltip [reference]="'John 16:8-11'" [isJesusWord]="true">
        concerning sin, because they do not believe in Me; and concerning righteousness, because I go to the Father and
        you no longer see Me; </blog-reference-tooltip
      ><br />

      Therefore, let us not be unbelieving and disobedient as these were, but follow the men who are for our examples --
      who were men of faith (Hebrews 11). For all of them who disbelieved, their bodies laid scattered in the
      wilderness; no-one besides two, Caleb and Joshua, entered into the promised land of that generation. And after
      Christ's ministry on earth, having multitudes of followers while He was alive, only 120 were obedient and waited
      in Jerusalem for the promised Holy Spirit. Let us not think to ourselves, "Oh, if only I lived in that day, I
      wouldn't be like them!" For,
      <blog-reference-tooltip [reference]="'Luke 16:31'" [isJesusWord]="true">
        But he said to him, 'If they do not listen to Moses and the Prophets, they will not be persuaded even if someone
        rises from the dead.'
      </blog-reference-tooltip>
      But let us instead fear, lest we ourselves may be found with an unbelieving heart as they did and persihed.
      <br /><br />

      For the root of all disobedience and sin is unbelief. Therefore, let us assure ourselves with the confidence which
      comes from faith in Jesus Christ -- He died for us, was buried, was raised, and now lives, seated at the right
      hand of the Father in heaven. Faith is perception without sight, the conviction of things unseen, the assurance of
      things hoped for. Let us remember the exhortations and exclamations spoken by the Lord to those who would hear and
      believe in Him, producing in themselves a very great faith, having themselves marveled the Lord by their faith,
      and calling to Him for deliverance because they believed He is powerful and able to do. As the examples are found
      in the Scriptures say,
      <blog-reference-tooltip [reference]="'Matthew 8'" [isJesusWord]="true">
        “Lord, my servant is lying paralyzed at home, fearfully tormented.” Jesus said to him, “I will come and heal
        him.” But the centurion said, “Lord, I am not worthy for You to come under my roof, but just say the word, and
        my servant will be healed. Now when Jesus heard this, He marveled and said to those who were following, “Truly I
        say to you, I have not found such <b>great faith</b> with anyone in Israel.
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 15'" [isJesusWord]="true">
        But she came and began to bow down before Him, saying, “Lord, help me!” And He answered and said, “It is not
        good to take the children’s bread and throw it to the dogs.” But she said, “Yes, Lord; but even the dogs feed on
        the crumbs which fall from their masters’ table.” Then Jesus said to her, “O woman, your <b>faith is great</b>;
        it shall be done for you as you wish.” And her daughter was healed at once.
      </blog-reference-tooltip>
      <br />

      Let us, on the other hand, remember the Lord's words to those who doubted in times past and let us not shrink back
      in disbelief and fear, but instead be strengthen by God's grace moving forward, fearlessly, towards the heavenly
      prize which is ours in Christ Jesus. He reprimanded many because of their little faith, as the examples show,
      <blog-reference-tooltip [reference]="'Matthew 6'" [isJesusWord]="true">
        if God so clothes the grass of the field, which is alive today and tomorrow is thrown into the furnace, will He
        not much more clothe you? You of <b>little faith</b>!
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 8'" [isJesusWord]="true">
        And they came to Him and woke Him, saying, “Save us, Lord; we are perishing!” He said to them, "Why are you
        afraid, you men of <b>little faith</b>?” Then He got up and rebuked the winds and the sea, and it became
        perfectly calm.
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 14'" [isJesusWord]="true">
        But seeing the wind, he became frightened, and beginning to sink, he cried out, “Lord, save me!” Immediately
        Jesus stretched out His hand and took hold of him, and said to him, “You of <b>little faith</b>, why did you
        doubt?”
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 17'" [isJesusWord]="true">
        “Lord, have mercy on my son, for he is a lunatic and is very ill; for he often falls into the fire and often
        into the water. I brought him to Your disciples, and they could not cure him.” And Jesus answered and said, "You
        <b>unbelieving and perverse generation</b>, how long shall I be with you? How long shall I put up with you?"
      </blog-reference-tooltip>
      <br />

      It is through faith we are saved, by the grace of our Lord Jesus. It is not starting with faith then being
      perfected by the flesh. No! From faith to faith, from start to finish, faith. If He healed many because of their
      faith, saying to them,
      <blog-reference-tooltip [reference]="'Luke 7:50'" [isJesusWord]="true"
        >Your faith has saved you; go in peace.</blog-reference-tooltip
      >
      And many other such things as these (Luke 5:12; Luke 8:48; Luke 17:19; Luke 18:42), then how can anyone say
      otherwise? For in the gospel the righteousness of God is revealed; as it says,
      <blog-reference-tooltip [reference]="'Romans 1:17'">
        For in it the righteousness of God is revealed from faith to faith; as it is written, "BUT THE RIGHTEOUS man
        SHALL LIVE BY FAITH."
      </blog-reference-tooltip>
      So what is asked of you is to have faith. And what is sufficient is not a faith that is grand, but a faith the
      size of a mere mustard seed. If Christ reprimanded these because of their little faith, then how little that faith
      must have been! Let us consider the prophet Elijah who is a human like us: he prayed that it would not rain and it
      did not rain for three and a half years. Then he prayed again for rain, and it rained just as he asked. And the
      goal of faith?
      <blog-reference-tooltip [reference]="'1 Timothy 1:4-5'">
        rather than furthering the administration of God which is by faith. But the goal of our instruction is love from
        a pure heart and a good conscience and a sincere faith.
      </blog-reference-tooltip>
      <br />

      Let us beware of doubt and fear which are killers of faith. Confusion is the product of being double-minded or
      impure from the blending together of falsehood and truth or this world with the Kingdom of God. The impure have no
      inheritence in the Kingdom of the Father, as it says. So, let us take heed lest we become a waverer ourselves, for
      the things which happened provide examples for us to whom the end of the ages have come; as the doubter in the
      gospel of Mark said,
      <blog-reference-tooltip [reference]="'Mark 9'" [isJesusWord]="true">
        <b>But if You can do anything</b>, take pity on us and help us!” And Jesus said to him, “‘If You can?’ All
        things are possible to him who believes.” Immediately the boy’s father cried out and said, “I do believe; help
        my unbelief.”
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 17'" [isJesusWord]="true">
        <b>“Why could we not drive it out?”</b> And He said to them, “Because of the littleness of your faith; for truly
        I say to you, if you have faith the size of a mustard seed, you will say to this mountain, ‘Move from here to
        there,’ and it will move; and nothing will be impossible to you.
      </blog-reference-tooltip>
      <br />

      When we believe the Word of God, we correct ourselves to it, setting our seal to this: God is true. And this is
      the way of life: heeding to the Word of God, correcting ourselves to Him. The one who disbelieves the warning,
      goes astray; the one who hears and fails to practice what he hears, does likewise. As Wisdom says,
      <blog-reference-tooltip [reference]="'Proverbs 6:23'">
        For the commandment is a lamp and the teaching is light; <b>And reproofs for discipline are the way of life</b>
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Proverbs 10:17'">
        <b>He who keeps instruction is in the way of life</b>, But he who refuses correction goes astray.
      </blog-reference-tooltip>
      So it's holding fast to God's Word which saves; hearing does not make us right with God, but believing. Faith has
      action. If we believe the Word, it will change us. In faith does repentance live; as it says,
      <blog-reference-tooltip [reference]="'Acts 11:18'">
        "Well then, God has granted to the Gentiles also <b>the repentance that leads to life.</b>"
      </blog-reference-tooltip>
      Through faith, we gain knowledge of God and in Him, there is righteousness. No-one is righteous except the only
      God; so if anyone be moral, it's because of the morality that is in God through abiding in Christ, as Christ
      abides in God. No-one has seen God at anytime, but Jesus Christ has made Him known to us -- He is the visible
      image of the invisble God. Through Christ, we can see the Father, imitating Him, not making for ourselves a
      righteousness of our own through the law, but that which is through faith in Jesus Christ; and if it's not by
      works but by faith, then where is the boasting? Will we be able to boast in the sight of God? As Christ Himself
      said,
      <blog-reference-tooltip [reference]="'Mark 10:18'" [isJesusWord]="true">
        Why do you call Me good? there is none good but one, that is, God. </blog-reference-tooltip
      ><br />

      When we believe the Word, we correct ourselves to Him, through rebuke and reproof and discipline. The wise listen
      to correction, but a fool departs from it, not heeding to the Word. For in the teaching is life; as it says,
      <blog-reference-tooltip [reference]="'1 Timothy 4:16'">
        Pay close attention to yourself and <b>to your teaching;</b> persevere in these things, for as you do this you
        will ensure salvation both for yourself and for those who hear you.
      </blog-reference-tooltip>
      The Scriptures make one wise unto salvation, and through wisdom, we grow in the grace of the Lord; but a fool does
      not fear the Lord, but says in His heart, "No God"; he departs from the way of life. In faith and through faith,
      we chose the fear of the Lord unto wisdom unto greater grace unto salvation; as it says,
      <blog-reference-tooltip [reference]="'2 Timothy 3:15'">
        you have known the Holy Scriptures, which are able to make you
        <b>wise for salvation through faith which is in Christ Jesus.</b>
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Luke 2:52'">
        And Jesus increased in wisdom and stature, and in favor with God and men.
      </blog-reference-tooltip>
      Therefore, we ought to love the truth unto salvation; for not in vain does it say,
      <blog-reference-tooltip [reference]="'2 Thessalonians 2:10'">
        because they did not receive the love of the truth so as to be saved. </blog-reference-tooltip
      ><br />

      And this is the favor, the grace, and the truth: although seeing the totality of the depravity of mankind, God did
      not send forth a torrent of fire to devour us, but instead, He sent forth His beloved Son, the Son whom He loves
      and favors, He sent Him forth not to judge the world, but to save it. Although seeing all of the sin of us, He
      sent forth His Son, on whom abides the great love of God, to die for our sins. He knew no sin, but took upon
      Himself our sins so that we may be the righteousness of God; for,
      <blog-reference-tooltip [reference]="'Acts 4:12'">
        And there is salvation in no one else; for there is no other name under heaven that has been given among men by
        which we must be saved. </blog-reference-tooltip
      >He did this, not when we deserved it, but when we least deserved it; when we were deserving of wrath, He gave us
      grace; He loved us in the greatest way possible, while we were yet sinners. He knows our transgressions even while
      they are hidden from our sight, yet Jesus died for us, and that to free us from sin and death. Nothing is hidden
      from His sight and He, seeing our hidden faults, sent His Son into the world to reveal the message of His grace --
      which is not by our works, but to be received through our faith. No-one knows the totality of our sins, or even
      our thoughts, but God, He knows; yet, He did not smite us for the greatness of our sins in His sight, but smote
      His beloved Son -- the punishing of Him brings us peace. He being pure became dirty to make us, the dirty ones,
      clean; He takes away the sin of the world by bearing it upon Himself; as John, the Baptist, says,
      <blog-reference-tooltip [reference]="'John 1:29'">
        The next day John saw Jesus coming toward him, and said, “Behold! The Lamb of God who takes away the sin of the
        world!
      </blog-reference-tooltip>
      And the apostle Paul,
      <blog-reference-tooltip [reference]="'2 Corinthians 5:15'">
        For the love of Christ controls us, having concluded this, that one died for all, therefore all died;
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Titus 2:11'">
        For the grace of God has appeared, bringing salvation to all men,
      </blog-reference-tooltip>
      And that, God raised Him from the dead, for it was impossible for death to hold Him -- He was raised for our
      justificaiton. <br /><br />

      By calling upon His name, crying out to Him -- with a faith that confesses, that truly believes, that searches and
      seeks for the living God despite not being able to see Him -- we are saved in hope. As it says,
      <blog-reference-tooltip [reference]="'Romans 10:13'">
        WHOEVER WILL CALL ON THE NAME OF THE LORD WILL BE SAVED.
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Romans 10:10'">
        for with the heart a person believes, resulting in righteousness,
        <b>and with the mouth he confesses, resulting in salvation.</b>
      </blog-reference-tooltip>
      Come, Lord Jesus!
    </mat-card-content>
  </mat-card>
</div>
