<h3 class="primary-color">Holy, Holy, Holy is He</h3>

<div [@simpleFadeAnimation] style="display: flex; flex-direction: column">
  <mat-card appearance="outlined" style="margin: 15px">
    <mat-card-header style="padding: 15px 15px">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title-group>
        <mat-card-title class="primary-color">My name is Kurtis</mat-card-title>
        <mat-card-subtitle> Below is my testimony and a brief message of encouragement. </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      Before Covid-19, I had just gotten my first full time job, experienced military life and college. "What is left,
      but to get married, have kids, and die?" I said to myself, “Surely life isn’t here, but where?” I started seeking.
      I figured human-kind doesn’t know; if they did, wouldn’t they tell me? But all my life no-one told me. I don't
      remember seeing a street preacher; nor do I remember anything spectacular in church. We were the family that went
      during the holidays and once in a while outside of that, but it wasn't anything to me, and nothing stood out.
      <br /><br />

      I seen the churches that were claiming God, weren't trying to convince me of God, so they must not really know
      themselves - for the one who is convinced, convinces others. I also seen that they were very popular - on every
      street corner. I said to myself, “Surely if truth exists, only a few would know it. The truth wouldn't be popular,
      would it?" For one, is not the truth a mystery? And two, can't it painful? But yet, I believed the truth existed;
      and I searched for it. I figured God would leave evidence of Himself and wouldn't leave us in the dark.
      <br /><br />

      I started to open my Bible; my mom had given it to me. She was on a journey herself with God and gave all her
      possessions to the poor. I said “What? This is from God?” Then she moved out of the state. That made me want to
      seek all the more. So I opened up my Bible and remembered the change it had on my life; although the change was
      quick, it wasn’t drastic: I had some peace and other spiritual things, but I was still in sin. But still, I kept
      searching and reading. I knew the Bible was God's Word, even from the moment I read it; and the more I read, the
      more my thinking changed.
      <br /><br />

      I remember doing much work at my new job; while working, I kept reading Scripture every morning. I remember
      praying to God, “Ah! If only I could seek You more.” I don’t know if this was an answer to my prayers or not, but
      Covid-19 happened and I was put in solitude, working from home. I read and read, and in my reading, I prayed. The
      Scripture that opened my eyes up the most was the book of Ecclesiastes: I seen the wisdom of God and the futility
      of life. Also the Book of the Psalms: I had very much conviction because of my sin and knowledge of the righteous
      judgment of God - which made me hunger and thirst for righteousness all the more. And the book of Isaiah, the
      prophet: the revealing of my own wicked heart and the hope of redemption from it. The Scriptures were very bitter
      to me & like death because I didn't obey - I tried, but I couldn't. Sin was always there, but I hoped in God for
      redemption. I started at the beginning of the Bible and went on. I seen in my study notes, the Christ, but I did
      not know Him personally; the Scriptures spoke about Him, but I only knew Him by name.
      <br /><br />

      All the reading through the Old Covenant showed me how great Christ was; also, it torn me down to show me how
      fallen I am (I see now this was so I would not hope in myself for salvation, but God alone). When I got to the
      Gospel, surely I seen the greatness of Jesus Christ. Firstly, the words of Him in my text are red. And He did many
      signs and miracles: the devils cried out, the dead were raised, His teachings with authority, and the miracles
      with power. But He died. Even stranger to me, He rose from the dead. I didn’t understand anything. He sends out
      His disciples to preach the very things they seen.
      <br /><br />

      I skipped the other three Gospels and went on into the book of Acts. The disciples did the same things that He
      did: they preached, did miracles, and raised the dead. I still did not understand. All the while I was constantly
      getting on my knees to God in prayer because of my sin, knowing that my wicked deeds deserved wickedness. But I
      was persistent, knowing only God could save me. My sins did not stop me from coming to Him because I knew He was
      loving and kind and gracious. But the things which I did not want to do, I constantly did. I did not want to do
      it, but I did it anyway. I had no power in myself to say, "No" - sin was always there. Many times I thought God
      would strike me because of my wickedness, especially when I would confess my sins to Him; but actually, the
      opposite happened: I was relieved and felt better. But still, I couldn't stop sinning. I would go a few days
      without it, but I would always end up back in it.
      <br /><br />

      I heard the apostle’s sermons about Christ, and seen the effect their word had on people: they burned their
      sorcery books, turned from idols, repented to Jesus. Paul, a preacher, once a persecutor of the church, turned to
      Him through revelation of the living Christ who appeared to Him. Besides him, all the other apostles seen the
      risen Savior. However, the entire Gospel message wasn’t contained in the book of Acts, only a small excerpt of it
      - a little here and a little there. I still didn’t understand. However, I sought Christ until I found Him; I said
      to myself, “There’s something about Jesus and I will not let go until I find Him.”
      <br /><br />

      Then I read the book of Romans. The apostle Paul explains Christ. I could trust his testimony because the Lord
      revealed Himself on the road to Damascus, electing him to the work of spreading the Gospel. When reading, that’s
      when Christ came alive to me. I seen Christ came for the very problem I had: sin. I did not know He came to earth
      for me, for my sin, nor did I understand He knew my problem. He came to deliver me from the very problem I had. He
      didn't expect me to figure it out on my own, but He did what I could not do: deliver. And because of the
      revelation of His love toward me, despite my present wickedness, I wept and wept - I had not wept in years. I
      didn't know I had a problem, but He revealed the problem and took it away by His work on the cross.
      <br /><br />

      Romans 7:14-25 spoke to me directly for that was exactly what I was going through. It was like those very verses
      were put in there for me. I didn’t know what I was going through, but God did; and He showed me. For He knows me
      better than I know me. Only I know me. But if there is a God, He would know me too. He shows me that He knows me.
      And that, better than I know me. For the things in me I cannot explain. But He explains. And better than I could
      ever explain. He delivered me from that which I could not understand. I could not even understand my issue, how
      much less could I deliver myself? I believed nothing until I believed one thing, then I believed everything. For I
      said to myself, “If this is true, then so is everything else in this Book.” The one thing I believed is that Jesus
      Christ loved me and gave Himself up for me; and He proved Himself to be alive.
      <br /><br />

      From then on, I didn’t cry out because of my sin anymore because I had joy that He had forgiven me and delivered
      me from my sins - I had experienced deliverance. The sin I didn’t want to do, I did not do. The chains which
      shackled me fell off. I had a clear mind and I could see what was in there. As I went on, all the commands of the
      apostles were sweet to me, because I did them! I didn't need to be told to be full of joy, be thankful, sing to
      the Lord, live holy, tell others, study, separate from evil - all these things I did because of my love for Him!
      But in me I also had anger, "Why didn’t anyone tell me? This death I was living in and no-one warned me?" I went
      outside and everything I seen for years was new to my eyes - I seen God in everything. Everything was beautiful.
      The glory of the Lord filled the earth to my eyes; before I could see nothing.
      <br /><br />

      And now, I have been studying to know more about Him, to know the Gospel. I know what He has done for me, He has
      also done for all people. I know what has happened to me needs to be replicated in others. I wish for others to be
      saved; and everyone needs to know what Jesus has done. The true knowledge of Him is what we need. He teaches me
      through His Word how to speak and act for Him. I have experienced much discipline from the Lord, but I know it is
      for my good, that I may be conformed to His image. He disciplines me as a father disciplines his son - to purge
      from me my inner-most folly. The more I learn of the goodness of Him, the more evil I see in me. In repentance &
      peace I conform my life to His, following Him, not making for myself a pathway of my own, but maintaining to His
      highway - I know His Way is straight and narrow and leads to eternal life, I know Jesus is the Way.<br /><br />

      I was changed by God - who can change me back? He is for me - who can be against me? If these things are true for
      me, a massive sinner, how much more you? For the things in which I was living in I cannot even write. Where sin
      abounds, His grace abounds more; those who are forgiven much, love more. Glory be to the only wise God in heaven
      who redeemed us through His own blood, loving us in truth, who seen our sins and came to deliver us from our sins.
      Amen.
    </mat-card-content>
  </mat-card>

  <mat-card [@simpleFadeAnimation] appearance="outlined" style="margin: 15px">
    <mat-card-header style="padding: 15px 15px">
      <mat-card-title-group>
        <mat-card-title class="primary-color">Believe in the Son of God: Jesus Christ</mat-card-title>
        <mat-card-subtitle> All of man's duty to God in found in this one thing. </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      Greetings. We don't know where we came from - we can't say what we did a day ago; we don't know where we are going
      - we can't say what we will do tomorrow. All we know is today; all we know is right now - and even that we don't
      know! Today is the day of salvation; right now is the time of God's favor. When you hear the Spirit of His Word,
      do not harden your heart as the Israelites did in the rebellion, when they disobeyed in the wilderness, when they
      tested God for 40 years, although they seen His mighty works which were on display constantly before their eyes;
      and even today, we do see His works, for we live in His work; and today, we have His Word. But we do not see Him
      who does these works, neither Him who speaks these words. For in the wilderness, they seen the cloud covering
      Mount Sinai, but not the form of Him; as it says,
      <blog-reference-tooltip [reference]="'Exodus 33:20'">
        You cannot see My face, for no man can see Me and live! </blog-reference-tooltip
      >They seen Moses enter the Tent of Meeting, and the cloud descended, but not God; they seen the pillar of fire by
      night and the pillar of cloud by day, but not the Holy one; they seen the manna from heaven and the water from the
      rock, but not Him who preformed these signs. They seen Moses, who preformed the signs of God, but not God. For
      they had good news preached to them, through word and deed, but it did not profit them because it was not united
      in them by faith. And this is faith, and this is belief: perception without seeing, the conviction of things
      unseen, the assurance of things hoped for. For faith is made possible only with the unseen.<br /><br />

      And that latter generation when Christ came tested Him and tried Him, and He was graciously putting up with them;
      and that generation, for years, although seeing His works, which were numerous among them - yes, they were
      constantly seeing His works, yet trying Him, questioning His authority, and not believing Him, even John who was
      sent before Him, they did not believe him - were seeking a sign from heaven, although they were seeing greater
      signs than their ancestors which they constantly read about; but yet they did not repent to Him so they may be
      healed for they did not believe in Him; and they were hardened and became blind to the truth. And they, fulfilling
      Scripture, treated Christ shamefully even in the same way their ancestors treated the prophets; and the very
      Scriptures that they read every Sabbath, they were fulfilling them, unknowingly. Yes, do not resemble that
      generation, who doubted, even though they seen things that were never before seen: God in the flesh, in Jesus
      Christ, appearing to the nation of Israel, making Himself known by signs and miracles for the sake of their
      forefathers. The majority did not believe Him, but a select few did receive Him, receiving the promise of eternal
      life by faith in His name. For although the majority seen Jesus in the flesh, it did not profit them because they
      did not believe Him; for althought seeing Him, they still needed to believe, for He was hidden in the vessel of
      human flesh; and
      <blog-reference-tooltip [reference]="'Isaiah 53:2'">
        He has no stately form or majesty That we should look upon Him, Nor appearance that we should be attracted to
        Him.
      </blog-reference-tooltip>
      Or even,
      <blog-reference-tooltip reference="Job 9:11">
        Were He to pass by me, I would not see Him; Were He to move past me, I would not perceive Him.
      </blog-reference-tooltip>
      So although they seen Him, they were not able to recognize Him, even though the Scriptures prophesy about Him, and
      they heard them every Sabbath; and He, fulfilling them, was amongst them, but their eyes were darkened for they
      did not believe the Word which was written. For the true way to see Christ is with the eyes of faith, not with the
      eyes of the flesh, in the Spirit, not in the flesh, from a heavenly view, not an earthly; this is true sight which
      is by hearing, and hearing the Word of Christ.
      <br /><br />

      What do we say then? Although they seen His signs and heard His words and walked with Him, and yet disbelieved,
      how can we do any better? Not so. It is because they did not believe the Word of God, nor the word of Moses; if
      they had, they would have believed Christ; as He says,
      <blog-reference-tooltip [reference]="'John 5:46-47'" [isJesusWord]="true">
        For if you believed Moses, you would believe Me, for he wrote about Me. But if you do not believe his writings,
        how will you believe My words?
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Luke 16:31'" [isJesusWord]="true">
        If they do not listen to Moses and the Prophets, they will not be persuaded even if someone rises from the dead.
      </blog-reference-tooltip>
      For it is no different for us today than it was for them: they needed to receive Jesus by faith, and so do we, so
      that faith would be possible and the righteousness thereof; as Jesus says,
      <blog-reference-tooltip [reference]="'John 16:7-11'" [isJesusWord]="true">
        And concerning righteousness, because I go to the Father and you no longer see Me.
      </blog-reference-tooltip>
      For faith comes only when we no longer see Him; if we did see Him as He is, then faith would no longer be
      possible. But they who did see Him in the flesh were hardened so they would not believe Him; as it says,
      <blog-reference-tooltip [reference]="'Acts 28:26-27'">
        You will keep on hearing, but will not understand; and you will keep on seeing, but will not perceive; for the
        heart of this people has become dull, and with their eyes they scarcely hear, and they have closed their eyes;
        otherwise they might see with their eyes, and hear with their ears, and understand with their heart and return,
        and I would heal them.
      </blog-reference-tooltip>
      And that because they did not believe the Scriptures which told of Him beforehand. And they were hardened that the
      Good News might come to the Gentiles; as it says,
      <blog-reference-tooltip [reference]="'Romans 11:11'">
        I say then, they did not stumble so as to fall, did they? May it never be! But by their transgression salvation
        has come to the Gentiles, to make them jealous.
      </blog-reference-tooltip>
      For all things which are spiritual are unseen. And God is Spirit; all those who receive Him must receive Him
      through spiritual means: that of faith. And this is the Gospel, the New Testament, the New Covenant: believe in
      Jesus Christ whom the Father has sent. This is the work of God (John 6:28-29).
      <br /><br />

      Therefore, let us see the Lord's words to those who doubted in that generation and let us not resemble them nor
      shrink back in disbelief or fear; instead, let us be strengthen in God's grace moving forward towards the heavenly
      prize which is ours in Christ Jesus. He reprimanded many because of their lack of faith; as these passages show:
      <blog-reference-tooltip [reference]="'Matthew 8:24'" [isJesusWord]="true">
        And they came to Him and woke Him, saying, “Save us, Lord; we are perishing!” He said to them, "Why are you
        afraid, <b>you men of little faith</b>?” Then He got up and rebuked the winds and the sea, and it became
        perfectly calm.
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 14:30-31'" [isJesusWord]="true">
        But seeing the wind, he became frightened, and beginning to sink, he cried out, “Lord, save me!” Immediately
        Jesus stretched out His hand and took hold of him, and said to him, “<b>You of little faith</b>, why did you
        doubt?”
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 17:15-17'" [isJesusWord]="true">
        Lord, have mercy on my son, for he is a lunatic and is very ill; for he often falls into the fire and often into
        the water. I brought him to Your disciples, and they could not cure him.” And Jesus answered and said, "<b
          >You unbelieving and perverse generation</b
        >, how long shall I be with you? How long shall I put up with you?"
      </blog-reference-tooltip>
      He did not reprove them because of sin, but because of their faithlessness. Such are confused from being
      double-minded, from being blended together with falsehood and truth, from fellowship with the world and the
      Kingdom of God, from being in and out, hesitating between two opinions, from being hot and cold; and sight becomes
      like a drunken man, wavering to and fro, like a ship tossed about by the waves of the sea, setting the eye on the
      earthly and the other on the heavenly; vision becomes double and sight clouded; a drunkard is not stable in any of
      his ways. This is why it says, "Love the Lord your God with <b>all</b> your heart, and <b>all</b> your soul, and
      <b>all</b> your mind." (Deuteronomy 6:5) So let us beware lest we become a waverer ourselves, for the things which
      happened before-hand provide examples for us to whom the end of the age has come. For the root of all disobedience
      and sin is unbelief. <br /><br />

      So let us not be unbelieving and disobedient as these previous generations were, but instead, let us follow the
      men who were given to us as examples, who are men of faith (Hebrews 11). For to the believer, the things which are
      considered impossible are possible; as it says,
      <blog-reference-tooltip [reference]="'Mark 9:22-23'" [isJesusWord]="true">
        But if You can do anything, take pity on us and help us!” And Jesus said to him, “‘If You can?’
        <b>All things are possible to him who believes.</b>” Immediately the boy’s father cried out and said, “I do
        believe; help my unbelief.”
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 17:19-20'" [isJesusWord]="true">
        “Why could we not drive it out?” And He said to them, “Because of the littleness of your faith; for truly I say
        to you, if you have faith the size of a mustard seed, you will say to this mountain, ‘Move from here to there,’
        and it will move; <b>and nothing will be impossible to you.</b>
      </blog-reference-tooltip>
      And all of them who disbelieved, their bodies laid scattered in the wilderness as a testimony to us today; and not
      one, besides two, Caleb and Joshua, entered into the promised land of that generation in the wilderness. And after
      Christ's ministry, having multitudes of followers while He was alive, only 120 were obedient and waited in
      Jerusalem for power from on High. Let us not think to ourselves, "Oh, if only I lived in that day, I wouldn't be
      like them!" For, again,
      <blog-reference-tooltip [reference]="'Luke 16:31'" [isJesusWord]="true">
        If they do not listen to Moses and the Prophets, they will not be persuaded even if someone rises from the dead.
      </blog-reference-tooltip>
      But let us on the other hand, fear, lest we ourselves may be found with an unbelieving and wicked heart as they
      had and perished. For although having eyes, they did not see, and ears, they did not hear. Generations come and
      generations go, but all repeat themselves; for there is nothing new under the sun. The same as it was back then,
      it is today. Albeit that we all leave this place, we all will come back by the resurrection of the dead for
      everlasting judgment, to receive the recompense of our deeds which are done in the body; and God has elected
      Christ to sit on His judgment seat to judge the world in righteousness. So knowing the terror of the Lord, we
      convince others, for the fear of the LORD is the beginning of wisdom; and through wisdom the church, the house of
      God, is built.
      <br /><br />

      So let us see with the confidence which comes from faith in Christ Jesus, that He died, He was buried, and He was
      raised, and now lives, seated at the right hand of the Father in heaven. You may say, "Good for Him, what does
      that have to do with me?" It was for your sins that He died, granting the forgiveness of sins and the deliverence
      from death thereof; and the deliverence from slavery of sin through His broken body, to be grafted to Himself by
      faith in the everlasting Word of God; that you may be declared righteous, not by a law of works, but by a law of
      faith, through the knowledge of the goodness of God towards you in Christ Jesus, through His loving-compassion and
      mercy, through His beloved Son, Jesus Christ, who reconciled you to God by taking upon Himself the wrath due to us
      so that we would serve God in the newness of the Spirit and life, not in the oldness of the letter of the law of
      death - for the law condemns, but the Spirit gives life (and these words written to you are Spirit and truth). No
      longer is it said, "How does the Lord love me?" For He has proven His love toward us in that,
      <blog-reference-tooltip [reference]="'Romans 5:6'">
        While we were still helpless, at the right time Christ died for the ungodly.
      </blog-reference-tooltip>
      And to all of us - Jew and Gentile, male and female, slave and free - from the beginning of time to the end, we
      are brought near to God through faith in Jesus Christ. And,
      <blog-reference-tooltip [reference]="'Romans 4:16'">
        For this reason it is by faith, in order that it may be in accordance with grace.
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Romans 11:6'">
        If it is by grace, it is no longer on the basis of works, otherwise grace is no longer grace.
      </blog-reference-tooltip>
      We are saved by grace; and it is the gift of God, not by our works, otherwise it would no longer be grace; for
      grace is a gift, and gifts merit no work - otherwise it would no longer be a gift. For what have you done for your
      birthday gift? Or what did you do to be born? Likewise, Christ gave Himself, even while we were deserving wrath,
      He gave His life, so that, by the grace of God, Jesus would taste death for everyone; and if it by grace and not
      works, who then can boast? For God sees to it that no-one come to Him with any boast in the mouth, except the
      boast of His name. <br /><br />

      And this is the grace and the truth: seeing the depravity of mankind, God did not send forth a torrent of fire to
      devour, but instead, He sent forth His beloved Son, the Son whom He loves and favors, He sent Him forth not to
      judge the world, but to save it. Although seeing the unseen nature of all of us, He sent forth His Son, on whom
      abides the great love of God, to die for our sins - and who is worthy for such a thing? He who knew no sin, took
      upon Himself our sins, so that we might walk in the newness of the righteousness of God. All are turned out of the
      way by the deed of one man, Adam, and brought near through the deed of One other, Jesus Christ; for it says,
      <blog-reference-tooltip [reference]="'Acts 4:12'">
        And there is salvation in no one else; for there is no other name under heaven that has been given among men by
        which we must be saved. </blog-reference-tooltip
      >He did this not while we deserved it, but while we least deserved it, while we were deserving of wrath, He gave
      us the gift of grace. He loved us in the greatest way possible while we were fit for great wrath as sinners; for
      He knows our transgressions, even while they are hidden, yet Jesus died for us openly, and that, to free us from
      our hidden sins and death; that which we are ashamed of, Christ bore, and He is not ashamed to call us His
      brethren. Nothing is hidden from God's sight and He, seeing our hidden faults, sent His Son into the world to
      reveal the message of His grace, which is to be received through faith, and faith in the Message of the Son of God
      who loved us. No-one knows the totality of our sins, or even our thoughts, but God knows; yet, He did not smite us
      for the greatness of our sins that we deserve. No, but smote His beloved Son, as the Rock in the wilderness
      (Exodus 17:6) to bring forth living water; for the punishing of Him brings forth peace with God our Father. And He
      being pure became dirty to make us clean; He takes away the sin of the world by bearing it upon Himself; as John,
      the Baptist, says,
      <blog-reference-tooltip [reference]="'John 1:29'">
        Behold! The Lamb of God who takes away the sin of the world!
      </blog-reference-tooltip>
      And the apostle Paul,
      <blog-reference-tooltip [reference]="'Titus 2:11'">
        For the grace of God has appeared, bringing salvation to all men
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'2 Corinthians 5:14-15'">
        For the love of Christ controls us, having concluded this, that one died for all, therefore all died; and He
        died for all, so that they who live might no longer live for themselves, but for Him who died and rose again on
        their behalf.
      </blog-reference-tooltip>
      For He made us to pass through the water of purification that we would be made new. And after three days were
      spent, God raised Him from the dead, for it was impossible for death to hold Him - He was raised for our
      justification; and, “For if while we were enemies we were reconciled to God through the death of His Son, much
      more, having been reconciled, we shall be saved by His life.” (Romans 5:10).<br /><br />

      So let us rejoice and see the exhortations and exclamations spoken by the Lord Himself to those who would hear and
      believe in Him, producing in themselves a very great faith, having themselves marveled the Lord by their faith,
      and called to Him for deliverance because they believed He is powerful and able to do. For these, not being of
      Hebrew descent, were Gentiles and marveled the Lord by their faith; as the examples in the Scriptures say,
      <blog-reference-tooltip [reference]="'Matthew 8:6-10'" [isJesusWord]="true">
        <b>Truly I say to you, I have not found such great faith with anyone in Israel.</b>
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 15:25-28'" [isJesusWord]="true">
        O woman, your <b>faith is great</b>; it shall be done for you as you wish.
      </blog-reference-tooltip>
      For God, justifying the righteous and even the wicked by the same very faith, showed before-time with Rehab, who
      was a prostitute, yet was saved, she and her household, by believing God; as she believed and hid the messengers
      of God, and said,
      <blog-reference-tooltip [reference]="'Joshua 2:9-11'">
        When we heard it, our hearts melted and no courage remained in any man any longer because of you;
        <b>for the LORD your God, He is God in heaven above and on earth beneath.</b>"
      </blog-reference-tooltip>
      Likewise, was not the thief on the cross promised salvation because of his faith? As he said,
      <blog-reference-tooltip [reference]="'Luke 23:40-42'">
        Do you not even fear God, since you are under the same sentence of condemnation? And we indeed are suffering
        justly, for we are receiving what we deserve for our deeds; but this man has done nothing wrong. Jesus, remember
        me when You come in Your kingdom!
      </blog-reference-tooltip>
      Or what about the prayer of the man who loved money, being a tax collector, who prayed to God humbling himself in
      His sight? Wasn't he justified by what he said?
      <blog-reference-tooltip [reference]="'Luke 18:10-14'" [isJesusWord]="true">
        'God, be merciful to me, the sinner!' I tell you, this man went to his house justified rather than the other
        (the righteous man); for everyone who exalts himself will be humbled, but he who humbles himself will be
        exalted.
      </blog-reference-tooltip>
      As it is written,
      <blog-reference-tooltip [reference]="'Romans 4:3-7'">
        But to the one who does not work, <b>but believes in Him who justifies the ungodly</b>, his faith is credited as
        righteousness. </blog-reference-tooltip
      ><br /><br />

      Thus, it is through faith we are saved, by the grace of the Lord Jesus; and we do not start with faith, then try
      to be perfected by the power of human flesh. No! It is from faith to faith, from start to finish, that of faith,
      which is believing; as the apostle Paul says,
      <blog-reference-tooltip [reference]="'Galatians 3:2-3'">
        This is the only thing I want to find out from you: did you receive the Spirit by the works of the Law, or by
        hearing with faith? Are you so foolish? Having begun by the Spirit, are you now being perfected by the flesh?
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Hebrews 12:1-2'">
        fixing our eyes on Jesus, <b>the author and perfecter of faith</b>
      </blog-reference-tooltip>
      So if He healed many because of their faith, saying to them,
      <blog-reference-tooltip [reference]="'Luke 7:50'" [isJesusWord]="true"
        >Your faith has saved you; go in peace.</blog-reference-tooltip
      >
      And many other such things as these - Luke 5:12; Luke 8:48; Luke 17:19; Luke 18:42 - then how can anyone say
      anything otherwise? For in the Gospel the righteousness of God is revealed:
      <blog-reference-tooltip [reference]="'Romans 1:17'">
        For in it the righteousness of God is revealed <b>from faith to faith</b>; as it is written, "BUT THE RIGHTEOUS
        man SHALL LIVE BY FAITH."
      </blog-reference-tooltip>
      And what is sufficient is not a faith that is grand, but the faith the size of a mustard seed. If Christ
      reprimanded them because of their little faith, then how little faith must have been! Let us consider the prophet
      Elijah who is a human like us: he prayed that it would not rain and it did not rain for three and a half years.
      Then he prayed again for rain, and it rained just as he asked. And the goal of faith?
      <blog-reference-tooltip [reference]="'1 Timothy 1:4-5'">
        But the goal of our instruction is love from a pure heart and a good conscience and a sincere faith.
      </blog-reference-tooltip>
      And love fulfills the entirety of the law, for love does no wrong to a neighbor. And the conscience in our heart
      bears witness to the truth so that we would confess our sins.
      <br /><br />

      We believe the Word of God, therefore we correct ourselves to it, setting our seal to this: God is true.
      Therefore, let every man be a liar. And this is the way of life: heeding to the Word of God and correcting
      ourselves to it. The one who disbelieves the warning, goes astray; the one who hears and fails to practice what he
      hears, does likewise; as Wisdom says,
      <blog-reference-tooltip [reference]="'Proverbs 6:23'">
        For the commandment is a lamp and the teaching is light; <b>And reproofs for discipline are the way of life</b>
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Proverbs 10:17'">
        <b>He who keeps instruction is in the way of life</b>, But he who refuses correction goes astray.
      </blog-reference-tooltip>
      So it's holding fast to God's Word which saves by the resurrection of Christ; hearing does not make us right with
      God, but believing. Faith is action. If we believe the Word, it will change us - in faith, does repentance live;
      as it says,
      <blog-reference-tooltip [reference]="'Acts 11:18'">
        Well then, God has granted to the Gentiles also <b>the repentance that leads to life.</b>
      </blog-reference-tooltip>
      Or,
      <blog-reference-tooltip [reference]="'Romans 2:4'">
        do you think lightly of the riches of His kindness and tolerance and patience, not knowing that the kindness of
        God leads you to repentance?
      </blog-reference-tooltip>
      Through faith, we gain knowledge of God, and in Him, there is righteousness. No-one is righteous except God; as it
      says,
      <blog-reference-tooltip [reference]="'Mark 10:18'" [isJesusWord]="true">
        Why do you call Me good? there is none good but one, that is, God.
      </blog-reference-tooltip>
      So if anyone be moral, it's because of the morality that is in God through abiding in Christ, just as Christ
      abides in God. No-one has seen God at anytime, but Jesus Christ has made Him known to us - He is the visible image
      of the invisble God, and He alone has seen His form. Through Christ, we see the Father; and by faith in Christ, by
      imitating Him, we obtain to the righteousness of God the Father; for salvation is of God, and the way of life is
      not within ourselves; as it says,
      <blog-reference-tooltip [reference]="'Jeremiah 10:23'"
        >I know, O LORD, that a man's way is not in himself, Nor is it in a man who walks to direct his
        steps.</blog-reference-tooltip
      >
      And,
      <blog-reference-tooltip [reference]="'Job 40:11-14'">
        Pour out the overflowings of your anger, And look on everyone who is proud, and make him low. Look on everyone
        who is proud, and humble him, And tread down the wicked where they stand. Hide them in the dust together; Bind
        them in the hidden place. Then I will also confess to you, That your own right hand can save you.
      </blog-reference-tooltip>
      But righteoueness and holiness are in God alone. Therefore abide in Him!
      <br /><br />

      We who believe, correct ourselves to the Word of God; we do so through rebuke, reproof and discipline. If the
      Father considers us His own, He will chasten us; also, we are not lacking in the correction from God's family
      which we have been adopted into. For this is walking in love: reproving (Leviticus 19:17). And the wise listen to
      correction, but a fool departs from it; and a fool does not heed to the Word, closing his eyes, he delights in
      wickedness. For in the teaching is salvation; for the word of God revives us through faith; as it says,
      <blog-reference-tooltip [reference]="'1 Timothy 4:16'">
        Pay close attention to yourself and to your teaching; persevere in these things,
        <b>for as you do this you will ensure salvation both for yourself and for those who hear you.</b>
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Psalm 119:107'">
        I am exceedingly afflicted; Revive me, O LORD, according to Your word.
      </blog-reference-tooltip>
      The Scriptures make one wise unto salvation, and through wisdom, we grow in the grace of the Lord; but a fool does
      not fear the Lord, but says in His heart, "No God", thus he walks in the way of death. In faith and through faith,
      we chose the fear of the Lord unto wisdom unto greater grace unto salvation; as it says,
      <blog-reference-tooltip [reference]="'2 Timothy 3:15'">
        you have known the Holy Scriptures, which are able to make you
        <b>wise for salvation through faith which is in Christ Jesus.</b>
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Luke 2:52'">
        And Jesus increased in wisdom and stature, and in favor with God and men.
      </blog-reference-tooltip>
      Therefore, we love the truth unto salvation; for in vain it does not say,
      <blog-reference-tooltip [reference]="'2 Thessalonians 2:10'">
        because they did not receive the love of the truth so as to be saved. </blog-reference-tooltip
      ><br /><br />

      Therefore, by calling upon His name, crying out to Him with a faith that confesses, that believes, that searches
      and seeks for the living God, despite not being able to see Him, we are saved in hope, and a hope that is seen is
      not hope at all, for who hopes in that which he sees? We hope in the salvation of God: although we may sleep, we
      will not perish; although we may stumble, we will not fall away; and it says,
      <blog-reference-tooltip [reference]="'Romans 10:13'">
        WHOEVER WILL CALL ON THE NAME OF THE LORD WILL BE SAVED.
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Romans 10:10'">
        for with the heart a person believes, resulting in righteousness,
        <b>and with the mouth he confesses, resulting in salvation.</b>
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'2 Corinthians 4:13-14'">
        But having the same spirit of faith, according to what is written, "I BELIEVED, THEREFORE I SPOKE," we also
        believe, therefore we also speak, knowing that He who raised the Lord Jesus will raise us also with Jesus and
        will present us with you.
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'1 John 4:2-15'">
        By this you know the Spirit of God: every spirit that confesses that Jesus Christ has come in the flesh is from
        God; (...) Whoever confesses that Jesus is the Son of God, God abides in him, and he in God.
      </blog-reference-tooltip>
      For the life is in Christ, and to all who abide in Him enter into life by faith; as it says, “He who has the Son
      has the life; he who does not have the Son of God does not have the life. These things I have written to you who
      believe in the name of the Son of God, so that you may know that you have eternal life.” (1 John 5:12-13) Come,
      Lord Jesus!
    </mat-card-content>
  </mat-card>
</div>
