.example-header-image {
  background-image: url("../../assets/pics/me.JPG");
  background-size: cover;
  height: 37px;
  width: 38px;
  margin-bottom: unset;
  zoom: 4;
}

:host {
  display: block;
  max-width: 1211px;
}
