@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

html {
  //start with light theme
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: light,
        use-system-variables: true,
      ),
      typography: (
        plain-family: sans-serif,
        brand-family: sans-serif,
        use-system-variables: true,
      ),
      density: 0,
    )
  );
}

html {
  .light-mode {
    color-scheme: light;
    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          theme-type: light,
          use-system-variables: true,
        ),
      )
    );
  }

  .dark-mode {
    color-scheme: dark;
    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          theme-type: dark,
          use-system-variables: true,
        ),
      )
    );
  }
}

html .light-mode {
  color-scheme: light;
  --orange-color: #da6b00;
  --yellow-color: #b2ae29;
  --green-color: #388e3c;
  --purple-color: #7b1fa2;
  --pink-color: #c913b7;
  --cyan-color: #0a8282;
  --light-green-color: #7fa07b;
}

html .dark-mode {
  color-scheme: dark;
  --orange-color: #ffb74d;
  --yellow-color: #fff176;
  --green-color: #81c784;
  --purple-color: #e1bee7;
  --pink-color: #f37deb;
  --cyan-color: #15fafa;
  --light-green-color: #c1f4bb;
}

.light-green-color {
  color: var(--light-green-color);
}

.pink-color {
  color: var(--pink-color);
}

.cyan-color {
  color: var(--cyan-color);
}

.red-color {
  color: var(--mat-sys-error);
}

.orange-color {
  color: var(--orange-color);
}

.yellow-color {
  color: var(--yellow-color);
}

.green-color {
  color: var(--green-color);
}

.blue-color {
  color: var(--mat-sys-primary);
}

.purple-color {
  color: var(--purple-color);
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

a {
  text-decoration: underline;
  color: var(--mat-sys-primary);
}

.primary-color {
  color: var(--mat-sys-primary);
}

.error-color {
  color: var(--mat-sys-error);
}

.mat-caption {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 500;
  width: 90%;
}
