@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

html {
  //start with light theme
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: light,
        use-system-variables: true,
      ),
      typography: (
        plain-family: sans-serif,
        brand-family: sans-serif,
        use-system-variables: true,
      ),
      density: 0,
    )
  );
}

html {
  .light-mode {
    color-scheme: light;
    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          theme-type: light,
          use-system-variables: true,
        ),
      )
    );
  }

  .dark-mode {
    color-scheme: dark;
    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          theme-type: dark,
          use-system-variables: true,
        ),
      )
    );
  }
}

:root {
  --rainbow-red: light-dark(#d32f2f, #ff8a80);
  --rainbow-orange: light-dark(#da6b00, #ffb74d);
  --rainbow-yellow: light-dark(#a29d1e, #fff176);
  --rainbow-green: light-dark(#388e3c, #81c784);
  --rainbow-blue: light-dark(#1976d2, #64b5f6);
  --rainbow-purple: light-dark(#7b1fa2, #e1bee7);
}

.red-color {
  color: var(--mat-sys-error);
}

.orange-color {
  color: var(--rainbow-orange);
}

.yellow-color {
  color: var(--rainbow-yellow);
}

.green-color {
  color: var(--rainbow-green);
}

.blue-color {
  color: var(--mat-sys-primary);
}

.purple-color {
  color: var(--rainbow-purple);
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

a {
  text-decoration: underline;
  color: var(--mat-sys-primary);
}

.primary-color {
  color: var(--mat-sys-primary);
}

.error-color {
  color: var(--mat-sys-error);
}

.mat-caption {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 500;
}
