@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

html {
  //start with light theme
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: light,
        use-system-variables: true,
      ),
      typography: (
        plain-family: sans-serif,
        brand-family: sans-serif,
        use-system-variables: true,
      ),
      density: 0,
    )
  );
}

html {
  .light-mode {
    color-scheme: light;
    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          theme-type: light,
          use-system-variables: true,
        ),
      )
    );
  }

  .dark-mode {
    color-scheme: dark;
    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          theme-type: dark,
          use-system-variables: true,
        ),
      )
    );
  }
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

a {
  text-decoration: underline;
  color: var(--mat-sys-primary);
}

.primary-color {
  color: var(--mat-sys-primary);
}

.error-color {
  color: var(--mat-sys-error);
}

.mat-caption {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 500;
}
