<router-outlet></router-outlet>

<h1 style="padding: 15px 0px 0px" class="primary-color">Keep the faith</h1>
<h1 style="padding: 15px 15px 0px" class="primary-color">Tracts</h1>
<h6 class="mat-caption" style="margin: 0px 17px">
  Using bookmarks as tracts has a two-fold purpose: it points to the Word of God
  for reading and gives the Gospel, offering a continual reminder of the Good
  News. You can print these off with the double-sided setting and cut along the
  dotted lines and then laminate them. I hope this helps even with creating your
  own tracts.
</h6>

<mat-list role="list">
  <mat-list-item role="listitem"
    ><a href="assets/tract/bookmark - unfailing love of God.pdf" target="_blank"
      >Unfailing Love of God</a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a href="assets/tract/faithfulloveofGod.pdf" target="_blank"
      >Faithful Love of God</a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a href="assets/tract/The promised gift of God.pdf" target="_blank"
      >The Promised Gift of God</a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a href="assets/tract/thegoodnewsofgraceandtruth.pdf" target="_blank"
      >The Good News of Grace & Truth</a
    ></mat-list-item
  >
</mat-list>
