<router-outlet></router-outlet>

<h1 style="padding: 15px 0px 0px" class="primary-color">Keep the faith</h1>
<h1 style="padding: 15px 15px 0px" class="primary-color">Tracts</h1>
<h6 class="mat-caption" style="margin: 0px 17px">
  Using bookmarks has a two-fold purpose: it points to the Word of God for
  reading and gives the Gospel, offering a continual reminder of the Good News.
  You can print these off as double-sided and cut along the dotted lines and
  then laminate them. I hope this helps also with creating your own.
</h6>
