@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: (
        plain-family: sans-serif,
        brand-family: sans-serif,
      ),
    )
  );
}

html {
  height: 100%;
}

body {
  margin: unset;
}
