<mat-card class="card" [class]="{ 'section-light': isLightMode, 'section-dark': !isLightMode, floater: isFloater }">
  <mat-card-header>
    <mat-card-title-group style="justify-content: center">
      <mat-card-title class="headers">
        <ng-content select=".headers"></ng-content>
      </mat-card-title>
      <mat-card-subtitle>
        <lib-narrator [text]="paragraphContent?.innerText" [buttonStyle]="narratorStyle.Fab"> </lib-narrator>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content class="card-content" [class]="{ 'regular-content': !isFloater, 'floater-content': isFloater }">
    <div #paragraphContent>
      @defer(on viewport(paragraphContent); when !isDefer) {
      <ng-content select=".paragraphs"></ng-content>
      } @placeholder { @if (!isDefer) {
      <ng-content select=".paragraphs"></ng-content>
      } @else {
      <mat-spinner aria-labelledby="Loading bar" aria-label="Loading bar" style="justify-self: center"></mat-spinner>
      } }
    </div>
  </mat-card-content>
</mat-card>
