<div class="header">
  <mat-toolbar>
    <mat-toolbar-row>
      <img
        width="42"
        height="42"
        src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/50/external-eagle-in-the-wild-flaticons-lineal-color-flat-icons-2.png"
        alt="external-eagle-in-the-wild-flaticons-lineal-color-flat-icons-2"
        style="margin-right: 7px"
      />
      <span>Dave's Drywall and Painting</span>
      <span style="flex: 1 1 auto"></span>

      <button
        mat-icon-button
        aria-labelledby="Settings button"
        aria-label="Settings button"
        [matTooltip]="'App Settings'"
        [matMenuTriggerFor]="settingsMenu"
      >
        <fa-icon [icon]="settingsIcon" [size]="'3x'"></fa-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <lib-settings-widget [storageName]="storageName" (onSave)="save($event)"></lib-settings-widget>
      </mat-menu>
    </mat-toolbar-row>

    @if(afterFirstRender) {
    <mat-toolbar-row [@fadeInOut]>
      <ng-container *ngTemplateOutlet="phoneNumber"></ng-container>
    </mat-toolbar-row>
    }

    <ng-template #phoneNumber>
      <span>Free Estimates</span>
      <span style="flex: 1 1 auto"></span>
      <a href="tel:+16054965690" class="phone-number-link">
        <fa-icon [icon]="phoneIcon"></fa-icon>
        +1 (605) 496-5690
      </a>
    </ng-template>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
