.scoll-to-top {
  position: fixed;
  float: left;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.navigate-button {
  width: 100%;
}

.button-items {
  display: flex;
  width: 100%;

  & > span {
    flex: 1 1 100%;
  }

  & > fa-icon {
    flex: 1 1 10%;
  }
}

.mat-drawer-content {
  overflow: hidden;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 7777777777777777777777;
}
