<div class="container-form" style="margin: 0px 17px">
  <gospel-page-header>
    <h1 #seoTitle>Drawings</h1>
    <h2>The Good News</h2>
  </gospel-page-header>
  <div class="mat-caption" #seoCaption>
    “But solid food is for the mature, who because of practice have their senses trained to discern good and evil.” (Heb
    5:14)
  </div>

  <mat-grid-list [cols]="columns" rowHeight="1.1:2" gutterSize="5" style="padding-top: 8px">
    <mat-grid-tile *ngFor="let image of this.images">
      <mat-grid-tile-header style="text-decoration: underline; cursor: pointer">
        <lib-link [link]="baseUrl + '/drawings/draw/' + image.id">
          <div style="display: flex; align-items: baseline">
            <h3>{{ image.name }}</h3>
            <lib-fa-icon [icon]="faLink" style="padding-left: 4px; font-size: large"></lib-fa-icon>
          </div>
        </lib-link>
      </mat-grid-tile-header>
      <mat-grid-tile-footer>{{ image.footer }}</mat-grid-tile-footer>
      <div>
        <img [ngSrc]="image.originUrl" [alt]="image.name" fill style="object-fit: contain" />
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
