@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: (
        plain-family: sans-serif,
        brand-family: sans-serif,
      ),
    )
  );
}

:root {
  @include mat.badge-overrides(
    (
      background-color: var(--mat-sys-primary),
    )
  );

  @include mat.toolbar-overrides(
    (
      container-text-color: var(--mat-sys-primary),
      // container-background-color: var(--mat-sys-background),
    )
  );
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--mat-sys-on-background);
  background-color: var(--mat-sys-background);
}

a {
  text-decoration: underline;
  color: var(--mat-sys-primary);
}

.primary-color {
  color: var(--mat-sys-primary);
}
