<div style="display: flex; flex-direction: column">
  <mat-card [@simpleFadeAnimation] appearance="outlined" style="margin: 15px">
    <mat-card-header style="padding: 15px 15px">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title-group>
        <mat-card-title class="primary-color"></mat-card-title>
        <mat-card-subtitle> </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content> Content tester </mat-card-content>
  </mat-card>
</div>
