<form [formGroup]="form">
  <!-- readonly && -->
  <div class="editor" [ngClass]="{ limitTextHeight: isEmpty && !isReadMore }">
    <ngx-editor-menu *ngIf="!readonly" [editor]="editor" [toolbar]="toolbar">
    </ngx-editor-menu>
    <ngx-editor
      class="ngx-editor"
      [editor]="editor"
      formControlName="editorContent"
      [placeholder]="'Type here...'"
    >
    </ngx-editor>
  </div>

  <!-- *ngIf="readonly" -->
  <button *ngIf="isEmpty" mat-flat-button type="button" (click)="showText()">
    {{ !isReadMore ? "Read More" : "Read Less" }}
  </button>
</form>
