.header-card {
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 8px;
}

.header-light {
  color-scheme: light;
}

.header-dark {
  color-scheme: dark;
  color: var(--mat-sys-on-surface);
}
