.large-image {
  object-fit: contain;
  background-size: cover;
  position: relative !important;
}

.product-options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.product-option {
  margin: 15px 20px;
  height: 50px;
}
