.reference {
  font-style: italic;
  // padding-left: 77px;
  // padding-right: 77px;
  // padding-top: 10px;
  // padding-bottom: 10px;
}

.JesusWord {
  color: red;
  font-style: unset;
  font-weight: bold;
}
