@use "@angular/material" as mat;
@use "sass:map";

@import "../../../node_modules/fullpage.js/dist/fullpage.min.css";

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
  border-radius: var(--mat-sys-corner-medium);
  color: var(--mat-sys-on-primary);
  box-shadow: var(--mat-sys-level3);
}

#fp-nav ul li,
.fp-slidesNav ul li {
  padding: 5px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  height: 6px;
  width: 6px;
}

.fp-slidesNav {
  text-align: center;
}

@include mat.core();

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: (
        plain-family: sans-serif,
        brand-family: sans-serif,
      ),
    )
  );
}

html {
  @include mat.fab-overrides(
    (
      small-container-color: #00458f,
      container-color: #00458f,
      small-foreground-color: white,
      foreground-color: white,
    )
  );
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: #00458f,
    )
  );
}

.gospel-app {
  overflow-x: hidden;
}

.mat-expansion-panel-body > button {
  text-decoration: underline !important;
}

.gospel-body {
  overflow-x: hidden !important;
}

.primary {
  color: var(--mat-sys-primary);
}

.mat-caption {
  font-size: 14px;
  padding: 7px;
}

.mat-typography h3 {
  font-size: 24px;
  font-weight: 450;
  margin-top: 0;
  margin-bottom: 12px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography p {
  margin: unset;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: unset;
}

.mdc-list-item.mdc-list-item--with-three-lines .mdc-list-item__start,
.mdc-list-item.mdc-list-item--with-two-lines .mdc-list-item__start,
.mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__start {
  margin-top: unset !important;
  text-align: center !important;
  align-self: center !important;
  cursor: pointer !important;
  // font-size: large;
}

mat-list-item {
  cursor: pointer !important;
}

.mdc-list-item:hover .mdc-list-item__primary-text {
  cursor: pointer !important;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.pswp__caption__center {
  max-width: 1111px !important;
}

*,
::after,
::before {
  box-sizing: unset !important;
}

.main-content {
  flex: 1 1 80%;
}

.page {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: underline;
  color: var(--mat-sys-primary);
}

.mat-drawer-container {
  background-color: white !important;
  overflow: unset !important;
}

.container-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
