<div class="header">
  <mat-toolbar>
    @if(isMobile()) {
    <button mat-icon-button aria-labelledby="Menu button" aria-label="Menu button" [matMenuTriggerFor]="navigationMenu">
      <fa-icon [icon]="menuIcon"></fa-icon>
    </button>
    <button mat-button (click)="goHome()"><h1>Toastmasters</h1></button>

    <mat-menu #navigationMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="moreInformation">About</button>
      <button mat-menu-item (click)="goContact()">Contact</button>
    </mat-menu>
    } @else {
    <button mat-button (click)="goHome()"><h1>Toastmasters</h1></button>
    <button mat-button [matMenuTriggerFor]="moreInformation">
      <span> About </span>
      <fa-icon [icon]="downArrowIcon"></fa-icon>
    </button>
    <button mat-button (click)="goContact()">Contact</button>
    }

    <span style="flex: 1 1 auto"></span>
    <button mat-button (click)="goBlog()" style="margin-right: 5px">News</button>

    <mat-menu #moreInformation="matMenu">
      <button mat-menu-item (click)="goLocation()">Location</button>
      <button mat-menu-item (click)="goMembership()">Membership</button>
    </mat-menu>

    <button
      mat-icon-button
      aria-labelledby="Settings button"
      aria-label="Settings button"
      [matTooltip]="'App Settings'"
      [matMenuTriggerFor]="settingsMenu"
    >
      <fa-icon [icon]="settingsIcon"></fa-icon>
    </button>
    <mat-menu #settingsMenu="matMenu">
      <lib-settings-widget [storageName]="storageName" (onSave)="save($event)">
        <lib-auth-settings (onLogOut)="navigateToServer()" (onLogIn)="navigateToServer()"></lib-auth-settings>
      </lib-settings-widget>
    </mat-menu>
  </mat-toolbar>
</div>

<div style="display: block; min-height: 100vh">
  <router-outlet></router-outlet>
</div>

<mat-divider style="width: 100%"></mat-divider>

<div class="footer">
  <div class="footer-image" style="background-position: top">
    <img fill style="object-position: top; object-fit: contain" [ngSrc]="'/assets/toastmasters.webp'" alt="" priority />
  </div>

  <div class="footer-message">
    <div>Example footer message.</div>
    <div class="contact-info-container">
      <a href="tel:+16054965690" class="primary-color">
        <fa-icon [icon]="phoneIcon"></fa-icon>
        +1 (605) 496-5690
      </a>

      <a href="mailto:toastmasterssot@gmail.com" class="primary-color">
        <fa-icon [icon]="emailIcon"></fa-icon>
        toastmasterssot&#64;gmail.com
      </a>
    </div>
  </div>

  <lib-share
    [youtubeLink]="'https://www.youtube.com'"
    [linkedinLink]="'https://www.linkedin.com'"
    [facebookLink]="'https://facebook.com'"
  ></lib-share>
</div>
