<h1>My Cart</h1>
<mat-list>
  @for(product of cartProducts$ | async; track product) {
  <mat-list-item>
    <div matListItemIcon matRipple (click)="selectProduct(product.id)" style="cursor: pointer">
      <img [ngSrc]="product.image" [alt]="product.subtitle" fill style="object-fit: contain; background-size: cover" />
    </div>
    <span matListItemTitle>{{ product.name }}</span>
    <mat-card-subtitle matListItemMeta>{{ product.subtitle }}</mat-card-subtitle>
    <mat-button-toggle-group matListItemMeta name="size" aria-label="Size" [(ngModel)]="product.size">
      <mat-button-toggle value="small">S</mat-button-toggle>
      <mat-button-toggle value="medium">M</mat-button-toggle>
      <mat-button-toggle value="large">L</mat-button-toggle>
      <mat-button-toggle value="xlarge">XL</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field appearance="outline" subscriptSizing="dynamic" matListItemMeta>
      <mat-label>Quantity</mat-label>
      <input
        matInput
        aria-label="Quantity Input"
        aria-labelledby="Quantity Input"
        type="number"
        step="1"
        min="1"
        [(ngModel)]="product.count"
      />
    </mat-form-field>
    <button matButton (click)="updateCart(product)" matListItemMeta>Update</button>
    <button mat-icon-button (click)="deleteCart(product)" matListItemMeta>
      <fa-icon [icon]="trashIcon"></fa-icon>
    </button>
  </mat-list-item>
  }
</mat-list>
