<h1>My Cart</h1>
<div style="display: flex; flex-direction: column">
  <mat-list>
    @for(product of cartProducts$ | async; track product) {
    <mat-list-item lines="3">
      <img
        matListItemAvatar
        class="product-image"
        (click)="selectProduct(product.id)"
        [ngSrc]="product.image"
        [alt]="product.name"
        fill
      />
      <span matListItemTitle>{{ product.name }}</span>
      <span matListItemLine>{{ product.size.charAt(0).toUpperCase() + product.size.slice(1) }}</span>
      <span matListItemLine>{{ product.price | currency: "USD" }}</span>

      <button mat-icon-button (click)="openEditDialog(product)" matListItemMeta class="cart-button">
        <fa-icon [icon]="updateIcon"></fa-icon>
      </button>
      <button mat-icon-button (click)="deleteCart(product)" matListItemMeta class="cart-button">
        <fa-icon [icon]="trashIcon"></fa-icon>
      </button>
    </mat-list-item>
    }
  </mat-list>
  <div class="pay-module"></div>
</div>
