<div class="study-item" *ngFor="let study of pagedStudies()">
  <div class="study-title primary-color">
    <blog-link [link]="'https://thelightof.life/studies/study-detail/' + study.id"
      >{{ study.title }}
      <lib-fa-icon [icon]="faLink" style="padding-left: 2px"></lib-fa-icon>
    </blog-link>
  </div>
  <div>{{ study.date | date: "short" }}</div>

  @if(update) {
  <button mat-flat-button (click)="doUpdate(study)">Update</button>
  <lib-text-editor [document]="study.json" (editorChanged)="updatedJson = $event"></lib-text-editor>
  } @else {
  <lib-readonly-text-editor [html]="study?.json?.toString()"></lib-readonly-text-editor>
  }

  <mat-divider></mat-divider>
</div>

<mat-paginator
  [length]="total"
  [showFirstLastButtons]="true"
  [pageSize]="5"
  (page)="onPageChange($event)"
></mat-paginator>
