:host {
  display: block;
}

.header-title {
  letter-spacing: 5px;
  padding-bottom: 40px;
  font-size: 38px !important;
}

.header-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.opening-messages {
  display: flex;
}

.opening-messages > * {
  padding: 12px;
}

button {
  margin: 3px;
}

.header-caption {
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.header-title,
.header-pane,
.header-caption {
  z-index: 1;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  justify-content: center;
}

p {
  padding-bottom: 7px;
}

.w3-container {
  margin: 0.01em 16px;
  width: calc(100% - 16px * 2);
  min-height: 250px;
}

.w3-container:after,
.w3-container:before {
  content: "";
  display: table;
  clear: both;
}

.w3-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.w3-center {
  display: inline-block;
  text-align: center !important;
  align-content: center;
}
