<div class="home-container">
  <div class="header-pane" style="line-height: 35px">
    <h1 class="header-title primary" [libAnimationWatcher]="slideInFromRight">THE LIGHT OF LIFE</h1>
    <h2 class="header-caption">
      In the dark, one must
      <om-highlighter action="circle" [color]="'var(--mat-sys-primary)'" [animationDuration]="2000">
        feel
      </om-highlighter>
      their way around, for there is
      <om-highlighter action="box" [color]="'var(--mat-sys-primary)'" [animationDuration]="2000"
        >no light</om-highlighter
      >
      for them to see by;
    </h2>
    <h2 class="header-caption">
      but
      <om-highlighter
        action="highlight"
        [color]="'var(--mat-sys-primary)'"
        style="color: var(--mat-sys-on-primary)"
        [animationDuration]="2000"
      >
        Jesus Christ</om-highlighter
      >
      came into the world as
      <om-highlighter action="box" [color]="'var(--mat-sys-primary)'" [animationDuration]="2000"
        >the Light of the world</om-highlighter
      >, so that men might walk by Him and have
      <om-highlighter action="underline" [color]="'var(--mat-sys-primary)'" [animationDuration]="2000"
        >THE LIGHT OF LIFE</om-highlighter
      >
    </h2>

    <div class="opening-messages">
      <div [libAnimationWatcher]="slideInFromLeft">
        <h3>My Testimony</h3>
        <lib-narrator [downloadLink]="'v1785707836/audio/my-testimony.mp3'"> </lib-narrator>
      </div>

      <div [libAnimationWatcher]="slideInFromLeft">
        <h3>One Thing: Believe in Jesus</h3>
        <lib-narrator [downloadLink]="'v1785721783/audio/one-thing-believe.mp3'"> </lib-narrator>
      </div>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="w3-container w3-padding-64 w3-center">
  <div #gospelHeader>
    <h2 [libAnimationWatcher]="slideInFromRight">THE GOOD NEWS</h2>
  </div>

  <div #gospelSubHeader>
    <p [libAnimationWatcher]="slideInFromLeft">
      Understand the problem with the present world and believe the Good News about the Kingdom of God
    </p>
    <div class="download-buttons">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        matIconButton
        [matTooltip]="'Audio Book'"
        [disabled]="isDownloading()"
        (click)="downloadZip(`${baseUrl}/assets/audios/the-good-news-of-the-kingdom-of-god.zip`)"
        aria-labelledby="Download button"
        aria-label="Download button"
      >
        <lib-fa-icon [icon]="zipFileIcon"></lib-fa-icon>
      </button>

      <lib-link [link]="`${baseUrl}/assets/tracts/the-good-news-of-the-kingdom-of-god.pdf`">
        <button
          [libAnimationWatcher]="slideInFromLeft"
          matIconButton
          [matTooltip]="'E-Book'"
          aria-labelledby="Download EBook button"
          aria-label="Download EBook button"
        >
          <lib-fa-icon [icon]="pdfIcon"></lib-fa-icon>
        </button>
      </lib-link>

      <lib-link [link]="'https://www.amazon.com/dp/B0GGZTZ2MV'">
        <button
          [libAnimationWatcher]="slideInFromLeft"
          [matTooltip]="'Print Book'"
          matIconButton
          aria-labelledby="Print Book button"
          aria-label="Print Book button"
        >
          <lib-fa-icon [icon]="amazonIcon"></lib-fa-icon>
        </button>
      </lib-link>

      @if (isDownloading()) {
      <mat-progress-bar mode="determinate" [value]="progress()"></mat-progress-bar>
      }
    </div>
    <div class="button-section-group">
      <lib-link [link]="`${baseUrl}/truth#the-danger`" [isNewPage]="false">
        <button
          [libAnimationWatcher]="slideInFromLeft"
          matButton="elevated"
          aria-labelledby="The Danger button"
          aria-label="The Danger button"
          class="red-theme-dark-mode"
        >
          <lib-fa-icon [icon]="deathIcon"></lib-fa-icon>
          THE DANGER
        </button>
      </lib-link>
      <lib-link [link]="`${baseUrl}/truth#the-futility`" [isNewPage]="false">
        <button
          [libAnimationWatcher]="slideInFromLeft"
          matButton="elevated"
          aria-labelledby="The Futility button"
          aria-label="The Futility button"
          class="red-theme-dark-mode"
        >
          <lib-fa-icon [icon]="deathIcon"></lib-fa-icon>
          THE FUTILITY
        </button>
      </lib-link>
      <lib-link [link]="`${baseUrl}/truth#the-safety`" [isNewPage]="false">
        <button
          [libAnimationWatcher]="slideInFromLeft"
          matButton="elevated"
          aria-labelledby="The Saftey button"
          aria-label="The Saftey button"
          class="light-mode"
        >
          <lib-fa-icon [icon]="gospelIcon"></lib-fa-icon>
          THE SAFETY
        </button>
      </lib-link>
      <lib-link [link]="`${baseUrl}/truth#the-call`" [isNewPage]="false">
        <button
          [libAnimationWatcher]="slideInFromLeft"
          matButton="elevated"
          aria-labelledby="The Call button"
          aria-label="The Call button"
          class="light-mode"
        >
          <lib-fa-icon [icon]="gospelIcon"></lib-fa-icon>
          THE CALL
        </button>
      </lib-link>
      <lib-link [link]="`${baseUrl}/truth#our-response`" [isNewPage]="false">
        <button
          [libAnimationWatcher]="slideInFromLeft"
          matButton="elevated"
          aria-labelledby="Our Response button"
          aria-label="Our Response button"
          class="red-theme-light-mode"
        >
          <lib-fa-icon [icon]="responseIcon"></lib-fa-icon>
          OUR RESPONSE
        </button>
      </lib-link>
      <lib-link [link]="`${baseUrl}/truth#the-day-of-the-lord`" [isNewPage]="false">
        <button
          [libAnimationWatcher]="slideInFromLeft"
          matButton="elevated"
          aria-labelledby="The Day of the Lord button"
          aria-label="The Day of the Lord button"
          class="red-theme-light-mode"
        >
          <lib-fa-icon [icon]="responseIcon"></lib-fa-icon>
          THE DAY OF THE LORD
        </button>
      </lib-link>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="w3-container w3-padding-64 w3-center">
  <div #bibleHeader>
    <h2 [libAnimationWatcher]="slideInFromRight">THE SCRIPTURES</h2>
  </div>

  <div #bibleSubHeader>
    <p [libAnimationWatcher]="slideInFromLeft">Read the Holy Scriptures in your native tongue</p>
    <lib-link [link]="'https://thewordof.life'">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        (click)="navigateToBibleApp()"
        aria-labelledby="Open Bible button"
        aria-label="Open Bible button"
      >
        <lib-fa-icon [icon]="bibleIcon"></lib-fa-icon>

        OPEN THE BIBLE
      </button>
    </lib-link>
  </div>
</div>

<mat-divider></mat-divider>

<div class="w3-container w3-padding-64 w3-center">
  <div #tractsHeader>
    <h2 [libAnimationWatcher]="slideInFromRight">TRACTS</h2>
  </div>

  <div #tractsSubHeader>
    <p [libAnimationWatcher]="slideInFromLeft">We don't ask anything from you, but to give yourself to the Lord</p>
    <p [libAnimationWatcher]="slideInFromLeft">Here are bibles and tracts to encourage you in that</p>
    <lib-link [link]="`${baseUrl}/tracts`" [isNewPage]="false">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        aria-labelledby="Tracts button"
        aria-label="Tracts button"
      >
        <lib-fa-icon [icon]="tractsIcon"></lib-fa-icon>
        TRACTS
      </button>
    </lib-link>
  </div>
</div>

<mat-divider></mat-divider>

<div class="w3-container w3-padding-64 w3-center">
  <div #blogsHeader>
    <h2 [libAnimationWatcher]="slideInFromRight">BLOGS</h2>
  </div>

  <div #blogsSubHeader>
    <p [libAnimationWatcher]="slideInFromLeft">Learn more about relevant topics for Christian living</p>
    <lib-link [link]="`${baseUrl}/edifications`" [isNewPage]="false">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        aria-labelledby="Edifications button"
        aria-label="Edifications button"
      >
        <lib-fa-icon [icon]="blogIcon"></lib-fa-icon>
        EDIFICATIONS
      </button>
    </lib-link>
    <lib-link [link]="`${baseUrl}/discernments`" [isNewPage]="false">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        aria-labelledby="Discernments button"
        aria-label="Discernments button"
      >
        <lib-fa-icon [icon]="discernIcon"></lib-fa-icon>
        DISCERNMENTS
      </button>
    </lib-link>
    <lib-link [link]="`${baseUrl}/insights`" [isNewPage]="false">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        aria-labelledby="Insights button"
        aria-label="Insights button"
      >
        <lib-fa-icon [icon]="insightIcon"></lib-fa-icon>
        INSIGHTS
      </button>
    </lib-link>
    <lib-link [link]="`${baseUrl}/poems`" [isNewPage]="false">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        aria-labelledby="Poems button"
        aria-label="Poems button"
      >
        <lib-fa-icon [icon]="psalmIcon"></lib-fa-icon>
        POEMS
      </button>
    </lib-link>
    <lib-link [link]="`${baseUrl}/studies`" [isNewPage]="false">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        aria-labelledby="Studies button"
        aria-label="Studies button"
      >
        <lib-fa-icon [icon]="studyIcon"></lib-fa-icon>
        STUDIES
      </button>
    </lib-link>
    <lib-link [link]="`${baseUrl}/drawings`" [isNewPage]="false">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        aria-labelledby="Drawings button"
        aria-label="Drawings button"
      >
        <lib-fa-icon [icon]="drawingIcon"></lib-fa-icon>
        DRAWINGS
      </button>
    </lib-link>
  </div>
</div>

<mat-divider></mat-divider>

<div class="w3-container w3-padding-64 w3-center">
  <div #aboutHeader>
    <h2 [libAnimationWatcher]="slideInFromRight">INFORMATION</h2>
  </div>

  <div #aboutSubHeader>
    <p [libAnimationWatcher]="slideInFromLeft">Learn more about the author's testimony and send him a message</p>
    <lib-link [link]="`${baseUrl}/home`" [isNewPage]="false">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        aria-labelledby="Open About Page button"
        aria-label="Open About Page button"
      >
        <lib-fa-icon [icon]="homeIcon"></lib-fa-icon>

        ABOUT
      </button>
    </lib-link>
    <lib-link [link]="`${baseUrl}/contact`" [isNewPage]="false">
      <button
        [libAnimationWatcher]="slideInFromLeft"
        mat-flat-button
        aria-labelledby="Contact button"
        aria-label="Contact button"
      >
        <lib-fa-icon [icon]="mailIcon"></lib-fa-icon>

        CONTACT
      </button>
    </lib-link>
  </div>
</div>

<mat-divider></mat-divider>

<div class="w3-container w3-padding-64 w3-center">
  <div #settingsHeader>
    <h2 [libAnimationWatcher]="slideInFromRight">SETTINGS</h2>
  </div>

  <div #settingsSubHeader>
    <p [libAnimationWatcher]="slideInFromLeft">
      The text to speech service uses an artificial voice, but the text was written by the author
    </p>
    <p [libAnimationWatcher]="slideInFromLeft">
      Use the settings widget in the top right corner to change the settings
    </p>
  </div>
</div>
