<div class="header">
  <mat-toolbar>
    @if(isMobile()) {
    <button mat-icon-button aria-labelledby="Menu button" aria-label="Menu button" [matMenuTriggerFor]="navigationMenu">
      <fa-icon [icon]="menuIcon"></fa-icon>
    </button>

    <mat-menu #navigationMenu="matMenu">
      <button mat-menu-item (click)="goHome()">Home</button>
      <button mat-menu-item (click)="goStore()">Store</button>
      <button mat-menu-item (click)="goCart()">Cart</button>
    </mat-menu>
    } @else {
    <button matButton (click)="goHome()"><h1>Flares of Glory</h1></button>
    <button matButton (click)="goStore()">Store</button>

    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button (click)="goCart()" [matBadge]="cartItemTotal$ | async">
      <fa-icon [icon]="cartIcon"></fa-icon>
    </button>
    }

    <button
      mat-icon-button
      aria-labelledby="Settings button"
      aria-label="Settings button"
      [matTooltip]="'App Settings'"
      [matMenuTriggerFor]="settingsMenu"
    >
      <fa-icon [icon]="settingsIcon"></fa-icon>
    </button>
    <mat-menu #settingsMenu="matMenu">
      <lib-settings-widget [storageName]="storageName" (onSave)="save($event)"></lib-settings-widget>
    </mat-menu>
  </mat-toolbar>
</div>

<div style="display: block; min-height: 100vh">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <mat-divider style="width: 100%"></mat-divider>

  <div class="footer-image" style="background-position: top">
    <img fill style="object-position: top; object-fit: contain" [ngSrc]="'../../assets/logo.webp'" alt="" priority />
  </div>

  <div class="footer-message">
    This is an example message. Makale fill this out. This is an example message. Makale fill this out. This is an
    example message. Makale fill this out. This is an example message. Makale fill this out. This is an example message.
    Makale fill this out. This is an example message. Makale fill this out. This is an example message. Makale fill this
    out. This is an example message. Makale fill this out.
  </div>

  <lib-share
    [youtubeLink]="'https://www.youtube.com'"
    [linkedinLink]="'https://www.linkedin.com'"
    [facebookLink]="'https://facebook.com'"
  ></lib-share>
</div>
