<div class="checkout-page">
  <mat-card appearance="raised" class="checkout-card">
    <mat-card-header>
      <mat-card-title>Checkout </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper linear #stepper>
        <mat-step [stepControl]="contactForm">
          <form [formGroup]="contactForm" style="margin: 10px">
            <ng-template matStepLabel>Contact Information</ng-template>
            <div style="display: flex; flex-direction: column; gap: 5px; width: 100%">
              <mat-form-field appearance="outline" style="flex: 1">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
              <mat-form-field appearance="outline" style="flex: 1">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" placeholder="you@example.com" />
                <mat-hint>We'll never share your information.</mat-hint>
              </mat-form-field>
              <button style="margin-top: 14px" matButton="filled" matStepperNext (click)="saveAddress()">Save</button>
            </div>
          </form>
        </mat-step>
        <!-- <mat-step>
          <ng-template matStepLabel>Shipping Method</ng-template>
        </mat-step> -->
        <mat-step>
          <ng-template matStepLabel>Payment Method</ng-template>
          @if(isPlatformBrowser) {
          <div style="padding: 20px">
            <ngx-paypal ngSkipHydration [config]="paypalConfig"></ngx-paypal>
          </div>
          }
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title> Order Summary </mat-card-title>
      <mat-card-subtitle>
        <button mat-button (click)="goCart()" style="text-decoration: underline">
          Modify Order
        </button></mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for(product of cartProducts(); track $index) {
        <mat-list-item lines="3">
          <img matListItemAvatar class="product-image" [ngSrc]="product.image" [alt]="product.name" fill priority />
          <span matListItemTitle>{{ product.name }}</span>
          <span matListItemLine
            >Size: {{ product.size }} @if(product.colors) {
            <span>| Color: {{ product.color }}</span>
            }</span
          >
          <span matListItemLine>Quantity: {{ product.count }} | Price: {{ product.price | currency: "USD" }}</span>
        </mat-list-item>
        }
      </mat-list>

      <mat-divider></mat-divider>

      <div>
        <div class="total-section">
          <h4>Sub Total</h4>
          <span>{{ total$ | async | currency: "USD" }}</span>
        </div>
        @if(isCustomerDetailsEntered()) {
        <div class="total-section">
          <h5>Sales Tax</h5>
          <span>{{ calculateSalesTax() | currency: "USD" }}</span>
        </div>
        <div class="total-section">
          <h5>Shipping</h5>
          <span>{{ calculateShippingCosts() | currency: "USD" }}</span>
        </div>
        <div class="total-section">
          <h3>Total</h3>
          <span>{{ calculateTotalCosts() | currency: "USD" }}</span>
        </div>
        } @else{
        <span> Shipping and taxes will be calculated after an address is provided. </span>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
