<!-- #region INTRODUCTION -->
<div class="wedding-image" style="background-position: top" #toGospel>
  <img fill style="object-position: top" [ngSrc]="'v1711590013/img/Mat25L_dzpagk.webp'" alt="" priority />

  <div class="header-pane">
    <h2 class="header-title" style="text-transform: uppercase">The Good News of the Kingdom</h2>
    @if(!isMobile()){
    <blog-reference-tooltip
      style="display: block"
      class="header-caption"
      [padding]="'0px 100px'"
      [reference]="'Romans 1:16-19'"
    >
      For I am not ashamed of the gospel, for it is the power of God for salvation to everyone who believes, to the Jew
      first and also to the Greek. For in it the righteousness of God is revealed from faith to faith; as it is written,
      "BUT THE RIGHTEOUS SHALL LIVE BY FAITH." For the wrath of God is revealed from heaven against all ungodliness and
      unrighteousness of men who suppress the truth in unrighteousness, because that which is known about God is evident
      within them; for God made it evident to them.
    </blog-reference-tooltip>

    <mat-accordion class="menu" style="text-transform: unset">
      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>THE DANGER - SIN</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('theSinNature')">The Sin Nature</button>
          <button mat-button (click)="toAnchor('GodKnows')">God Knows</button>
          <button mat-button (click)="toAnchor('aConsumingFire')">God Is A Consuming Fire</button>
          <button mat-button (click)="toAnchor('theDayOfJudgement')">The Day Of Judgement</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>THE FUTILITY - DEATH</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('theLoveOfPleasure')">The Love Of Pleasure</button>
          <button mat-button (click)="toAnchor('workAndToil')">Work And Toil</button>
          <button mat-button (click)="toAnchor('theLoveOfWealth')">The Love Of Wealth</button>
          <button mat-button (click)="toAnchor('theDayOfDeath')">The Day Of Death</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>THE SAFETY - GRACE</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('theServantOfGod')">The Servant Of God</button>
          <button mat-button (click)="toAnchor('theBronzeSerpent')">The Bronze Serpent</button>
          <button mat-button (click)="toAnchor('theVictor')">The Victor</button>
          <button mat-button (click)="toAnchor('theLambOfGod')">The Lamb Of God</button>
          <button mat-button (click)="toAnchor('theLion')">The Lion</button>
          <button mat-button (click)="toAnchor('theScapegoat')">The Scapegoat</button>
          <button mat-button (click)="toAnchor('theTrueFoodAndTheTrueDrink')">True Food And True Drink</button>
          <button mat-button (click)="toAnchor('theDoorOfEternalSalvation')">The Door Of Eternal Salvation</button>
          <button mat-button (click)="toAnchor('theRockOfOurSalvation')">The Rock Of Our Salvation</button>
          <button mat-button (click)="toAnchor('theSonOfGod')">The Son Of God</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>THE CALL - FAITH</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('theRaceOfFaith')">The Race Of Faith</button>
          <button mat-button (click)="toAnchor('aClearConscience')">A Clear Conscience</button>
          <button mat-button (click)="toAnchor('abideInHim')">Abide In Him</button>
          <button mat-button (click)="toAnchor('aNewHeart')">A New Heart</button>
          <button mat-button (click)="toAnchor('bornAgain')">Born Again</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>OUR RESPONSE</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('repentance')">Repentance Toward God</button>
          <button mat-button (click)="toAnchor('baptism')">Buried In Baptism</button>
          <button mat-button (click)="toAnchor('believeInGod')">Believe In God</button>
          <button mat-button (click)="toAnchor('obedienceToHoliness')">Obedience To Holiness</button>
          <button mat-button (click)="toAnchor('liveWorthy')">Live Worthy</button>
          <button mat-button (click)="toAnchor('perseveranceByRememberance')">Perseverance By Remembrance</button>
          <button mat-button (click)="toAnchor('callUponTheLord')">Call Upon The Lord</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>THE DAY OF THE LORD - HOPE</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('theResurrectionOfLife')">The Resurrection Of Life</button>
          <button mat-button (click)="toAnchor('newSpiritualBodies')">New Spiritual Bodies</button>
          <button mat-button (click)="toAnchor('eternalReward')">Eternal Reward</button>
          <button mat-button (click)="toAnchor('everlastingLife')">Everlasting Life</button>
          <button mat-button (click)="toAnchor('theNewHeavenAndTheNewEarth')">The New Heaven And The New Earth</button>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
    }
  </div>
</div>
<!-- #endregion INTRODUCTION -->

<!-- #region THE DANGER - SIN -->
<div class="horses-image header-pane" #dangerSin>
  <h3 class="header-title">THE DANGER - SIN</h3>
  <button mat-button (click)="toAnchor('theSinNature')">The Sin Nature</button>
  <button mat-button (click)="toAnchor('GodKnows')">God Knows</button>
  <button mat-button (click)="toAnchor('aConsumingFire')">God Is A Consuming Fire</button>
  <button mat-button (click)="toAnchor('theDayOfJudgement')">The Day Of Judgement</button>
</div>

<div class="horses-image">
  <blog-gospel-section [isLightMode]="false" [isFloater]="true" id="theSinNature">
    <h3 class="headers">The Sin Nature</h3>
    <div class="paragraphs">
      <blog-sin-nature #theSinNature></blog-sin-nature>
    </div>
  </blog-gospel-section>
</div>

<div class="horses-image">
  <blog-gospel-section [isLightMode]="false" id="GodKnows">
    <h3 class="headers">God Knows</h3>
    <div class="paragraphs">
      <blog-he-knows #GodKnows></blog-he-knows>
    </div>
  </blog-gospel-section>
</div>

<div class="sin-image">
  <blog-gospel-section [isLightMode]="false" [isFloater]="true" id="aConsumingFire">
    <h3 class="headers">God Is A Consuming Fire</h3>
    <div class="paragraphs">
      <gospel-consuming-fire #aConsumingFire></gospel-consuming-fire>
    </div>
  </blog-gospel-section>
</div>

<div class="sin-image">
  <blog-gospel-section [isLightMode]="false" id="theDayOfJudgement">
    <h3 class="headers">The Day Of Judgement</h3>
    <div class="paragraphs">
      <gospel-judgement-day #theDayOfJudgement></gospel-judgement-day>
    </div>
  </blog-gospel-section>
</div>
<!-- #endregion THE DANGER - SIN -->

<!-- #region THE FUTILITY - DEATH -->
<div class="trumpets-image header-pane" #dangerFutility>
  <h3 class="header-title">THE FUTILITY - DEATH</h3>
  <button mat-button (click)="toAnchor('theLoveOfPleasure')">The Love Of Pleasure</button>
  <button mat-button (click)="toAnchor('workAndToil')">Work And Toil</button>
  <button mat-button (click)="toAnchor('theLoveOfWealth')">The Love Of Wealth</button>
  <button mat-button (click)="toAnchor('theDayOfDeath')">The Day Of Death</button>
</div>

<div class="trumpets-image">
  <blog-gospel-section [isLightMode]="false" [isFloater]="true" id="theLoveOfPleasure">
    <h3 class="headers">The Love Of Pleasure</h3>
    <div class="paragraphs">
      <gospel-pleasure #theLoveOfPleasure></gospel-pleasure>
    </div>
  </blog-gospel-section>
</div>

<div class="trumpets-image">
  <blog-gospel-section [isLightMode]="false" id="workAndToil">
    <h3 class="headers">Work And Toil</h3>
    <div class="paragraphs">
      <gospel-toil #workAndToil></gospel-toil>
    </div>
  </blog-gospel-section>
</div>

<div class="witnesses-image">
  <blog-gospel-section [isLightMode]="false" [isFloater]="true" id="theLoveOfWealth">
    <h3 class="headers">The Love Of Wealth</h3>
    <div class="paragraphs">
      <gospel-wealth #theLoveOfWealth></gospel-wealth>
    </div>
  </blog-gospel-section>
</div>

<div class="witnesses-image">
  <blog-gospel-section [isLightMode]="false" id="theDayOfDeath">
    <h3 class="headers">The Day Of Death</h3>
    <div class="paragraphs">
      <gospel-death #theDayOfDeath></gospel-death>
    </div>
  </blog-gospel-section>
</div>
<!-- #endregion THE FUTILITY - DEATH -->

<!-- #region THE SAFETY - GRACE -->
<div class="cross-image header-pane" #callGrace>
  <h3 class="header-title">THE SAFETY - GRACE</h3>
  <button mat-button (click)="toAnchor('theServantOfGod')">The Servant Of God</button>
  <button mat-button (click)="toAnchor('theBronzeSerpent')">The Bronze Serpent</button>
  <button mat-button (click)="toAnchor('theVictor')">The Victor</button>
  <button mat-button (click)="toAnchor('theLambOfGod')">The Lamb Of God</button>
  <button mat-button (click)="toAnchor('theLion')">The Lion</button>
  <button mat-button (click)="toAnchor('theScapegoat')">The Scapegoat</button>
  <button mat-button (click)="toAnchor('theTrueFoodAndTheTrueDrink')">True Food And True Drink</button>
  <button mat-button (click)="toAnchor('theDoorOfEternalSalvation')">The Door Of Eternal Salvation</button>
  <button mat-button (click)="toAnchor('theRockOfOurSalvation')">The Rock Of Our Salvation</button>
  <button mat-button (click)="toAnchor('theSonOfGod')">The Son Of God</button>
</div>

<div class="cross-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="theServantOfGod">
    <h3 class="headers">The Servant Of God</h3>
    <div class="paragraphs">
      <gospel-servant #theServantOfGod></gospel-servant>
    </div>
  </blog-gospel-section>
</div>

<div class="cross-image">
  <blog-gospel-section [isLightMode]="true" id="theBronzeSerpent">
    <h3 class="headers">The Bronze Serpent</h3>
    <div class="paragraphs">
      <gospel-bronze-serpent #theBronzeSerpent></gospel-bronze-serpent>
    </div>
  </blog-gospel-section>
</div>

<div class="samson-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="theVictor">
    <h3 class="headers">The Victor</h3>
    <div class="paragraphs">
      <gospel-victor #theVictor></gospel-victor>
    </div>
  </blog-gospel-section>
</div>

<div class="samson-image">
  <blog-gospel-section [isLightMode]="true" id="theLambOfGod">
    <h3 class="headers">The Lamb Of God</h3>
    <div class="paragraphs">
      <gospel-lamb #theLambOfGod></gospel-lamb>
    </div>
  </blog-gospel-section>
</div>

<div class="lion-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="theLion">
    <h3 class="headers">The Lion</h3>
    <div class="paragraphs">
      <gospel-lion #theLion></gospel-lion>
    </div>
  </blog-gospel-section>
</div>

<div class="lion-image">
  <blog-gospel-section [isLightMode]="true" id="theScapegoat">
    <h3 class="headers">The Scapegoat</h3>
    <div class="paragraphs">
      <gospel-scapegoat #theScapegoat></gospel-scapegoat>
    </div>
  </blog-gospel-section>
</div>

<div class="bread-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="theTrueFoodAndTheTrueDrink">
    <h3 class="headers">True Food And True Drink</h3>
    <div class="paragraphs">
      <gospel-food-drink #theTrueFoodAndTheTrueDrink></gospel-food-drink>
    </div>
  </blog-gospel-section>
</div>

<div class="bread-image">
  <blog-gospel-section [isLightMode]="true" id="theDoorOfEternalSalvation">
    <h3 class="headers">The Door Of Eternal Salvation</h3>
    <div class="paragraphs">
      <gospel-salvation #theDoorOfEternalSalvation></gospel-salvation>
    </div>
  </blog-gospel-section>
</div>

<div class="lamb-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="theRockOfOurSalvation">
    <h3 class="headers">The Rock Of Our Salvation</h3>
    <div class="paragraphs">
      <gospel-rock #theRockOfOurSalvation></gospel-rock>
    </div>
  </blog-gospel-section>
</div>

<div class="lamb-image">
  <blog-gospel-section [isLightMode]="true" id="theSonOfGod">
    <h3 class="headers">The Son Of God</h3>
    <div class="paragraphs">
      <gospel-son #theSonOfGod></gospel-son>
    </div>
  </blog-gospel-section>
</div>

<!-- #endregion THE SAFETY - GRACE -->

<!-- #region THE CALL - FAITH -->
<div class="armor-image header-pane" #callFaith>
  <h3 class="header-title">THE CALL - FAITH</h3>
  <button mat-button (click)="toAnchor('theRaceOfFaith')">The Race Of Faith</button>
  <button mat-button (click)="toAnchor('aClearConscience')">A Clear Conscience</button>
  <button mat-button (click)="toAnchor('abideInHim')">Abide In Him</button>
  <button mat-button (click)="toAnchor('aNewHeart')">A New Heart</button>
  <button mat-button (click)="toAnchor('bornAgain')">Born Again</button>
</div>

<div class="armor-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="theRaceOfFaith">
    <h3 class="headers">The Race Of Faith</h3>
    <div class="paragraphs">
      <gospel-run-the-race #theRaceOfFaith></gospel-run-the-race>
    </div>
  </blog-gospel-section>
</div>

<div class="armor-image">
  <blog-gospel-section [isLightMode]="true" id="aClearConscience">
    <h3 class="headers">A Clear Conscience</h3>
    <div class="paragraphs">
      <gospel-clear-conscience #aClearConscience></gospel-clear-conscience>
    </div>
  </blog-gospel-section>
</div>

<div class="camp-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="abideInHim">
    <h3 class="headers">Abide In Him</h3>
    <div class="paragraphs">
      <gospel-abide #abideInHim></gospel-abide>
    </div>
  </blog-gospel-section>
</div>

<div class="camp-image">
  <blog-gospel-section [isLightMode]="true" id="aNewHeart">
    <h3 class="headers">A New Heart</h3>
    <div class="paragraphs">
      <gospel-new-heart #aNewHeart></gospel-new-heart>
    </div>
  </blog-gospel-section>
</div>

<div class="bush-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="bornAgain">
    <h3 class="headers">Born again</h3>
    <div class="paragraphs">
      <gospel-born-again #bornAgain></gospel-born-again>
    </div>
  </blog-gospel-section>
</div>
<!-- #endregion THE CALL - FAITH -->

<!-- #region OUR RESPONSE -->
<div class="bush-image header-pane" #ourResponse>
  <h3 class="header-title">OUR RESPONSE</h3>
  <button mat-button (click)="toAnchor('repentance')">Repentance Toward God</button>
  <button mat-button (click)="toAnchor('baptism')">Buried In Baptism</button>
  <button mat-button (click)="toAnchor('believeInGod')">Believe In God</button>
  <button mat-button (click)="toAnchor('obedienceToHoliness')">Obedience To Holiness</button>
  <button mat-button (click)="toAnchor('liveWorthy')">Live Worthy</button>
  <button mat-button (click)="toAnchor('perseveranceByRememberance')">Perseverance By Remembrance</button>
  <button mat-button (click)="toAnchor('callUponTheLord')">Call Upon The Lord</button>
</div>

<div class="bush-image">
  <blog-gospel-section [isLightMode]="true" id="repentance">
    <h3 class="headers">Repentence</h3>
    <div class="paragraphs">
      <gospel-repent #repentance></gospel-repent>
    </div>
  </blog-gospel-section>
</div>

<div class="pillar-fire-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="baptism">
    <h3 class="headers">Buried In Baptism</h3>
    <div class="paragraphs">
      <gospel-baptism #baptism></gospel-baptism>
    </div>
  </blog-gospel-section>
</div>

<div class="pillar-fire-image">
  <blog-gospel-section [isLightMode]="true" id="believeInGod">
    <h3 class="headers">Believe In God</h3>
    <div class="paragraphs">
      <gospel-believe-in-god #believeInGod></gospel-believe-in-god>
    </div>
  </blog-gospel-section>
</div>

<div class="holy-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="obedienceToHoliness">
    <h3 class="headers">Obedience To Holiness</h3>
    <div class="paragraphs">
      <gospel-holiness #obedienceToHoliness></gospel-holiness>
    </div>
  </blog-gospel-section>
</div>

<div class="holy-image">
  <blog-gospel-section [isLightMode]="true" id="liveWorthy">
    <h3 class="headers">Live Worthy</h3>
    <div class="paragraphs">
      <gospel-worthy-of-call #liveWorthy></gospel-worthy-of-call>
    </div>
  </blog-gospel-section>
</div>

<div class="rent-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="perseveranceByRememberance">
    <h3 class="headers">Perseverance By Remembrance</h3>
    <div class="paragraphs">
      <gospel-persevere #perseveranceByRememberance></gospel-persevere>
    </div>
  </blog-gospel-section>
</div>

<div class="rent-image">
  <blog-gospel-section [isLightMode]="true" id="callUponTheLord">
    <h3 class="headers">Call Upon The Lord</h3>
    <div class="paragraphs">
      <gospel-call-upon-him #callUponTheLord></gospel-call-upon-him>
    </div>
  </blog-gospel-section>
</div>
<!-- #endregion OUR RESPONSE -->

<!-- #region THE DAY OF THE LORD -->
<div class="heaven-image header-pane" #theHope>
  <h3 class="header-title">THE DAY OF THE LORD - HOPE</h3>
  <button mat-button (click)="toAnchor('theResurrectionOfLife')">The Resurrection Of Life</button>
  <button mat-button (click)="toAnchor('newSpiritualBodies')">New Spiritual Bodies</button>
  <button mat-button (click)="toAnchor('eternalReward')">Eternal Reward</button>
  <button mat-button (click)="toAnchor('everlastingLife')">Everlasting Life</button>
  <button mat-button (click)="toAnchor('theNewHeavenAndTheNewEarth')">The New Heaven And The New Earth</button>
</div>

<div class="heaven-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="theResurrectionOfLife">
    <h3 class="headers">The Resurrection Of Life</h3>
    <div class="paragraphs">
      <gospel-resurrection #theResurrectionOfLife></gospel-resurrection>
    </div>
  </blog-gospel-section>
</div>

<div class="heaven-image">
  <blog-gospel-section [isLightMode]="true" id="newSpiritualBodies">
    <h3 class="headers">New Spiritual Bodies</h3>
    <div class="paragraphs">
      <gospel-spiritual-body #newSpiritualBodies></gospel-spiritual-body>
    </div>
  </blog-gospel-section>
</div>

<div class="new-jerusalem-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="eternalReward">
    <h3 class="headers">Eternal Reward</h3>
    <div class="paragraphs">
      <gospel-eternal-reward #eternalReward></gospel-eternal-reward>
    </div>
  </blog-gospel-section>
</div>

<div class="new-jerusalem-image">
  <blog-gospel-section [isLightMode]="true" id="everlastingLife">
    <h3 class="headers">Everlasting Life</h3>
    <div class="paragraphs">
      <gospel-everlasting-life #everlastingLife></gospel-everlasting-life>
    </div>
  </blog-gospel-section>
</div>

<div class="new-earth-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true" id="theNewHeavenAndTheNewEarth">
    <h3 class="headers">The New Heaven And The New Earth</h3>
    <div class="paragraphs">
      <gospel-new-heaven-earth #theNewHeavenAndTheNewEarth></gospel-new-heaven-earth>
    </div>
  </blog-gospel-section>
</div>

<div class="new-earth-image header-pane">
  <h3 class="header-title">THE END - GOD BLESS YOU</h3>
</div>
<!-- #endregion THE DAY OF THE LORD -->
