.custom-panel {
  background: transparent;
  box-shadow: none !important;
  margin: 0;
  text-transform: none;
  justify-items: center;
}

button[mat-button] {
  font-size: 16px;
  color: white;
}

.header-title {
  letter-spacing: 5px;
}

.header-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.header-caption {
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.header-pane > button {
  text-decoration: underline;
  width: 50%;
}

.navigation {
  width: unset;
  position: relative;
  z-index: 777;
  top: 111px;
}

.floating-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
  z-index: -1;
}

.holy-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/holy_wxwyzn.webp");
  min-height: 400px;
}

.rent-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590014/img/rent_wxiwvf.webp");
  min-height: 400px;
}

.bread-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/bread_iuzxxj.webp");
  min-height: 400px;
}

.new-jerusalem-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/newjer_ck9crv.webp");
  min-height: 400px;
}

.lamb-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/lamb_eo0gii.webp");
  min-height: 400px;
}

.armor-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590027/img/Rotator-10f_srbkmk.webp");
  min-height: 400px;
}

.camp-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590014/img/Rotator-4f_zydoe1.webp");
  min-height: 400px;
}

.battle-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590014/img/Rotator-8f_gmpjw8.webp");
  min-height: 400px;
}

.heaven-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590027/img/Rotator-14f_ksynvm.webp");
  min-height: 400px;
}

.trumpets-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/13-Seven-Angels-Seven-Trumpets_voye7o.webp");
  min-height: 400px;
}

.wedding-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/Mat25L_dzpagk.webp");
  min-height: 400px;
}

.horses-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590014/img/Rotator-7f_ydnvku.webp");
  min-height: 400px;
}

.pillar-fire-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/pillarfire_bhe97a.webp");
  min-height: 400px;
}

.witnesses-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590014/img/Rotator-6f_ujqyqg.webp");
  min-height: 400px;
}

.sin-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590027/img/sin_s3obrq.webp");
  min-height: 400px;
}

.cross-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/cross_z0d21o.webp");
  min-height: 400px;
}

.lion-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/lion_jw4h3p.webp");
  min-height: 400px;
}

.bush-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/bush_tudwx1.webp");
  min-height: 400px;
}

.new-earth-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590013/img/new_xvdoun.webp");
  min-height: 400px;
}

.samson-image {
  background-image: url("https://res.cloudinary.com/dffihsa2y/image/upload/v1711590027/img/samson_q982ou.webp");
  min-height: 400px;
}

.new-jerusalem-image,
.holy-image,
.rent-image,
.bread-image,
.lamb-image,
.armor-image,
.camp-image,
.battle-image,
.heaven-image,
.trumpets-image,
.wedding-image,
.horses-image,
.pillar-fire-image,
.witnesses-image,
.sin-image,
.cross-image,
.lion-image,
.bush-image,
.new-earth-image,
.samson-image {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.1);
}
