app-prophesy-item-page {
  display: block;
  padding: 14px;
}

.tiles {
  display: flex;
  flex-direction: row;
}

.tiles > * {
  margin: 20px 10px;
  flex: 1 1 100%;
}

mat-card {
  min-height: 40vh;
}

.mdc-evolution-chip__action--presentational {
  cursor: pointer !important;
}

@media (max-width: 1000px) {
  .tiles {
    flex-direction: column;
  }
}
