<h1 class="primary-color" #seoTitle>{{ item()?.title }}</h1>
<h2 class="mat-caption" #seoCaption>{{ item()?.description }}</h2>

<mat-chip-set aria-label="Scripture Types">
  @for(tag of showTagsSorted(); track $index) {
  <mat-chip class="chip">{{ tag }}</mat-chip>
  }
</mat-chip-set>

<div class="tiles">
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title> <h3 class="primary-color">The Prophesy</h3></mat-card-title>
      <mat-card-subtitle>
        @if(item()?.bookDateRange) {
        <h4>The book {{ item()?.bookDateRange?.book }} was written around {{ item()?.bookDateRange?.range }}</h4>
        }
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ item()?.prophesy }}
    </mat-card-content>
    <mat-card-footer style="padding: 20px"></mat-card-footer>
  </mat-card>

  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title><h3 class="primary-color">Fulfillment(s)</h3></mat-card-title>
      <mat-card-subtitle><h4>The New Testament was written in the first century A.D.</h4></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @for(fulfillment of item()?.fulfillments; track $index) {
      <div style="padding: 7px">
        {{ fulfillment }}
      </div>
      }
    </mat-card-content>
    <mat-card-footer style="padding: 20px"> </mat-card-footer>
  </mat-card>
</div>
