app-prophesy-item-page {
  display: block;
  padding: 14px;
  width: 100vw;
}

.tiles {
  display: flex;
  flex-direction: row;
}

.tiles > * {
  margin: 20px;
  flex: 1 1 100%;
}

mat-card {
  min-height: 40vh;
}

.mdc-evolution-chip__action--presentational {
  cursor: pointer !important;
}
