<h1 style="padding: 15px 0px 0px" class="primary-color">Hidden</h1>

<button mat-flat-button (click)="savePsalm()">Post Psalm</button>
<button mat-flat-button (click)="saveProverb()">Post Wisdom</button>
<button mat-flat-button (click)="saveBlog()">Post Revelation</button>
<button mat-flat-button (click)="saveDiscernment()">Post Judgement</button>

<div>Title</div>
<input matInput type="text" [(ngModel)]="title" required />

<blog-text-editor (editorChanged)="onChange($event)"></blog-text-editor>

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1 style="padding: 15px 15px 0px" class="primary-color">Psalm</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <blog-psalm-list [update]="true"></blog-psalm-list>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1 style="padding: 15px 15px 0px" class="primary-color">Wisdom</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <blog-proverb-list [update]="true"></blog-proverb-list>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1 style="padding: 15px 15px 0px" class="primary-color">Revelation</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <blog-blog-list [update]="true"></blog-blog-list>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1 style="padding: 15px 15px 0px" class="primary-color">Judgement</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <blog-discern-list [update]="true"></blog-discern-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
