.example-viewport {
  height: 60vh;
  max-width: 100%;
  overflow-x: hidden;
}

.example-item {
  height: 100px;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

cdk-virtual-scroll-viewport {
  flex-grow: 1;
}
