<div style="display: flex">
  <h3>
    {{ this.selectedBook$ | async }} <span *ngIf="activeChapter"> {{ activeChapter }}</span>
  </h3>
</div>

<div
  style="display: flex; flex-direction: row; width: 95%; align-self: center"
  *ngIf="scripture$ | async; let scritpure"
>
  <div
    class="arrow-button"
    style="position: fixed; top: 50%; left: 0.5%; z-index: 7777777"
    *ngIf="scritpure.data?.previous?.id && !isAll"
  >
    <button matRipple class="control prev" style="height: 77px" (click)="onPreviousArrowClick(scritpure)">
      <span class="arrow left"></span>
    </button>
  </div>

  <mat-card style="flex: 1 1 80%">
    <mat-card-content style="height: 100%">
      <ng-container *ngIf="!isAll">
        <p style="line-height: 27px; margin-right: 33px; margin-top: 0" [innerHtml]="scritpure.data.content"></p>
      </ng-container>

      <ng-container *ngIf="isAll">
        <cdk-virtual-scroll-viewport
          class="viewport"
          [itemDynamicSizes]="dynamicSize()"
          (scrolledIndexChange)="onScrollIndexChange($event)"
        >
          <div *cdkVirtualFor="let item of items(); let first = first; trackBy: trackBy">
            <h5>{{ item.chapter }}</h5>
            <mat-divider></mat-divider>

            <div style="padding-top: 4px">
              <div style="line-height: 27px; margin-top: 0" [innerHtml]="item.content | safeHtml"></div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <div
    class="arrow-button"
    style="position: fixed; top: 50%; right: 0.5%; z-index: 7777777"
    *ngIf="scritpure.data?.next?.id && !isAll"
  >
    <button matRipple class="control next" style="height: 77px" (click)="onNextArrowClick(scritpure)">
      <span class="arrow right"></span>
    </button>
  </div>
</div>
