<div style="display: flex">
  <h1>{{ this.bookId }}</h1>
  <h1>{{ this.chapterId }}</h1>
</div>

<mat-card>
  <mat-card-content>
    <cdk-virtual-scroll-viewport
      itemSize="chapterCount$ | async"
      class="example-viewport"
    >
      <div *cdkVirtualFor="let item of dataSource">
        {{ item || "Loading..." }}
      </div>
      <!-- <p *ngIf="scripture$ | async; let scritpure">
        {{ scritpure.data.content }}
      </p> -->
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
</mat-card>
