.example-viewport {
  height: 1000px;
  width: 1000px;
}

.example-item {
  height: 100px;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

cdk-virtual-scroll-viewport {
  flex-grow: 1;
}
