<div class="filler">
  <section class="section section-dark">
    <blog-audio-play
      [file]="'1q8mYozGb5VQCVbv6XrhRFiCy-88R69LD'"
      [name]="'Welcome'"
    >
    </blog-audio-play>
    <p class="paragraphs">
      My wish is that you would be encouraged by this message. Click the header
      of the section to hear commentating as I'm helping you along as a servant
      of Christ, even this I am unworthy of. May God bless you and reveal the
      grace of His Son to you and keep you from evil. We don't know where we
      came from: we can't say what we did a day ago; We don't know where we are
      going: we can't say what will happen tomorrow. All we know is today: all
      we know is right now. Today is the day of salvation; and right now is the
      time of God's favor. When you hear His voice, do not harden your hearts as
      the Israelites did in the rebellion in the wilderness where they tested
      God for 40 years although they seen His great works. Let us remember the
      root of all disobedience and sin is unbelief; so therefore, let us
      re-assure ourselves with the confidence which comes from faith in Jesus
      Christ: He died for us, and was buried, and was raised, and now lives
      forever, seated at the right hand of the Father in heaven. Let us remember
      what faith is: faith is sight without seeing; the conviction of things
      unseen; the assurance of things hoped for.<br /><br />

      Let us remember the exhortations and exclamations spoken of by the Lord to
      those who would hear and believe His Word, producing in themselves a faith
      that was very great, having themselves marveled the Lord by their faith,
      and calling to Him for deliverance because they believed He is powerful
      and able to do. As it is written,
      <blog-reference-tooltip [reference]="'Matthew 8'">
        And when Jesus entered Capernaum, a centurion came to Him, imploring
        Him, and saying, “Lord, my servant is lying paralyzed at home, fearfully
        tormented.” Jesus said to him, “I will come and heal him.” But the
        centurion said, “Lord, I am not worthy for You to come under my roof,
        but just say the word, and my servant will be healed. Now when Jesus
        heard this, He marveled and said to those who were following, “Truly I
        say to you, I have not found such <b>great faith</b>
        with anyone in Israel.
      </blog-reference-tooltip>
      <blog-reference-tooltip [reference]="'Matthew 15'">
        But He answered and said, “I was sent only to the lost sheep of the
        house of Israel.” But she came and began to bow down before Him, saying,
        “Lord, help me!” And He answered and said, “It is not good to take the
        children’s bread and throw it to the dogs.” But she said, “Yes, Lord;
        but even the dogs feed on the crumbs which fall from their masters’
        table.” Then Jesus said to her, “O woman, your <b>faith is great</b>; it
        shall be done for you as you wish.” And her daughter was healed at once.
      </blog-reference-tooltip>
      <br />

      Let us, on the other hand, remember the Lord's words to those who doubted
      in times past and let us not shrink back in disbelief or fear, but
      instead, be strengthen by God's grace moving forward, fearlessly, towards
      the heavenly prize which is ours in Christ Jesus. He reprimanded many
      because of their little faith, as it is written,
      <blog-reference-tooltip [reference]="'Matthew 6'" [isJesusWord]="true">
        if God so clothes the grass of the field, which is alive today and
        tomorrow is thrown into the furnace, will He not much more clothe you?
        You of <b>little faith</b>!
      </blog-reference-tooltip>
      <blog-reference-tooltip [reference]="'Matthew 8'">
        And behold, there arose a great storm on the sea, so that the boat was
        being covered with the waves; but Jesus Himself was asleep. And they
        came to Him and woke Him, saying, “Save us, Lord; we are perishing!” He
        said to them, "Why are you afraid, you men of <b>little faith</b>?” Then
        He got up and rebuked the winds and the sea, and it became perfectly
        calm.
      </blog-reference-tooltip>
      <blog-reference-tooltip [reference]="'Matthew 14'" [isJesusWord]="true">
        Peter said to Him, “Lord, if it is You, command me to come to You on the
        water.” And He said, “Come!” And Peter got out of the boat, and walked
        on the water and came toward Jesus. But seeing the wind, he became
        frightened, and beginning to sink, he cried out, “Lord, save me!”
        Immediately Jesus stretched out His hand and took hold of him, and said
        to him, “You of <b>little faith</b>, why did you doubt?”
      </blog-reference-tooltip>
      <blog-reference-tooltip [reference]="'Matthew 17'" [isJesusWord]="true">
        When they came to the crowd, a man came up to Jesus, falling on his
        knees before Him and saying, “Lord, have mercy on my son, for he is a
        lunatic and is very ill; for he often falls into the fire and often into
        the water. I brought him to Your disciples, and they could not cure
        him.” And Jesus answered and said, "You <b>unbelieving</b> and perverse
        generation, how long shall I be with you? How long shall I put up with
        you?"
      </blog-reference-tooltip>
      <br />

      Finally, let us keep in mind, what is needed is a faith the size of a
      mustard seed. If Christ reprimanded them on their little faith, then how
      little that faith must have been! Let us consider the prophet Elijah who
      is a human like us; he prayed that it would not rain and it did not rain
      for three and a half years. Then he prayed again for rain and it rained
      just as he asked. Let us beware of doubt which is the killer of faith.
      Doubt or confusion is the product of being double minded or impure from
      the blending together of falsehood and truth, the world and the Kingdom of
      God.
      <blog-reference-tooltip [reference]="'Mark 9'" [isJesusWord]="true">
        It has often thrown him both into the fire and into the water to destroy
        him. But if You can do anything, take pity on us and help us!” And Jesus
        said to him, “‘If You can?’ All things are possible to him who
        believes.” Immediately the boy’s father cried out and said, “I do
        believe; help my unbelief.”
      </blog-reference-tooltip>
      <blog-reference-tooltip [reference]="'Matthew 17'">
        Then the disciples came to Jesus privately and said, “Why could we not
        drive it out?” And He said to them, “Because of the littleness of your
        faith; for truly I say to you, if you have faith the size of a mustard
        seed, you will say to this mountain, ‘Move from here to there,’ and it
        will move; and nothing will be impossible to you.
      </blog-reference-tooltip>
    </p>
  </section>
</div>

<!-- <carousel
  [dots]="true"
  [cellWidth]="333"
  [height]="444"
  [arrowsTheme]="'light'"
  [overflowCellsLimit]="0"
  [counter]="true"
  [counterSeparator]="' of '"
  [arrowsOutside]="true"
>
  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Romans 3'" [flex]="true">
      None is righteous, no, not one; no one understands; no one seeks for God.
      All have turned aside; together they have become worthless; no one does
      good, not even one. Their throat is an open grave; they use their tongues
      to deceive. Their feet are swift to shed blood; in their paths are ruin
      and misery, and the way of peace they have not known. There is no fear of
      God before their eyes.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Hebrews 4'" [flex]="true">
      For the Word of God is living and active, sharper than any two-edged
      sword, piercing to the division of soul and of spirit, of joints and of
      marrow, and discerning the thoughts and intentions of the heart. And no
      creature is hidden from his sight, but all are naked and exposed to the
      eyes of him to whom we must give account.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Acts 4'" [flex]="true">
      Let it be known to all of you and to all the people of Israel, that by the
      name of Jesus Christ the Nazarene, whom you crucified, whom God raised
      from the dead — by this name this man stands here before you in good
      health. (...) There is salvation in no one else, for there is no other
      name under heaven given among men by which we must be saved.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Isaiah 53'" [flex]="true">
      He had no form or majesty that we should look at Him, and no beauty that
      we should desire Him. He was despised and rejected by men, a man of
      sorrows, and acquainted with grief; and as one from whom men hide their
      faces He was despised, and we esteemed Him not. Surely He has borne our
      griefs and carried our sorrows; yet we esteemed Him stricken, smitten by
      God, and afflicted.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Isaiah 53'" [flex]="true">
      But He was pierced for our transgressions; He was crushed for our
      iniquities; upon Him was the chastisement that brought us peace, and with
      His wounds we are healed. All we like sheep have gone astray; we have
      turned—every one—to his own way; and the LORD has laid on Him the iniquity
      of us all. He was oppressed, and He was afflicted, yet He opened not His
      mouth; like a lamb that is led to the slaughter, and like a sheep that
      before its shearers is silent, so He opened not his mouth.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Isaiah 53'" [flex]="true">
      By oppression and judgment He was taken away; and as for His generation,
      who considered that He was cut off out of the land of the living, stricken
      for the transgression of My people? And they made His grave with the
      wicked and with a rich man in His death, although He had done no violence,
      and there was no deceit in His mouth. Yet it was the will of the LORD to
      crush Him; He has put Him to grief; when His soul makes an offering for
      guilt, He shall see his offspring; He shall prolong His days; the will of
      the LORD shall prosper in His hand.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Isaiah 53'" [flex]="true">
      Out of the anguish of His soul he shall see and be satisfied; by His
      knowledge shall the righteous One, My Servant, make many to be accounted
      righteous, and He shall bear their iniquities. Therefore I will divide Him
      a portion with the many, and He shall divide the spoil with the strong,
      because He poured out His soul to death and was numbered with the
      transgressors; yet He bore the sin of many, and makes intercession for the
      transgressors.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Romans 10'" [flex]="true">
      Moses writes this about the righteousness that is by the law: “The person
      who does these things will live by them.” But the righteousness that is by
      faith says: “Do not say in your heart, ‘Who will ascend into heaven?’ ”
      (that is, to bring Christ down) “or ‘Who will descend into the deep?’ ”
      (that is, to bring Christ up from the dead). But what does it say? “The
      word is near you; it is in your mouth and in your heart,” that is, the
      message concerning faith that we proclaim:
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Romans 10'" [flex]="true">
      If you declare with your mouth, “Jesus is Lord,” and believe in your heart
      that God raised him from the dead, you will be saved. For it is with your
      heart that you believe and are justified, and it is with your mouth that
      you profess your faith and are saved. As Scripture says, “Anyone who
      believes in him will never be put to shame.” For there is no difference
      between Jew and Gentile — the same Lord is Lord of all and richly blesses
      all who call on him, for, 'Everyone who calls on the name of the Lord will
      be saved.'
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'James 2'" [flex]="true">
      Thus also faith by itself, if it does not have works, is dead. But someone
      will say, “You have faith, and I have works.” Show me your faith without
      your works, and I will show you my faith by my works. You believe that
      there is one God. You do well. Even the demons believe—and tremble!
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Romans 12'" [flex]="true">
      I appeal to you therefore, brothers, by the mercies of God, to present
      your bodies as a living sacrifice, holy and acceptable to God, which is
      your spiritual worship. Do not be conformed to this world, but be
      transformed by the renewal of your mind, that by testing you may discern
      what is the will of God, what is good and acceptable and perfect.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Matthew 22'" [flex]="true">
      ‘Love the Lord your God with all your heart and with all your soul and
      with all your mind.’ This is the first and greatest commandment. And the
      second is like it: ‘Love your neighbor as yourself.’ All the Law and the
      Prophets hang on these two commandments.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip
      [reference]="'Matthew 22'"
      [isJesusWord]="true"
      [flex]="true"
    >
      But when the king came in to look at the guests, he saw there a man who
      had no wedding garment. And he said to him, Friend, how did you get in
      here without a wedding garment?’ And he was speechless. Then the king said
      to the attendants, ‘Bind him hand and foot and cast him into the outer
      darkness. In that place there will be weeping and gnashing of teeth.’ For
      many are called, but few are chosen.
    </blog-reference-tooltip>
  </div>

  <div class="carousel-cell">
    <blog-reference-tooltip [reference]="'Daniel 12'" [flex]="true">
      Those who are wise will shine like the brightness of the heavens, and
      those who lead many to righteousness, like the stars for ever and ever.
    </blog-reference-tooltip>
  </div>
</carousel> -->
