a {
  color: white;
  font-size: 14px;
}

.headers {
  padding: 20px 20px 0px 20px;
}

.paragraphs {
  padding: 0px 40px 40px 40px;
}

.home-page_container {
  display: grid;
}

.header_container {
  display: flex;
  justify-content: center;
}

$color-green: #00ffaa;
$color-background: #111;
$color-text: #555;

img {
  display: block;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
  position: relative;
}

.scene {
  margin: 0;
  padding: 0;
}

@for $i from 2 through 6 {
  .scene > *:nth-child(#{$i}) {
    opacity: #{0.15 * $i};
  }
}

.pimg5 {
  background-image: url("../../assets/img/How-to-know-that-Christ-is-the-truth-the-way-and-the-life-ZB20210719.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("../../assets/img/Jesus-Walks-on-Water-Aivazovsky-1849.jpg");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../../assets/img/Rotator-3f.jpg");
  min-height: 400px;
}

.pimg4 {
  background-image: url("../../assets/img/when-jesus-comes-to-dinner.jpg");
  min-height: 400px;
}

.pimg6 {
  background-image: url("../../assets/img/crossing.webp");
  min-height: 400px;
}

// God on His throne
.pimg1 {
  background-image: url("../../assets/img/Rotator-5f.jpg");
  min-height: 400px;
  background-position: top;
}

.pimg7 {
  background-image: url("../../assets/img/Rotator-9f.jpg");
  min-height: 400px;
}

.pimg8 {
  background-image: url("../../assets/img/Rotator-10f.jpg");
  min-height: 400px;
}

.pimg9 {
  background-image: url("../../assets/img/Rotator-4f.jpg");
  min-height: 400px;
}

.pimg10 {
  background-image: url("../../assets/img/Rotator-8f.jpg");
  min-height: 400px;
}

.pimg11 {
  background-image: url("../../assets/img/Rotator-14f.jpg");
  min-height: 400px;
}

.pimg12 {
  background-image: url("../../assets/img/13-Seven-Angels-Seven-Trumpets.jpg");
  min-height: 400px;
}

.pimg13 {
  background-image: url("../../assets/img/Mat25L.jpg");
  min-height: 400px;
}

.pimg14 {
  background-image: url("../../assets/img/211 Ezekiel's Vision.jpg");
  min-height: 400px;
  background-repeat: round;
  background-size: contain;
}

.pimg15 {
  background-image: url("../../assets/img/Rotator-7f.jpg");
  min-height: 400px;
}

.pimg16 {
  // Jesus being crowned
  background-image: url("../../assets/img/304 Coronation.jpg");
  min-height: 400px;
}

.pimg17 {
  background-image: url("../../assets/img/201 Let Him In.jpg");
  min-height: 400px;
  background-size: auto !important;
}

.pimg18 {
  background-image: url("../../assets/img/hell.jpg");
  min-height: 400px;
}

.pimg19 {
  background-image: url("../../assets/img/Rotator-6f.jpg");
  min-height: 400px;
}

.pimg20 {
  background-image: url("../../assets/img/samson.jpg");
  min-height: 400px;
}

.pimg21 {
  background-image: url("../../assets/img/cross.jpg");
  min-height: 400px;
}

.pimg22 {
  background-image: url("../../assets/img/bush.jpg");
  min-height: 400px;
}

.pimg23 {
  background-image: url("../../assets/img/baptism.webp");
  min-height: 400px;
}

.pimg24 {
  background-image: url("../../assets/img/divide.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  margin: auto;
  width: 100%;
}

.section-light {
  background-color: #f4f4f4;
  color: #777;
}

.floater {
  width: 88%;
  border-radius: 17px;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: normal;
}

.lighttext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.border {
  border: unset !important;
  border-radius: 12px;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

.lighttext .border {
  background-color: #fff;
  color: #111;
  padding: 20px;
}

.lighttext .border.trans {
  background-color: transparent;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3,
  .pimg4,
  .pimg5,
  .pimg6,
  .pimg7,
  .pimg8,
  .pimg9,
  .pimg10,
  .pimg11,
  .pimg12,
  .pimg13,
  .pimg14,
  .pimg15,
  .pimg16,
  .pimg17,
  .pimg18,
  .pimg19,
  .pimg20,
  .pimg21,
  .pimg22,
  .pimg23,
  .pimg24 {
    background-attachment: scroll;
  }
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6,
.pimg7,
.pimg8,
.pimg9,
.pimg10,
.pimg11,
.pimg12,
.pimg13,
.pimg14,
.pimg15,
.pimg16,
.pimg17,
.pimg18,
.pimg19,
.pimg20,
.pimg21,
.pimg22,
.pimg23,
.pimg24,
.filler,
.filler-light {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.filler {
  background-color: #282e34;
}

.filler-light {
  background-color: #f4f4f4;
}
