<h1 style="padding: 15px 0px 0px" class="primary-color">Holy, Holy, Holy is He</h1>

<div style="display: flex; flex-direction: column">
  <mat-card [@simpleFadeAnimation] appearance="outlined" style="margin: 15px">
    <mat-card-header style="padding: 15px 15px">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title-group>
        <mat-card-title class="primary-color">Hello, my name is Kurtis Waldner</mat-card-title>
        <mat-card-subtitle> Below is the testimony the Lord gave me. </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      Right before Covid-19, I had just gotten my full time job, experienced military life and college. What was left,
      but to get married, have kids, and die? I said to myself, “Surely life isn’t here, but death; but where?” I
      started seeking. I figured man doesn’t know, if they did, wouldn’t they tell me? But all my life no-one told me
      the truth. I don't remember ever seeing a street preacher; nor do I remember anything spectacular in church. We
      were the family that went during the holidays and once in a while outside of that, but it wasn't anything
      spectacular to me - nothing stood out.
      <br /><br />
      <!-- (I do have a memory of going to church: specifically when my step dad repeated the Lord’s prayer; I was surprised
    that he knew it in his heart. Another memory I had was of my aunt in the Hutterite colony teaching us how to pray
    and the delight I had from God in it and her testimony of the holiness of God: for we would say things like “Holy
    cow”; and then she would say, “Cows aren’t holy”. Then we would know better and say, “Holy moley”; then she would
    say, “Nope. They're not holy either”. We did this for awhile. Then she told us that God is Holy.) -->
      <!-- <br /><br /> -->
      I seen the churches in America claiming God aren’t trying to convince me of God, so they must not really know God
      - for the one who is convinced of God, convinces others. I also seen that it's very popular - on every street
      corner. So I said to myself, “Surely if the truth exists, only a few would know it. The truth wouldn't be popular,
      would it?" For one, is not the truth a mystery? And two, isn't it painful at first? But yet, I believed truth
      existed and I searched for it.
      <br /><br />
      <!-- (Now writing this and looking back: Oh, the dangers of hypocrisy! And the reward of speaking simply the truth! For
    by our lives, we cause others to stumble and by our lives, we edify in the paths of uprightness. The things written
    which I remember when I was a child pertaining to God have stood with me and have encouraged me, showing me that He
    has always been with me. And in all these things, although I did not know any of these things, the Lord has been
    presently revealing my heart to me in these things.) -->
      <!-- <br /><br /> -->
      I started to open my Bible; my mom had given it to me. She was on a journey herself with God and gave all her
      things to the poor. I said “What? This is from God?” Then she moved out of the state. That made me want to seek
      all the more. So I opened up my Bible and remembered the change it had on my life; although the change was quick,
      it wasn’t drastic: I had peace and other spiritual things, but I was still in sin.
      <br /><br />
      I remember doing much work at my new job and reading Scripture. I remember praying to God, “Ah! If only I could
      seek You much more.” (I don’t know if this was an answer to my prayers or not) Then Covid-19 happened and I was
      put in solitude, working from home. I read and read, and in my reading, I prayed. The Scripture that opened my
      eyes the most was Ecclesiastes: I seen the wisdom of God and the futility of life. Also the Psalms: I had very
      much conviction because of my sin and knowledge of the righteous judgement of God - which made me hunger and
      thirst for righteousness all the more. And Isaiah, the prophet: the revealing of my wicked heart and the hope of
      redemption from it. The Scriptures were very bitter to me & like death because I didn't obey - I tried, but I
      could not fully do. Sin was always there, but I hoped in God. I started at the beginning of the Bible and went on.
      I seen in my study notes, the Christ, but did not know Him; the Scriptures spoke about Him, but I only knew Him by
      name.
      <br /><br />
      All the reading through the Old Testament built me up to show me how great Christ is; also, it torn me down to
      show me how fallen I am - I see now this was so I would not hope in myself or anything else for my salvation. When
      I got to the Gospels, surely I seen the greatness of Jesus Christ. Firstly, the words of Him in my text were red.
      And He did many signs: the devils cried out, the dead were raised, His teachings with authority, and the miracles
      with power. But He died. Even stranger to me, He rose from the dead. I didn’t understand anything. He sends out
      His disciples...
      <br /><br />
      I skipped the other three Gospels and went into the book of Acts. The disciples did the same things that He did:
      they preached, did miracles, raised the dead. I still did not understand. All the while I was constantly getting
      on my knees to God in prayer because of my sin, knowing that my wicked deeds deserve wickedness. But I was
      persistent, knowing only God can save. My sins did not stop me from coming to Him. The things which I did not want
      to do, I constantly did. I did not want to do it, but I did it anyway. I had no power in myself to say, "No", but
      sin was always there. Many times I thought God would strike me because of my wickedness, especially when I would
      confess my sins to Him; but actually, the opposite happened: I was relieved and felt better. But still, I couldn't
      stop sinning. I would go a few days without it, but I would always end up back in it.
      <br /><br />
      I heard the apostle’s sermons about Christ, and seen the effect their word had on people: they burned their
      sorcery books, turned from idols, repented to Jesus. Paul, a preacher, once a persecutor of the church, turned to
      Him through revelation of the living Christ who appeared to Him; and all the apostles seen the risen Savior.
      However, the entire Gospel message wasn’t contained in the book of Acts, only a small excerpt of it - a little
      here and a little there, so I still didn’t understand. However, I sought Christ until I found Him; I said to
      myself, “There’s something about Jesus and I will not let go until I find Him.”
      <br /><br />
      Then I read the book of Romans. The apostle Paul explains Christ. I could trust his testimony because the Lord
      chose him on the road to Damascus. When reading, that’s when Christ came alive to me. I seen Christ came for the
      very problem I had: sin. I did not know He came to earth for me, nor did I understand He knew my problem. He came
      to deliver me from the very problem I had. He didn't expect me to figure it out on my own, but He did what I could
      not do: deliver me. And because of the revelation of His love toward me, despite my present wickedness, I wept and
      wept - for I had not wept in years.
      <br /><br />
      Romans 7:14-25, spoke to me directly for that was exactly what I was going through. It was like those very verses
      were put in there for me! I didn’t know what I was going through, but God did; and He showed me. For He knows me
      better than I know me. Only I know me. But if there is a God, He would know me too. He showed me that He knows me.
      And that, better than I know me. For the things in me I cannot explain. But He explains. And better than I could
      ever explain. He delivered me from that which I could not understand. If I couldn't even understand my problem,
      how much less could I deliver myself? I believed nothing, until I believed one thing, and then I believed
      everything. For I said to myself, “If this is true, then so is everything else in this Book.” The one thing I
      believed is that Jesus Christ loved me and gave Himself up for me; and He proved Himself to be much alive.
      <br /><br />
      From then, I didn’t cry out because of my sins anymore, but I had joy that He had forgiven me and delivered me
      from my sins - I had experienced deliverance. The sin I didn’t want to do, I did not do. The chains which shackled
      me fell off. I had a clear mind and I could see what was in there. As I went on, all the commands of the apostles
      were sweet to me, because I did them without first being told: be full of joy, be thankful, sing to the Lord, live
      holy, tell others, study to show yourself approved, separate from evil, all these things I did because of my love
      for Him. In me, I had in an anger, "Why didn’t anyone tell me? This death I was living in and no-one warned me?" I
      looked outside and everything I seen for years became new to my eyes - I seen God in everything. Everything was
      beautiful. The glory of the Lord filled the earth; before I could see nothing.
      <br /><br />
      And now, I have been studying for myself to know more about Him. I know what He has done for me; and He has done
      the same for all people. I know what has happened to me, needs to be replicated in others. I wish for others to be
      saved; and everyone needs to know what Jesus has done for them. In the knowledge of Him, is everything we need. He
      teaches through His Word how to speak and act for Him - He has purchased me and I do not belong to myself. I have
      experienced much discipline from the Lord, but I know it is for my good. The more I learn of Him, the more evil I
      see in me; He is so good. In repentance & peace I conform my life after His, following Him, not making for myself
      pathways or byways, but maintaining to His highway - I know His Way leads to eternal life. I was changed by God -
      and who can change me back? He is for me - and who can be against me? If these things are true for me - a big
      sinner - how much more for you? Where sin abounds, His grace abounds the more; those who are forgiven much, love
      all the more. Glory be to the only wise God in heaven. Amen.
    </mat-card-content>
  </mat-card>

  <mat-card [@simpleFadeAnimation] appearance="outlined" style="margin: 15px">
    <mat-card-header style="padding: 15px 15px">
      <mat-card-title-group>
        <mat-card-title class="primary-color">Believe</mat-card-title>
        <mat-card-subtitle> All of man's duty to God is found in this one thing. </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content class="noTag">
      May God bless you and reveal the grace of His Son Jesus Christ to you and keep you from evil. We don't know where
      we came from - we can't say what we did a day ago; we don't know where we are going - we can't say what will
      happen tomorrow. All we know is today and all we know is right now. Today is the day of salvation; right now is
      the time of God's favor. When you hear His voice, do not harden your hearts as did the Israelites in their
      rebellion in the wilderness where they tested God for 40 years, although they seen His mighty works. Know this:
      the root of all disobedience and sin is unbelief; therefore, let us assure ourselves with the confidence which
      comes from faith in Jesus Christ - He died for us, He was buried, He was raised, and He now lives forever, seated
      at the right hand of the Father in heaven. Know surely what faith is: faith is sight without seeing, the
      conviction of things unseen, the assurance of things hoped for.<br /><br />

      Let us remember the exhortations and exclamations spoken of by the Lord to those who would hear and believe in
      Him, producing in themselves a faith that was very great, having themselves marveled the Lord by their faith, and
      calling to Him for deliverance because they believed He is powerful and able to do. As it is written,
      <blog-reference-tooltip [reference]="'Matthew 8'" [isJesusWord]="true">
        And when Jesus entered Capernaum, a centurion came to Him, imploring Him, and saying, “Lord, my servant is lying
        paralyzed at home, fearfully tormented.” Jesus said to him, “I will come and heal him.” But the centurion said,
        “Lord, I am not worthy for You to come under my roof, but just say the word, and my servant will be healed. Now
        when Jesus heard this, He marveled and said to those who were following, “Truly I say to you, I have not found
        such <b>great faith</b> with anyone in Israel.
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 15'" [isJesusWord]="true">
        But He answered and said, “I was sent only to the lost sheep of the house of Israel.” But she came and began to
        bow down before Him, saying, “Lord, help me!” And He answered and said, “It is not good to take the children’s
        bread and throw it to the dogs.” But she said, “Yes, Lord; but even the dogs feed on the crumbs which fall from
        their masters’ table.” Then Jesus said to her, “O woman, your <b>faith is great</b>; it shall be done for you as
        you wish.” And her daughter was healed at once.
      </blog-reference-tooltip>
      <br />

      Let us, on the other hand, remember the Lord's words to those who doubted in times past and let us not shrink back
      in disbelief and fear, but instead be strengthen by God's grace moving forward, fearlessly, towards the heavenly
      prize which is ours in Christ Jesus. He reprimanded many because of their little faith, as it is written,
      <blog-reference-tooltip [reference]="'Matthew 6'" [isJesusWord]="true">
        if God so clothes the grass of the field, which is alive today and tomorrow is thrown into the furnace, will He
        not much more clothe you? You of <b>little faith</b>!
      </blog-reference-tooltip>
      <blog-reference-tooltip [reference]="'Matthew 8'" [isJesusWord]="true">
        And behold, there arose a great storm on the sea, so that the boat was being covered with the waves; but Jesus
        Himself was asleep. And they came to Him and woke Him, saying, “Save us, Lord; we are perishing!” He said to
        them, "Why are you afraid, you men of <b>little faith</b>?” Then He got up and rebuked the winds and the sea,
        and it became perfectly calm.
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 14'" [isJesusWord]="true">
        Peter said to Him, “Lord, if it is You, command me to come to You on the water.” And He said, “Come!” And Peter
        got out of the boat, and walked on the water and came toward Jesus. But seeing the wind, he became frightened,
        and beginning to sink, he cried out, “Lord, save me!” Immediately Jesus stretched out His hand and took hold of
        him, and said to him, “You of <b>little faith</b>, why did you doubt?”
      </blog-reference-tooltip>
      And,
      <blog-reference-tooltip [reference]="'Matthew 17'" [isJesusWord]="true">
        When they came to the crowd, a man came up to Jesus, falling on his knees before Him and saying, “Lord, have
        mercy on my son, for he is a lunatic and is very ill; for he often falls into the fire and often into the water.
        I brought him to Your disciples, and they could not cure him.” And Jesus answered and said, "You
        <b>unbelieving and perverse generation</b>, how long shall I be with you? How long shall I put up with you?"
      </blog-reference-tooltip>
      <br />

      Finally, let us keep in mind, what is needed is not a faith that is grand, but a faith the size of a mere mustard
      seed. If Christ reprimanded them on their little faith, then how little that little faith must have been! Let us
      consider the prophet Elijah who is a human like us - he prayed that it would not rain and it did not rain for
      three and a half years. Then he prayed again for rain and it rained just as he asked. Let us beware of doubt and
      fear which are the killers of faith. Confusion is the product of being double-minded or impure from the blending
      together of falsehood and truth or this world and the Kingdom of God. The impure have no inheritence in the
      Kingdom of the Father. So, let us take heed lest we become a waverer ourselves, as it is said,
      <blog-reference-tooltip [reference]="'Mark 9'" [isJesusWord]="true">
        It has often thrown him both into the fire and into the water to destroy him. <b>But if You can do anything</b>,
        take pity on us and help us!” And Jesus said to him, “‘If You can?’ All things are possible to him who
        believes.” Immediately the boy’s father cried out and said, “I do believe; help my unbelief.”
      </blog-reference-tooltip>
      <blog-reference-tooltip [reference]="'Matthew 17'" [isJesusWord]="true">
        Then the disciples came to Jesus privately and said, <b>“Why could we not drive it out?”</b> And He said to
        them, “Because of the littleness of your faith; for truly I say to you, if you have faith the size of a mustard
        seed, you will say to this mountain, ‘Move from here to there,’ and it will move; and nothing will be impossible
        to you.
      </blog-reference-tooltip>
      <!-- <br />

      Our faith in God brings us to righteousness through the true knowledge of Jesus Christ. The fruit of faith is
      repentance from sin and obedience to Him. Can one say, "I have faith", but still live in sin? No.
      <blog-reference-tooltip [reference]="'Luke 13:2'">
        I tell you, no; but unless you repent you will all likewise perish.
      </blog-reference-tooltip>
      <blog-reference-tooltip [reference]="'John 5:14'">
        Afterward Jesus found him in the temple, and said to him, “See, you have been made well. Sin no more, lest a
        worse thing come upon you.”
      </blog-reference-tooltip> -->
    </mat-card-content>
  </mat-card>
</div>
