<h3 class="primary-color">The Word of the Lord revive you</h3>

<mat-card appearance="outlined" style="margin: 15px">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title
        ><h3 class="primary-color">{{ title }}</h3></mat-card-title
      >
      <mat-card-subtitle> </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <lib-narrator [buttonStyle]="narratorStyle.Group" [text]="container?.innerText">
      <ng-container #container></ng-container
    ></lib-narrator>
  </mat-card-content>
</mat-card>
