<mat-card style="margin: 15px">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <gospel-page-header>
          <h1 #seoTitle>{{ page() | dashToTitle }}</h1>
          <h2>{{ section() }}</h2>
        </gospel-page-header>
      </mat-card-title>
      <mat-card-subtitle>
        <div class="mat-caption">
          {{ description() }}
        </div>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <lib-narrator
          [buttonStyle]="narratorStyle.Group"
          [text]="content?.innerText ?? ''"
          [downloadLink]="downloadLink()"
        >
        </lib-narrator>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content #content>
    <div class="readonly-editor">
      <ng-container #textContainer></ng-container>
    </div>
  </mat-card-content>
</mat-card>
