<div class="container-form" style="margin: 0px 17px">
  <router-outlet></router-outlet>

  <h3 style="padding: 15px 0px 0px" class="primary-color" #seoTitle>Studies</h3>
  <div style="padding-bottom: 15px" class="mat-caption" #seoCaption>
    "Be diligent to present yourself approved to God, a worker who does not need to be ashamed, rightly dividing the
    word of truth." (2 Timothy 2:15)
  </div>
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  <blog-study-list></blog-study-list>
</div>
