<div class="container-form" style="margin: 0px 17px">
  <router-outlet></router-outlet>

  <h1 style="padding: 15px 0px 0px" class="primary-color">Grace and peace to you in the Lord Jesus Christ.</h1>
  <h1 style="padding: 15px 0px 0px" class="primary-color">Studies</h1>
  <h6 class="mat-caption">
    "Be diligent to present yourself approved to God, a worker who does not need to be ashamed, rightly dividing the
    word of truth." [2 Timothy 2:15]
  </h6>
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  <blog-study-list></blog-study-list>
</div>
