<div style="display: flex; flex-direction: column">
  <mat-stepper
    linear
    #stepper
    class="stepper"
    (selectionChange)="onSelectionChange($event, true)"
    [orientation]="stepperOrientation$ | async"
  >
    <mat-step state="tonguesIcon" [completed]="selectedLanguage()">
      <ng-template matStepLabel>
        Select Tongue
        <div>{{ selectedLanguage() }}</div>
      </ng-template>
    </mat-step>
    <mat-step state="biblesIcon" [completed]="selectedTranslation()?.name">
      <ng-template matStepLabel
        >Select Bible
        <div>{{ selectedTranslation()?.name }}</div>
      </ng-template>
    </mat-step>
    <mat-step state="booksIcon" [completed]="selectedBook()?.name">
      <ng-template matStepLabel
        >Select Book
        <div>{{ selectedBook()?.name }}</div>
      </ng-template>
    </mat-step>
    <mat-step state="chaptersIcon" [completed]="selectedChapter()">
      <ng-template matStepLabel
        >Select Chapter
        <div>{{ selectedChapter() }}</div>
      </ng-template>
    </mat-step>
    <mat-step state="readIcon" [completed]="selectedChapter()">
      <ng-template matStepLabel>Read</ng-template>
    </mat-step>

    <ng-template matStepperIcon="tonguesIcon">
      <mat-icon>language</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="biblesIcon">
      <mat-icon>library_add_check</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="booksIcon">
      <mat-icon>collections_bookmark</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="chaptersIcon">
      <mat-icon>bookmark</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="readIcon">
      <mat-icon>menu_book</mat-icon>
    </ng-template>
  </mat-stepper>

  <div style="padding: 10px">
    <router-outlet></router-outlet>
  </div>
</div>
