<div class="container-form" style="margin: 0px 17px">
  <router-outlet></router-outlet>

  <h1 style="padding: 15px 0px 0px" class="primary-color">May He give you peace</h1>
  <h1 style="padding: 15px 0px 0px" class="primary-color">Poems</h1>
  <h6 class="mat-caption">
    "Speak to one another with psalms, hymns, and spiritual songs. Sing and make music in your hearts to the Lord,
    always giving thanks to God the Father for everything in the name of our Lord Jesus Christ." [Ephesians 5:19,20]
  </h6>
  <blog-psalm-list></blog-psalm-list>
</div>
