<div class="item-page">
  @if(!update) {
  <lib-filter style="flex: 1 1 20%" (onChange)="searchTerm.set($event)"></lib-filter>
  }

  <div style="flex: 1 1 80%">
    <div class="item-item" *ngFor="let item of pagedItems()">
      <div class="item-title primary-color">
        <lib-link [link]="baseUrl + '/items/item-detail/' + item.url">
          <div style="display: flex; align-items: baseline">
            <h3>{{ item.title }}</h3>
            <fa-icon [icon]="faLink" style="padding-left: 4px; font-size: large"></fa-icon>
          </div>
        </lib-link>
      </div>
      <div>{{ item.date | date: "short" }}</div>

      @if(update) {
      <button mat-flat-button (click)="doUpdate(item)">Update</button>
      <lib-text-editor [document]="item?.json" (editorChanged)="updatedJson = $event"></lib-text-editor>
      } @else {
      <lib-readonly-text-editor
        [html]="item?.json?.toString()"
        [link]="baseUrl + '/items/item-detail/' + item.url"
      ></lib-readonly-text-editor>
      }

      <mat-divider></mat-divider>
    </div>

    <mat-paginator
      [length]="total()"
      [showFirstLastButtons]="true"
      [pageSize]="pageSize()"
      [pageSizeOptions]="[initialPageSize, total()]"
      [pageIndex]="pageIndex()"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
