:host {
  background-color: var(--mat-sys-surface-container-lowest);
  display: block;
}

.item-page {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.item-item {
  padding: 7px 0px;
}

.item-title {
  text-decoration: underline;
  cursor: pointer;
}

lib-filter {
  margin: 0px 15px;
}

@media (max-width: 1000px) {
  lib-filter {
    margin: 15px 0px;
  }

  .item-page {
    flex-direction: column;
  }

  .filter-card {
    margin: unset;
  }
}
