<router-outlet></router-outlet>

<h1 style="padding: 15px 0px 0px" class="primary-color">
  God's grace be with you
</h1>
<h1 style="padding: 15px 15px 0px" class="primary-color">Links</h1>

<mat-list role="list">
  <mat-list-item role="listitem"
    ><a href="http://www.followgospel.com/" target="_blank"
      >Follow the Gospel</a
    ></mat-list-item
  >

  <mat-list-item role="listitem"
    ><a href="https://www.dontperish.com/" target="_blank"
      >Don't Perish</a
    ></mat-list-item
  >

  <mat-list-item role="listitem"
    ><a href="https://www.bible.ca/" target="_blank"
      >The Interactive Bible</a
    ></mat-list-item
  >

  <mat-list-item role="listitem"
    ><a href="https://www.minimannamoments.com/" target="_blank"
      >Mini Mana Moments</a
    ></mat-list-item
  >
</mat-list>
