.psalm-page {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.psalm-item {
  padding: 7px 0px;
}

.psalm-title {
  // font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .psalm-page {
    flex-direction: column;
  }

  .filter-card {
    margin: unset;
  }
}
