<div class="psalm-page">
  @if(!update) {
  <lib-filter style="flex: 1 1 20%" (onChange)="searchTerm.set($event)"></lib-filter>
  }

  <div style="flex: 1 1 80%; width: 100%">
    <div class="psalm-item" *ngFor="let psalm of pagedPsalms()">
      <div class="psalm-title primary-color">
        <lib-link [link]="baseUrl + '/poems/poem-detail/' + psalm.id"
          >{{ psalm.title }}
          <lib-fa-icon [icon]="faLink" style="padding-left: 2px"></lib-fa-icon>
        </lib-link>
      </div>
      <div>{{ psalm.date | date: "short" }}</div>

      @if(update) {
      <button mat-flat-button (click)="doUpdate(psalm)">Update</button>
      <lib-text-editor [document]="psalm.json" (editorChanged)="updatedJson = $event"></lib-text-editor>
      } @else {
      <lib-readonly-text-editor
        [html]="psalm?.json?.toString()"
        [link]="baseUrl + '/poems/poem-detail/' + psalm.id"
      ></lib-readonly-text-editor>
      }

      <mat-divider></mat-divider>
    </div>

    <mat-paginator
      [length]="total()"
      [showFirstLastButtons]="true"
      [pageSize]="pageSize()"
      [pageIndex]="pageIndex()"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
