<div class="psalm-item" *ngFor="let psalm of psalms$ | async">
  <div class="psalm-title primary-color" (click)="navigate(psalm)">
    {{ psalm.title }}
    <lib-fa-icon [icon]="faLink" style="padding-left: 2px"></lib-fa-icon>
  </div>
  <div>{{ psalm.date | date: "short" }}</div>

  @if(update) {
  <button mat-flat-button (click)="doUpdate(psalm)">Update</button>
  <lib-text-editor [document]="psalm.json" (editorChanged)="psalm.json = $event"></lib-text-editor>
  } @else {
  <lib-readonly-text-editor [html]="psalm?.json?.toString()"></lib-readonly-text-editor>
  }

  <mat-divider></mat-divider>
</div>
