@use "@angular/material" as mat;
@use "sass:map";

$my-palette: mat.$indigo-palette;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$indigo-palette, 900);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.core-theme($my-theme);

@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

$color-config: mat.get-color-config($my-theme);
$primary-palette: map.get($color-config, "primary");

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

h1 {
  font-variant: small-caps;
  font-size: xxx-large;
  color: mat.get-color-from-palette($primary-palette);
  margin-top: unset;
}

.primary-color {
  color: mat.get-color-from-palette($primary-palette);
}

body {
  overflow-x: hidden;
}
