@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$azure-palette,
    ),
  )
);

@include mat.typography-hierarchy($theme);

html {
  @include mat.all-component-themes($theme);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

h3 {
  font-variant: small-caps;
  font-size: x-large;
  color: var(--mat-sys-primary);
  margin-top: unset;
}

.primary-color {
  color: var(--mat-sys-primary);
}

body {
  overflow-x: hidden;
}
