mat-card {
  height: 100%;
  width: 100%;
}

mat-grid-list {
  height: 100%;
}

.image-container {
  transform: translateZ(0);
  overflow: hidden;
}

.tile {
  cursor: pointer;
  // min-height: 175px;
}
