:host {
  display: block;
  padding: 14px;
}

.product-image {
  object-fit: contain;
  background-size: cover;
  width: 15vw !important;
  position: relative !important;
}

.link-box {
  color: var(--mat-sys-primary);
  text-decoration: underline;
}
