<div style="margin: 0px 17px">
  <router-outlet></router-outlet>

  <gospel-page-header>
    <h1 #seoTitle>Tracts</h1>
    <h2>The Good News</h2>
  </gospel-page-header>

  <div class="mat-caption" #seoCaption>
    Using bookmarks as tracts has a two-fold purpose: it points to the Word of God for the truth (it is a book marker!)
    and gives the Gospel, a continual reminder of the Good News. I also use gospel cards because people put them in
    their wallet; however the best place for all these things is in the heart, meditating and ruminating on them day and
    night: the paper fades away as a flower of the field, but the Word of God remains forever. I hope these help you
    with creating your own tracts! There is an offline copy, physical and audio, of the good news which I wrote. I also
    give out audio bibles in KJV and ESV. Contact me with your name if you want any of these and I will provide them for
    you to the glory and praise of God, the Father.
  </div>

  <mat-selection-list role="list" [multiple]="false" hideSingleSelectionIndicator>
    <mat-list-option lines="3" class="link-box">
      <img
        matListItemAvatar
        class="product-image"
        [ngSrc]="'q_auto/f_auto/v1711590013/img/audioplayer-min_litzdj.webp'"
        [alt]="'The New Testament Audio Player'"
        fill
      />
      <span matListItemTitle>The New Testament Audio Player</span>
      <span matListItemLine>Audio Book (KJV or ESV)</span>
    </mat-list-option>
    <lib-link [link]="'https://www.amazon.com/dp/B0GGZTZ2MV'">
      <mat-list-option lines="3">
        <img
          matListItemAvatar
          class="product-image"
          [ngSrc]="'q_auto/f_auto/v1711590013/img/book-cover.webp'"
          [alt]="'The Good News of the Kingdom of God'"
          fill
        />
        <span matListItemTitle>The Good News of the Kingdom of God</span>
        <span matListItemLine>Book </span>
      </mat-list-option>
    </lib-link>
    <mat-list-option
      lines="2"
      role="listitem"
      class="link-box"
      [disabled]="isDownloading()"
      (click)="downloadZip(`${baseUrl}/assets/audios/the-good-news-of-the-kingdom-of-god.zip`)"
    >
      <lib-fa-icon matListItemIcon [icon]="zipFileIcon"></lib-fa-icon>
      <span matListItemTitle>The Good News of the Kingdom of God</span>
      <span matListItemLine>Audio Book</span>
      @if(isDownloading()){
      <mat-progress-bar mode="determinate" [value]="progress()"></mat-progress-bar>
      }
    </mat-list-option>
    <lib-link [link]="`${baseUrl}/assets/tracts/the-good-news-of-the-kingdom-of-god.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="pdfIcon"></lib-fa-icon>
        <span matListItemTitle>The Good News of the Kingdom of God</span>
        <span matListItemLine>E-Book</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/soft-gospel-card.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="cardIcon"></lib-fa-icon> <span matListItemTitle>The Good News </span>
        <span matListItemLine>Business Card (Soft)</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/plastic-gospel-card.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="cardIcon"></lib-fa-icon>
        <span matListItemTitle>The Good News </span>
        <span matListItemLine>Business Card (Plastic)</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/beware-of-burgers.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="bookmarkIcon"></lib-fa-icon>
        <span matListItemTitle>Beware of Fast Food </span> <span matListItemLine>Bookmark</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/beware-of-images.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="bookmarkIcon"></lib-fa-icon>
        <span matListItemTitle>Watch Yourselves, Idols </span> <span matListItemLine>Bookmark</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/unfailing-love-of-god.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="bookmarkIcon"></lib-fa-icon>
        <span matListItemTitle>The Unfailing Love of God </span>
        <span matListItemLine>Bookmark</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/faithful-love-of-god.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="bookmarkIcon"></lib-fa-icon>
        <span matListItemTitle>The Faithful Love of God </span> <span matListItemLine>Bookmark</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/the-promised-gift-of-god.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="bookmarkIcon"></lib-fa-icon>
        <span matListItemTitle>The Promised Gift from God </span> <span matListItemLine>Bookmark</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/the-good-news-of-grace-and-truth.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="bookmarkIcon"></lib-fa-icon>
        <span matListItemTitle>The Good News of Grace and Truth </span>
        <span matListItemLine>Bookmark</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/good-news-of-freedom.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="bookmarkIcon"></lib-fa-icon>
        <span matListItemTitle>The Good News of Freedom </span> <span matListItemLine>Bookmark</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/good-news-of-justice.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="bookmarkIcon"></lib-fa-icon>
        <span matListItemTitle>The Good News of Justice </span>
        <span matListItemLine>Bookmark</span></mat-list-option
      >
    </lib-link>
    <lib-link [link]="`${baseUrl}/assets/tracts/gospel-of-faith.pdf`">
      <mat-list-option lines="2" role="listitem">
        <lib-fa-icon matListItemIcon [icon]="bookmarkIcon"></lib-fa-icon>
        <span matListItemTitle>The Gospel of Faith </span>
        <span matListItemLine>Bookmark</span>
      </mat-list-option>
    </lib-link>
  </mat-selection-list>
</div>
