@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: (
        plain-family: sans-serif,
        brand-family: sans-serif,
      ),
    )
  );
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.owl-carousel .owl-item {
  min-height: 40vh !important;
}

a {
  text-decoration: underline;
  color: var(--mat-sys-primary);
}
