<app-carousel></app-carousel>

<div class="card-section">
  <mat-card class="custom-card" [@slideInFromLeft]>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h3>About Me</h3>
        </mat-card-title>
        <mat-card-subtitle><h4>David D Waldner</h4></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      I'm a Maintenance Technician from Renner, SD. If you have any projects you don't want to tackle yourself, I do
      painting, carpentry, drywall, taping and texturing; also flooring, light, electrical and plumbing.
    </mat-card-content>
  </mat-card>

  <mat-card class="custom-card" [@slideInFromRight]>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h3>Contact Me</h3>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <lib-contact-form formSpreeApi="https://formspree.io/f/xblkvypq"></lib-contact-form>
    </mat-card-content>
  </mat-card>
</div>
