<div class="home-image" style="background-position: top" #toGospel>
  <img fill style="object-position: top" [ngSrc]="'../../assets/home-landing-min.webp'" alt="" priority />

  <div class="header-pane">
    <h1 class="header-title primary-color" [@slideInFromRight]>DAVE'S DRYWALL AND PAINTING</h1>
    <h3 class="header-caption" [@slideInFromLeft]>25+ Years Experience, Specialized in All Trades</h3>
    <h3 class="header-caption" [@slideInFromLeft]>Residential & Commercial, Interior & Exterior</h3>
  </div>
</div>

<div class="carousel-section" #carouselSection>
  <app-carousel [@simpleFadeAnimation]></app-carousel>
</div>

<div class="card-section" #cardSection>
  @defer (on viewport(cardSection)) {
  <mat-card class="custom-card" [@slideInFromLeft]>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h3>About Me</h3>
        </mat-card-title>
        <mat-card-subtitle><h4>David Waldner</h4></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <span>
        I'm a Maintenance Technician from Renner, SD. If you have any projects you don't want to tackle yourself, I do
        painting, carpentry, drywall, taping and texturing; also flooring, light, electrical and plumbing.
      </span>
    </mat-card-content>
  </mat-card>

  <mat-card class="custom-card" [@slideInFromRight]>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h3>Contact Me</h3>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <lib-contact-form formSpreeApi="https://formspree.io/f/xblkvypq"></lib-contact-form>
    </mat-card-content>
  </mat-card>
  }
</div>
