<mat-card style="margin: 15px">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title #seoTitle>
        <h3 class="primary-color">Contact Me</h3>
      </mat-card-title>
      <mat-card-subtitle #seoCaption>
        Use the contact form below or email me, Kurtis Waldner, at
        <span style="text-decoration: underline">kurtisblainewaldner&#64;gmail.com</span>. My phone number is
        605-214-2910.
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <lib-contact-form formSpreeApi="https://formspree.io/f/mzbnezkd"></lib-contact-form>
  </mat-card-content>
</mat-card>
