:host {
  display: block;
  padding: 14px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

lib-number-ticker[matRipple] {
  cursor: pointer;
}
