<mat-card style="margin: 15px" *ngIf="blog$ | async as blog">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title #seoTitle>
        <h2 class="blog-title primary-color">
          {{ blog?.title }}
        </h2>
      </mat-card-title>
      <mat-card-subtitle #seoCaption>
        <div>{{ blog?.date | date: "short" }}</div>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <lib-readonly-text-editor [html]="blog?.json?.toString()" [showReadMore]="false"></lib-readonly-text-editor>
  </mat-card-content>
</mat-card>
