<div class="item-page">
  @if(!update) {
  <lib-filter style="flex: 1 1 20%" (onChange)="searchTerm.set($event)"></lib-filter>
  }

  <div style="flex: 1 1 80%">
    <div class="item-item" *ngFor="let item of pagedItems()">
      <div class="item-title fixed-primary-color">
        @if(update) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="item.title" (click)="$event.stopPropagation()" />
        </mat-form-field>
        } @else {
        <lib-link [link]="'http://localhost:4200/blogs/blog-detail/' + item.id">
          {{ item.title }}
          <fa-icon [icon]="faLink" style="padding-left: 2px"></fa-icon>
        </lib-link>
        }
      </div>
      <div>{{ item.date | date: "short" }}</div>

      @if(delete) {
      <button mat-flat-button (click)="doDelete(item)">Delete</button>
      } @if(update) {
      <button mat-flat-button (click)="doUpdate(item)">Update</button>
      <lib-text-editor [document]="item?.json" (editorChanged)="updatedJson = $event"></lib-text-editor>
      } @else {
      <lib-readonly-text-editor
        [html]="item?.json?.toString()"
        [link]="'http://localhost:4200/blogs/blog-detail/' + item.id"
      ></lib-readonly-text-editor>
      }

      <mat-divider></mat-divider>
    </div>

    <mat-paginator
      [length]="total()"
      [showFirstLastButtons]="true"
      [pageSize]="pageSize()"
      [pageIndex]="pageIndex()"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
