<div class="insight-page">
  @if(!update) {
  <lib-filter style="flex: 1 1 20%" (onChange)="searchTerm.set($event)"></lib-filter>
  }

  <div style="flex: 1 1 80%">
    <div class="insight-item" *ngFor="let insight of pagedInsights()">
      <div class="insight-title primary-color">
        <lib-link [link]="baseUrl + '/insights/insight-detail/' + insight.id"
          >{{ insight.title }}
          <lib-fa-icon [icon]="faLink" style="padding-left: 2px"></lib-fa-icon>
        </lib-link>
      </div>
      <div>{{ insight.date | date: "short" }}</div>

      @if(update) {
      <button mat-flat-button (click)="doUpdate(insight)">Update</button>
      <lib-text-editor [document]="insight.json" (editorChanged)="updatedJson = $event"></lib-text-editor>
      } @else {
      <lib-readonly-text-editor
        [html]="insight?.json?.toString()"
        [link]="baseUrl + '/insights/insight-detail/' + insight.id"
      ></lib-readonly-text-editor>
      }

      <mat-divider></mat-divider>
    </div>

    <mat-paginator
      [length]="total()"
      [showFirstLastButtons]="true"
      [pageSize]="pageSize()"
      [pageIndex]="pageIndex()"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
