<div class="blog-item" *ngFor="let blog of blogs$ | async">
  <div class="blog-title primary-color" (click)="navigate(blog)">
    {{ blog.title }}
    <lib-fa-icon [icon]="faLink" style="padding-left: 2px"></lib-fa-icon>
  </div>
  <div>{{ blog.date | date: "short" }}</div>

  @if(update) {
  <button mat-flat-button (click)="doUpdate(blog)">Update</button>
  <lib-text-editor [document]="blog.json" (editorChanged)="blog.json = $event"></lib-text-editor>
  } @else {
  <lib-readonly-text-editor [html]="blog?.json?.toString()"></lib-readonly-text-editor>
  }

  <mat-divider></mat-divider>
</div>
