<div class="blog-page">
  @if(!update) {
  <lib-filter style="flex: 1 1 20%" (onChange)="searchTerm.set($event)"></lib-filter>
  }

  <div style="flex: 1 1 80%">
    <div class="blog-item" *ngFor="let blog of pagedBlogs()">
      <div class="blog-title primary-color">
        <lib-link [link]="baseUrl + '/edifications/edify-detail/' + blog.url">
          <div style="display: flex; align-items: baseline">
            <h3>{{ blog.title }}</h3>
            <lib-fa-icon [icon]="faLink" style="padding-left: 4px; font-size: large"></lib-fa-icon>
          </div>
        </lib-link>
      </div>
      <div>{{ blog.date | date: "short" }}</div>

      @if(update) {
      <button mat-flat-button (click)="doUpdate(blog)">Update</button>
      <lib-text-editor [document]="blog.json" (editorChanged)="updatedJson = $event"></lib-text-editor>
      } @else {
      <lib-readonly-text-editor
        [html]="blog?.json?.toString()"
        [link]="baseUrl + '/edifications/edify-detail/' + blog.url"
      ></lib-readonly-text-editor>
      }

      <mat-divider></mat-divider>
    </div>

    <mat-paginator
      [length]="total()"
      [showFirstLastButtons]="true"
      [pageSize]="pageSize()"
      [pageSizeOptions]="[initialPageSize, total()]"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
