<div class="blog-item" *ngFor="let blog of blogs$ | async">
  <div class="blog-title primary-color" (click)="navigate(blog)">
    {{ blog.title }}
    <lib-fa-icon [icon]="faLink" style="padding-left: 2px"></lib-fa-icon>
  </div>
  <div>{{ blog.date | date: "short" }}</div>

  <button mat-flat-button *ngIf="update" (click)="doUpdate(blog)">Update</button>

  <lib-text-editor [readonly]="!update" [document]="blog?.json" (editorChanged)="blog.json = $event"></lib-text-editor>

  <mat-divider></mat-divider>
</div>
