.header {
  position: fixed !important; //override the toolbar in app.component
}

.section {
  height: 100vh;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer {
  padding: 15px;
  color: var(--mat-sys-on-background) !important;
}

.footer > h3 {
  letter-spacing: 5px;
  text-align: center;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide,
.fp-slides {
  width: 100vw;
  height: 100vh;
}

.header-title {
  letter-spacing: 5px;
  color: white;
  text-align: center;
}

.header-caption {
  letter-spacing: 4px;
  margin-bottom: 10px;
  color: white;
}

.slide > button {
  text-decoration: underline;
  width: 50%;
  font-size: 16px;
  color: white !important;
}

.custom-panel button {
  font-size: 16px;
  color: white !important;
}

.menu > .custom-panel {
  background: transparent;
  box-shadow: none !important;
  margin: 0;
  text-transform: none;
  justify-items: center;
  text-align: center;
}

.section img {
  z-index: -1;
  object-fit: cover !important;
  height: 100vh !important;
  width: 100vw !important;
}
