<div gospelFullpage id="fullpage" [options]="fullpageConfig" (ref)="fullpageApi = $event">
  <div class="section header-pane" data-anchor="goodNews" data-tooltip="The Gospel">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'cover' : 'contain' }"
      class="wedding-feast-image"
      [ngSrc]="'v1711590013/img/Mat25L_dzpagk.webp'"
      alt=""
      priority
    />

    <button matButton="filled" disableRipple class="header-button fixed-primary-color">
      <h2 class="header-title">The Good News of the Kingdom of God</h2>
    </button>
    <!-- @if(!isMobile()){ -->
    <mat-accordion class="menu" style="margin-top: 12px">
      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button matButton="elevated" class="dark-mode">The Danger - Sin</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-danger', 'the-sin-nature')">
            The Sin Nature
          </button>
          <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-danger', 'god-knows')">God Knows</button>
          <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-danger', 'a-consuming-fire')">
            A Consuming Fire
          </button>
          <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-danger', 'the-day-of-judgement')">
            The Day Of Judgement
          </button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button matButton="elevated" class="dark-mode">The Futility - Death</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-futility', 'the-love-of-pleasure')">
            The Love Of Pleasure
          </button>
          <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-futility', 'work-and-toil')">
            Work And Toil
          </button>
          <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-futility', 'the-love-of-wealth')">
            The Love Of Wealth
          </button>
          <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-futility', 'the-day-of-death')">
            The Day Of Death
          </button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button matButton="elevated" class="light-mode">The Safety - Grace</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-servant-of-god')">
            The Servant Of God
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-bronze-serpent')">
            The Bronze Serpent
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-victor')">
            The Victor
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-lamb-of-god')">
            The Lamb Of God
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-lion-of-judah')">
            The Lion of Judah
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-scapegoat')">
            The Scapegoat
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-true-food')">
            The True Food
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-door-of-salvation')">
            The Door of Salvation
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-rock-of-salvation')">
            The Rock Of Salvation
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-son-of-god')">
            The Son Of God
          </button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button matButton="elevated" class="light-mode">The Call - Faith</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'the-race-of-faith')">
            The Race Of Faith
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'a-clear-conscience')">
            A Clear Conscience
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'abide-in-jesus')">
            Abide In Jesus
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'a-new-heart')">
            A New Heart
          </button>
          <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'born-again')">Born Again</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button matButton="elevated" class="light-mode warn">Our Response</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'repentance-toward-god')">
            Repentance Toward God
          </button>
          <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'buried-in-baptism')">
            Buried In Baptism
          </button>
          <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'believe-in-god')">
            Believe In God
          </button>
          <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'obedience-to-holiness')">
            Obedience To Holiness
          </button>
          <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'live-worthy')">
            Live Worthy
          </button>
          <button
            matButton="tonal"
            class="light-mode warn"
            (click)="toAnchor('our-response', 'persevere-by-rememberance')"
          >
            Persevere By Remembrance
          </button>
          <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'call-upon-the-lord')">
            Call Upon The Lord
          </button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button matButton="elevated" class="light-mode warn">The Day of the Lord - Hope</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button
            matButton="tonal"
            class="light-mode warn"
            (click)="toAnchor('the-day-of-the-lord', 'resurrection-of-life')"
          >
            Resurrection Of Life
          </button>
          <button
            matButton="tonal"
            class="light-mode warn"
            (click)="toAnchor('the-day-of-the-lord', 'new-spiritual-bodies')"
          >
            New Spiritual Bodies
          </button>
          <button matButton="tonal" class="light-mode warn" (click)="toAnchor('the-day-of-the-lord', 'eternal-reward')">
            Eternal Reward
          </button>
          <button
            matButton="tonal"
            class="light-mode warn"
            (click)="toAnchor('the-day-of-the-lord', 'everlasting-life')"
          >
            Everlasting Life
          </button>
          <button matButton="tonal" class="light-mode warn" (click)="toAnchor('the-day-of-the-lord', 'the-new-heaven')">
            The New Heaven
          </button>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- } -->
  </div>

  <!-- #region The Danger - Sin -->
  <div class="section" data-anchor="the-danger" data-tooltip="The Danger - Sin">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590014/img/Rotator-7f_ydnvku.webp'"
      alt=""
    />

    <div class="slide">
      <button matButton="elevated" disableRipple class="header-button dark-mode">
        <h3 class="header-title">The Danger - Sin</h3>
      </button>
      <div class="section-button-group">
        <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-danger', 'the-sin-nature')">
          The Sin Nature
        </button>
        <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-danger', 'god-knows')">God Knows</button>
        <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-danger', 'a-consuming-fire')">
          A Consuming Fire
        </button>
        <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-danger', 'the-day-of-judgement')">
          The Day Of Judgement
        </button>
      </div>
    </div>

    <blog-gospel-section
      class="slide"
      data-anchor="the-sin-nature"
      [page]="theSinNature.name"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <blog-sin-nature #theSinNature></blog-sin-nature>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      class="slide"
      [page]="GodKnows.name"
      data-anchor="god-knows"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <blog-he-knows #GodKnows></blog-he-knows>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      class="slide"
      [page]="aConsumingFire.name"
      data-anchor="a-consuming-fire"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-consuming-fire #aConsumingFire></gospel-consuming-fire>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      class="slide"
      [page]="theDayOfJudgement.name"
      data-anchor="the-day-of-judgement"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-judgement-day #theDayOfJudgement></gospel-judgement-day>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion The Danger - Sin -->

  <!-- #region The Futility - Death -->
  <div class="section" data-anchor="the-futility" data-tooltip="The Futility - Death">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590027/img/sin_s3obrq.webp'"
      alt=""
    />

    <div class="slide">
      <button matButton="elevated" disableRipple class="header-button dark-mode">
        <h3 class="header-title">The Futility - Death</h3>
      </button>
      <div class="section-button-group">
        <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-futility', 'the-love-of-pleasure')">
          The Love Of Pleasure
        </button>
        <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-futility', 'work-and-toil')">
          Work And Toil
        </button>
        <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-futility', 'the-love-of-wealth')">
          The Love Of Wealth
        </button>
        <button matButton="tonal" class="dark-mode" (click)="toAnchor('the-futility', 'the-day-of-death')">
          The Day Of Death
        </button>
      </div>
    </div>

    <blog-gospel-section
      [page]="loveOfPleasure.name"
      data-anchor="the-love-of-pleasure"
      class="slide"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-pleasure #loveOfPleasure></gospel-pleasure>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="workAndToil.name"
      data-anchor="work-and-toil"
      class="slide"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-toil #workAndToil></gospel-toil>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theLoveOfWealth.name"
      data-anchor="the-love-of-wealth"
      class="slide"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-wealth #theLoveOfWealth></gospel-wealth>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theDayOfDeath.name"
      data-anchor="the-day-of-death"
      class="slide"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-death #theDayOfDeath></gospel-death>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion The Futility - Death -->

  <!-- #region The Safety - Grace -->
  <div class="section" data-anchor="the-safety" data-tooltip="The Safety - Grace">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590014/img/Rotator-4f_zydoe1.webp'"
      alt=""
    />

    <div class="slide">
      <button matButton="elevated" disableRipple class="header-button light-mode">
        <h3 class="header-title">The Safety - Grace</h3>
      </button>
      <div class="section-button-group">
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-servant-of-god')">
          The Servant Of God
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-bronze-serpent')">
          The Bronze Serpent
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-victor')">The Victor</button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-lamb-of-god')">
          The Lamb Of God
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-lion-of-judah')">
          The Lion of Judah
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-scapegoat')">
          The Scapegoat
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-true-food')">
          The True Food
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-door-of-salvation')">
          The Door of Salvation
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-rock-of-salvation')">
          The Rock Of Salvation
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-safety', 'the-son-of-god')">
          The Son Of God
        </button>
      </div>
    </div>

    <blog-gospel-section
      [page]="theServantOfGod.name"
      data-anchor="the-servant-of-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-servant #theServantOfGod></gospel-servant>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theBronzeSerpent.name"
      data-anchor="the-bronze-serpent"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-bronze-serpent #theBronzeSerpent></gospel-bronze-serpent>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theVictor.name"
      data-anchor="the-victor"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-victor #theVictor></gospel-victor>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theLambOfGod.name"
      data-anchor="the-lamb-of-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-lamb #theLambOfGod></gospel-lamb>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theLionOfJudah.name"
      data-anchor="the-lion-of-judah"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-lion #theLionOfJudah></gospel-lion>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theScapegoat.name"
      data-anchor="the-scapegoat"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-scapegoat #theScapegoat></gospel-scapegoat>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theTrueFoodAndTheTrueDrink.name"
      data-anchor="the-true-food"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-food-drink #theTrueFoodAndTheTrueDrink></gospel-food-drink>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theDoorOfEternalSalvation.name"
      data-anchor="the-door-of-salvation"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-salvation #theDoorOfEternalSalvation></gospel-salvation>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theRockOfOurSalvation.name"
      data-anchor="the-rock-of-salvation"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-rock #theRockOfOurSalvation></gospel-rock>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theSonOfGod.name"
      data-anchor="the-son-of-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-son #theSonOfGod></gospel-son>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion The Safety - Grace -->

  <!-- #region The Call - Faith -->
  <div class="section" data-anchor="the-call" data-tooltip="The Call - Faith">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      class="faith-image"
      [ngSrc]="'v1711590027/img/Rotator-10f_srbkmk.webp'"
      alt=""
    />

    <div class="slide">
      <button matButton="elevated" disableRipple class="header-button light-mode">
        <h3 class="header-title">The Call - Faith</h3>
      </button>
      <div class="section-button-group">
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'the-race-of-faith')">
          The Race Of Faith
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'a-clear-conscience')">
          A Clear Conscience
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'abide-in-jesus')">
          Abide In Jesus
        </button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'a-new-heart')">A New Heart</button>
        <button matButton="tonal" class="light-mode" (click)="toAnchor('the-call', 'born-again')">Born Again</button>
      </div>
    </div>

    <blog-gospel-section
      [page]="theRaceOfFaith.name"
      data-anchor="the-race-of-faith"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-run-the-race #theRaceOfFaith></gospel-run-the-race>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="aClearConscience.name"
      data-anchor="a-clear-conscience"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-clear-conscience #aClearConscience></gospel-clear-conscience>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="abideInHim.name"
      data-anchor="abide-in-jesus"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-abide #abideInHim></gospel-abide>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="aNewHeart.name"
      data-anchor="a-new-heart"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-new-heart #aNewHeart></gospel-new-heart>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="bornAgain.name"
      data-anchor="born-again"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-born-again #bornAgain></gospel-born-again>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion The Call - Faith -->

  <!-- #region Our Response -->
  <div class="section" data-anchor="our-response" data-tooltip="Our Response">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      class="bush-image"
      [ngSrc]="'v1711590013/img/bush_tudwx1.webp'"
      alt=""
    />

    <div class="slide">
      <button matButton="elevated" disableRipple class="header-button light-mode warn">
        <h3 class="header-title">Our Response</h3>
      </button>
      <div class="section-button-group">
        <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'repentance-toward-god')">
          Repentance Toward God
        </button>
        <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'buried-in-baptism')">
          Buried In Baptism
        </button>
        <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'believe-in-god')">
          Believe In God
        </button>
        <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'obedience-to-holiness')">
          Obedience To Holiness
        </button>
        <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'live-worthy')">
          Live Worthy
        </button>
        <button
          matButton="tonal"
          class="light-mode warn"
          (click)="toAnchor('our-response', 'persevere-by-rememberance')"
        >
          Persevere By Remembrance
        </button>
        <button matButton="tonal" class="light-mode warn" (click)="toAnchor('our-response', 'call-upon-the-lord')">
          Call Upon The Lord
        </button>
      </div>
    </div>

    <blog-gospel-section
      [page]="repentanceTowardGod.name"
      data-anchor="repentance-toward-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-repent #repentanceTowardGod></gospel-repent>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="buriedInBaptism.name"
      data-anchor="buried-in-baptism"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-baptism #buriedInBaptism></gospel-baptism>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="believeInGod.name"
      data-anchor="believe-in-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-believe-in-god #believeInGod></gospel-believe-in-god>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="obedienceToHoliness.name"
      data-anchor="obedience-to-holiness"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-holiness #obedienceToHoliness></gospel-holiness>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="liveWorthy.name"
      data-anchor="live-worthy"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-worthy-of-call #liveWorthy></gospel-worthy-of-call>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="perseveranceByRememberance.name"
      data-anchor="persevere-by-rememberance"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-persevere #perseveranceByRememberance></gospel-persevere>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="callUponTheLord.name"
      data-anchor="call-upon-the-lord"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-call-upon-him #callUponTheLord></gospel-call-upon-him>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion Our Response -->

  <!-- #region The Day of the Lord - Hope -->
  <div class="section" data-anchor="the-day-of-the-lord" data-tooltip="The Day of the Lord - Hope">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590027/img/Rotator-14f_ksynvm.webp'"
      alt=""
    />

    <div class="slide">
      <button matButton="elevated" disableRipple class="header-button light-mode warn">
        <h3 class="header-title">The Day of the Lord - Hope</h3>
      </button>
      <div class="section-button-group">
        <button
          matButton="tonal"
          class="light-mode warn"
          (click)="toAnchor('the-day-of-the-lord', 'resurrection-of-life')"
        >
          Resurrection Of Life
        </button>
        <button
          matButton="tonal"
          class="light-mode warn"
          (click)="toAnchor('the-day-of-the-lord', 'new-spiritual-bodies')"
        >
          New Spiritual Bodies
        </button>
        <button matButton="tonal" class="light-mode warn" (click)="toAnchor('the-day-of-the-lord', 'eternal-reward')">
          Eternal Reward
        </button>
        <button matButton="tonal" class="light-mode warn" (click)="toAnchor('the-day-of-the-lord', 'everlasting-life')">
          Everlasting Life
        </button>
        <button matButton="tonal" class="light-mode warn" (click)="toAnchor('the-day-of-the-lord', 'the-new-heaven')">
          The New Heaven
        </button>
      </div>
    </div>

    <blog-gospel-section
      [page]="theResurrectionOfLife.name"
      data-anchor="resurrection-of-life"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-resurrection #theResurrectionOfLife></gospel-resurrection>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="newSpiritualBodies.name"
      data-anchor="new-spiritual-bodies"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-spiritual-body #newSpiritualBodies></gospel-spiritual-body>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="eternalReward.name"
      data-anchor="eternal-reward"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-eternal-reward #eternalReward></gospel-eternal-reward>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="everlastingLife.name"
      data-anchor="everlasting-life"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-everlasting-life #everlastingLife></gospel-everlasting-life>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theNewHeavenAndTheNewEarth.name"
      data-anchor="the-new-heaven"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-new-heaven-earth #theNewHeavenAndTheNewEarth></gospel-new-heaven-earth>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion The Day of the Lord - Hope -->

  <!-- #region FOOTER -->
  <div class="section fp-auto-height footer" data-anchor="social" data-tooltip="Social">
    <h3>SOCIAL</h3>

    <lib-share
      [githubLink]="'https://github.com/kurtisblaine'"
      [youtubeLink]="'https://www.youtube.com/@too.Wonderful.to.Understand'"
      [amazonLink]="'https://www.amazon.com/dp/B0GFW3SLX2'"
      [linkedinLink]="'https://www.linkedin.com/in/kurt-waldner/'"
      [redditLink]="'https://www.reddit.com/user/Ok_Captain5084/'"
      [slackLink]="'https://godlyconversation.slack.com/archives/C09D5CN1LM6'"
      [discordLink]="'https://discord.gg/sKM3U32q'"
    ></lib-share>
  </div>
  <!-- #endregion FOOTER -->
</div>
