<div gospelFullpage id="fullpage" [options]="fullpageConfig" (ref)="fullpageApi = $event">
  <div class="section header-pane" data-anchor="goodNews" data-tooltip="The Gospel">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'cover' : 'contain' }"
      style="object-position: top"
      [ngSrc]="'v1711590013/img/Mat25L_dzpagk.webp'"
      alt=""
      priority
    />

    <h2 class="header-title" style="text-transform: uppercase">The Good News of the Kingdom of God</h2>

    @if(!isMobile()){
    <!-- <blog-reference-tooltip
      style="display: block"
      class="header-caption"
      [padding]="'0px 100px'"
      [reference]="'Romans 1:16-19'"
    >
      I am not ashamed of the gospel, for it is the power of God for salvation to everyone who believes, to the Jew
      first and also to the Greek. For in it the righteousness of God is revealed from faith to faith; as it is written,
      "BUT THE RIGHTEOUS SHALL LIVE BY FAITH." For the wrath of God is revealed from heaven against all ungodliness and
      unrighteousness of men who suppress the truth in unrighteousness, because that which is known about God is evident
      within them; for God made it evident to them.
    </blog-reference-tooltip> -->

    <mat-accordion class="menu" style="text-transform: unset">
      <mat-expansion-panel class="custom-panel error" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>THE DANGER - SIN</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('the-danger', 'the-sin-nature')">The Sin Nature</button>
          <button mat-button (click)="toAnchor('the-danger', 'god-knows')">God Knows</button>
          <button mat-button (click)="toAnchor('the-danger', 'a-consuming-fire')">A Consuming Fire</button>
          <button mat-button (click)="toAnchor('the-danger', 'the-day-of-judgement')">The Day Of Judgement</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button class="error">THE FUTILITY - DEATH</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent class="error">
          <button mat-button (click)="toAnchor('the-futility', 'the-love-of-pleasure')">The Love Of Pleasure</button>
          <button mat-button (click)="toAnchor('the-futility', 'work-and-toil')">Work And Toil</button>
          <button mat-button (click)="toAnchor('the-futility', 'the-love-of-wealth')">The Love Of Wealth</button>
          <button mat-button (click)="toAnchor('the-futility', 'the-day-of-death')">The Day Of Death</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel primary" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>THE SAFETY - GRACE</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('the-safety', 'the-servant-of-god')">The Servant Of God</button>
          <button mat-button (click)="toAnchor('the-safety', 'the-bronze-serpent')">The Bronze Serpent</button>
          <button mat-button (click)="toAnchor('the-safety', 'the-victor')">The Victor</button>
          <button mat-button (click)="toAnchor('the-safety', 'the-lamb-of-god')">The Lamb Of God</button>
          <button mat-button (click)="toAnchor('the-safety', 'the-lion-of-judah')">The Lion of Judah</button>
          <button mat-button (click)="toAnchor('the-safety', 'the-scapegoat')">The Scapegoat</button>
          <button mat-button (click)="toAnchor('the-safety', 'the-true-food')">The True Food</button>
          <button mat-button (click)="toAnchor('the-safety', 'the-door-of-salvation')">The Door of Salvation</button>
          <button mat-button (click)="toAnchor('the-safety', 'the-rock-of-salvation')">The Rock Of Salvation</button>
          <button mat-button (click)="toAnchor('the-safety', 'the-son-of-god')">The Son Of God</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel primary" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>THE CALL - FAITH</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('the-call', 'the-race-of-faith')">The Race Of Faith</button>
          <button mat-button (click)="toAnchor('the-call', 'a-clear-conscience')">A Clear Conscience</button>
          <button mat-button (click)="toAnchor('the-call', 'abide-in-jesus')">Abide In Jesus</button>
          <button mat-button (click)="toAnchor('the-call', 'a-new-heart')">A New Heart</button>
          <button mat-button (click)="toAnchor('the-call', 'born-again')">Born Again</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>OUR RESPONSE</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('our-response', 'repentance-toward-god')">Repentance Toward God</button>
          <button mat-button (click)="toAnchor('our-response', 'buried-in-baptism')">Buried In Baptism</button>
          <button mat-button (click)="toAnchor('our-response', 'believe-in-god')">Believe In God</button>
          <button mat-button (click)="toAnchor('our-response', 'obedience-to-holiness')">Obedience To Holiness</button>
          <button mat-button (click)="toAnchor('our-response', 'live-worthy')">Live Worthy</button>
          <button mat-button (click)="toAnchor('our-response', 'persevere-by-rememberance')">
            Persevere By Remembrance
          </button>
          <button mat-button (click)="toAnchor('our-response', 'call-upon-the-lord')">Call Upon The Lord</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-button>THE DAY OF THE LORD - HOPE</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button mat-button (click)="toAnchor('the-day-of-the-lord', 'resurrection-of-life')">
            Resurrection Of Life
          </button>
          <button mat-button (click)="toAnchor('the-day-of-the-lord', 'new-spiritual-bodies')">
            New Spiritual Bodies
          </button>
          <button mat-button (click)="toAnchor('the-day-of-the-lord', 'eternal-reward')">Eternal Reward</button>
          <button mat-button (click)="toAnchor('the-day-of-the-lord', 'everlasting-life')">Everlasting Life</button>
          <button mat-button (click)="toAnchor('the-day-of-the-lord', 'the-new-heaven')">The New Heaven</button>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
    }
  </div>

  <!-- #region THE DANGER - SIN -->
  <div class="section" data-anchor="the-danger" data-tooltip="The Danger - Sin">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590014/img/Rotator-7f_ydnvku.webp'"
      alt=""
    />

    <div class="slide">
      <h3 class="header-title">THE DANGER - SIN</h3>
      <button mat-button (click)="toAnchor('the-danger', 'the-sin-nature')">The Sin Nature</button>
      <button mat-button (click)="toAnchor('the-danger', 'god-knows')">God Knows</button>
      <button mat-button (click)="toAnchor('the-danger', 'a-consuming-fire')">A Consuming Fire</button>
      <button mat-button (click)="toAnchor('the-danger', 'the-day-of-judgement')">The Day Of Judgement</button>
    </div>

    <blog-gospel-section
      class="slide"
      data-anchor="the-sin-nature"
      [page]="theSinNature.name"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <blog-sin-nature #theSinNature></blog-sin-nature>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      class="slide"
      [page]="GodKnows.name"
      data-anchor="god-knows"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <blog-he-knows #GodKnows></blog-he-knows>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      class="slide"
      [page]="aConsumingFire.name"
      data-anchor="a-consuming-fire"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-consuming-fire #aConsumingFire></gospel-consuming-fire>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      class="slide"
      [page]="theDayOfJudgement.name"
      data-anchor="the-day-of-judgement"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-judgement-day #theDayOfJudgement></gospel-judgement-day>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion THE DANGER - SIN -->

  <!-- #region THE FUTILITY - DEATH -->
  <div class="section" data-anchor="the-futility" data-tooltip="The Futility - Death">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590027/img/sin_s3obrq.webp'"
      alt=""
    />

    <div class="slide">
      <h3 class="header-title">THE FUTILITY - DEATH</h3>
      <button mat-button (click)="toAnchor('the-futility', 'the-love-of-pleasure')">The Love Of Pleasure</button>
      <button mat-button (click)="toAnchor('the-futility', 'work-and-toil')">Work And Toil</button>
      <button mat-button (click)="toAnchor('the-futility', 'the-love-of-wealth')">The Love Of Wealth</button>
      <button mat-button (click)="toAnchor('the-futility', 'the-day-of-death')">The Day Of Death</button>
    </div>

    <blog-gospel-section
      [page]="loveOfPleasure.name"
      data-anchor="the-love-of-pleasure"
      class="slide"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-pleasure #loveOfPleasure></gospel-pleasure>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="workAndToil.name"
      data-anchor="work-and-toil"
      class="slide"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-toil #workAndToil></gospel-toil>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theLoveOfWealth.name"
      data-anchor="the-love-of-wealth"
      class="slide"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-wealth #theLoveOfWealth></gospel-wealth>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theDayOfDeath.name"
      data-anchor="the-day-of-death"
      class="slide"
      [isLightMode]="false"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-death #theDayOfDeath></gospel-death>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion THE FUTILITY - DEATH -->

  <!-- #region THE SAFETY - GRACE -->
  <div class="section" data-anchor="the-safety" data-tooltip="The Safety - Grace">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590014/img/Rotator-4f_zydoe1.webp'"
      alt=""
    />

    <div class="slide">
      <h3 class="header-title">THE SAFETY - GRACE</h3>
      <button mat-button (click)="toAnchor('the-safety', 'the-servant-of-god')">The Servant Of God</button>
      <button mat-button (click)="toAnchor('the-safety', 'the-bronze-serpent')">The Bronze Serpent</button>
      <button mat-button (click)="toAnchor('the-safety', 'the-victor')">The Victor</button>
      <button mat-button (click)="toAnchor('the-safety', 'the-lamb-of-god')">The Lamb Of God</button>
      <button mat-button (click)="toAnchor('the-safety', 'the-lion-of-judah')">The Lion of Judah</button>
      <button mat-button (click)="toAnchor('the-safety', 'the-scapegoat')">The Scapegoat</button>
      <button mat-button (click)="toAnchor('the-safety', 'the-true-food')">The True Food</button>
      <button mat-button (click)="toAnchor('the-safety', 'the-door-of-salvation')">The Door of Salvation</button>
      <button mat-button (click)="toAnchor('the-safety', 'the-rock-of-salvation')">The Rock Of Salvation</button>
      <button mat-button (click)="toAnchor('the-safety', 'the-son-of-god')">The Son Of God</button>
    </div>

    <blog-gospel-section
      [page]="theServantOfGod.name"
      data-anchor="the-servant-of-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-servant #theServantOfGod></gospel-servant>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theBronzeSerpent.name"
      data-anchor="the-bronze-serpent"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-bronze-serpent #theBronzeSerpent></gospel-bronze-serpent>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theVictor.name"
      data-anchor="the-victor"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-victor #theVictor></gospel-victor>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theLambOfGod.name"
      data-anchor="the-lamb-of-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-lamb #theLambOfGod></gospel-lamb>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theLionOfJudah.name"
      data-anchor="the-lion-of-judah"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-lion #theLionOfJudah></gospel-lion>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theScapegoat.name"
      data-anchor="the-scapegoat"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-scapegoat #theScapegoat></gospel-scapegoat>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theTrueFoodAndTheTrueDrink.name"
      data-anchor="the-true-food"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-food-drink #theTrueFoodAndTheTrueDrink></gospel-food-drink>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theDoorOfEternalSalvation.name"
      data-anchor="the-door-of-salvation"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-salvation #theDoorOfEternalSalvation></gospel-salvation>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theRockOfOurSalvation.name"
      data-anchor="the-rock-of-salvation"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-rock #theRockOfOurSalvation></gospel-rock>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theSonOfGod.name"
      data-anchor="the-son-of-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-son #theSonOfGod></gospel-son>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion THE SAFETY - GRACE -->

  <!-- #region THE CALL - FATIH -->
  <div class="section" data-anchor="the-call" data-tooltip="The Call - Faith">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590027/img/Rotator-10f_srbkmk.webp'"
      alt=""
    />

    <div class="slide">
      <h3 class="header-title">THE CALL - FAITH</h3>
      <button mat-button (click)="toAnchor('the-call', 'the-race-of-faith')">The Race Of Faith</button>
      <button mat-button (click)="toAnchor('the-call', 'a-clear-conscience')">A Clear Conscience</button>
      <button mat-button (click)="toAnchor('the-call', 'abide-in-jesus')">Abide In Jesus</button>
      <button mat-button (click)="toAnchor('the-call', 'a-new-heart')">A New Heart</button>
      <button mat-button (click)="toAnchor('the-call', 'born-again')">Born Again</button>
    </div>

    <blog-gospel-section
      [page]="theRaceOfFaith.name"
      data-anchor="the-race-of-faith"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-run-the-race #theRaceOfFaith></gospel-run-the-race>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="aClearConscience.name"
      data-anchor="a-clear-conscience"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-clear-conscience #aClearConscience></gospel-clear-conscience>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="abideInHim.name"
      data-anchor="abide-in-jesus"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-abide #abideInHim></gospel-abide>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="aNewHeart.name"
      data-anchor="a-new-heart"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-new-heart #aNewHeart></gospel-new-heart>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="bornAgain.name"
      data-anchor="born-again"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-born-again #bornAgain></gospel-born-again>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion THE CALL - FAITH -->

  <!-- #region OUR RESPONSE -->
  <div class="section" data-anchor="our-response" data-tooltip="Our Response">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590013/img/bush_tudwx1.webp'"
      alt=""
    />

    <div class="slide">
      <h3 class="header-title">OUR RESPONSE</h3>
      <button mat-button (click)="toAnchor('our-response', 'repentance-toward-god')">Repentance Toward God</button>
      <button mat-button (click)="toAnchor('our-response', 'buried-in-baptism')">Buried In Baptism</button>
      <button mat-button (click)="toAnchor('our-response', 'believe-in-god')">Believe In God</button>
      <button mat-button (click)="toAnchor('our-response', 'obedience-to-holiness')">Obedience To Holiness</button>
      <button mat-button (click)="toAnchor('our-response', 'live-worthy')">Live Worthy</button>
      <button mat-button (click)="toAnchor('our-response', 'persevere-by-rememberance')">
        Persevere By Remembrance
      </button>
      <button mat-button (click)="toAnchor('our-response', 'call-upon-the-lord')">Call Upon The Lord</button>
    </div>

    <blog-gospel-section
      [page]="repentanceTowardGod.name"
      data-anchor="repentance-toward-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-repent #repentanceTowardGod></gospel-repent>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="buriedInBaptism.name"
      data-anchor="buried-in-baptism"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-baptism #buriedInBaptism></gospel-baptism>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="believeInGod.name"
      data-anchor="believe-in-god"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-believe-in-god #believeInGod></gospel-believe-in-god>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="obedienceToHoliness.name"
      data-anchor="obedience-to-holiness"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-holiness #obedienceToHoliness></gospel-holiness>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="liveWorthy.name"
      data-anchor="live-worthy"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-worthy-of-call #liveWorthy></gospel-worthy-of-call>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="perseveranceByRememberance.name"
      data-anchor="persevere-by-rememberance"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-persevere #perseveranceByRememberance></gospel-persevere>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="callUponTheLord.name"
      data-anchor="call-upon-the-lord"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-call-upon-him #callUponTheLord></gospel-call-upon-him>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion OUR RESPONSE -->

  <!-- #region THE DAY OF THE LORD - HOPE -->
  <div class="section" data-anchor="the-day-of-the-lord" data-tooltip="The Day of the Lord - Hope">
    <img
      fill
      [ngStyle]="{ 'object-fit': isPlatformBrowser ? 'contain' : 'cover' }"
      [ngSrc]="'v1711590027/img/Rotator-14f_ksynvm.webp'"
      alt=""
    />

    <div class="slide">
      <h3 class="header-title">THE DAY OF THE LORD - HOPE</h3>
      <button mat-button (click)="toAnchor('the-day-of-the-lord', 'resurrection-of-life')">Resurrection Of Life</button>
      <button mat-button (click)="toAnchor('the-day-of-the-lord', 'new-spiritual-bodies')">New Spiritual Bodies</button>
      <button mat-button (click)="toAnchor('the-day-of-the-lord', 'eternal-reward')">Eternal Reward</button>
      <button mat-button (click)="toAnchor('the-day-of-the-lord', 'everlasting-life')">Everlasting Life</button>
      <button mat-button (click)="toAnchor('the-day-of-the-lord', 'the-new-heaven')">The New Heaven</button>
    </div>

    <blog-gospel-section
      [page]="theResurrectionOfLife.name"
      data-anchor="resurrection-of-life"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-resurrection #theResurrectionOfLife></gospel-resurrection>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="newSpiritualBodies.name"
      data-anchor="new-spiritual-bodies"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-spiritual-body #newSpiritualBodies></gospel-spiritual-body>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="eternalReward.name"
      data-anchor="eternal-reward"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-eternal-reward #eternalReward></gospel-eternal-reward>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="everlastingLife.name"
      data-anchor="everlasting-life"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-everlasting-life #everlastingLife></gospel-everlasting-life>
      </div>
    </blog-gospel-section>

    <blog-gospel-section
      [page]="theNewHeavenAndTheNewEarth.name"
      data-anchor="the-new-heaven"
      class="slide"
      [isLightMode]="true"
      [isFloater]="true"
    >
      <div class="paragraphs">
        <gospel-new-heaven-earth #theNewHeavenAndTheNewEarth></gospel-new-heaven-earth>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion THE DAY OF THE LORD - HOPE -->

  <!-- #region FOOTER -->
  <div class="section fp-auto-height footer" data-anchor="social" data-tooltip="Social">
    <h3>SOCIAL</h3>

    <lib-share
      [githubLink]="'https://github.com/kurtisblaine'"
      [youtubeLink]="'https://www.youtube.com/@too.Wonderful.to.Understand'"
      [amazonLink]="'https://www.amazon.com/dp/B0GFW3SLX2'"
      [linkedinLink]="'https://www.linkedin.com/in/kurt-waldner/'"
      [redditLink]="'https://www.reddit.com/user/Ok_Captain5084/'"
      [slackLink]="'https://godlyconversation.slack.com/archives/C09D5CN1LM6'"
      [discordLink]="'https://discord.gg/sKM3U32q'"
    ></lib-share>
  </div>
  <!-- #endregion FOOTER -->
</div>
