<!-- #region INTRODUCTION -->
<div class="wedding-image" style="background-position: top" #toGospel>
  <div class="header-pane navigation" [@simpleFadeAnimation]>
    <h3 style="letter-spacing: 5px">The Good News of the Kingdom of God</h3>
    <blog-reference-tooltip style="display: block" class="mat-caption" [reference]="'Romans 1:16-19'">
      For I am not ashamed of the gospel, for it is the power of God for salvation to everyone who believes, to the Jew
      first and also to the Greek. For in it the righteousness of God is revealed from faith to faith; as it is written,
      "BUT THE RIGHTEOUS SHALL LIVE BY FAITH." For the wrath of God is revealed from heaven against all ungodliness and
      unrighteousness of men who suppress the truth in unrighteousness, because that which is known about God is evident
      within them; for God made it evident to them. </blog-reference-tooltip
    ><br />

    <mat-accordion style="text-transform: unset" *ngIf="showAccordion">
      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button style="font-size: 18px" mat-button>THE DANGER - SIN</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button style="font-size: 18px" mat-button (click)="toAnchor('ourSinNature')">Our Sin Nature</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('heSeesAndHears')">God Knows</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('aConsumingFire')">A Consuming Fire</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('dayOfJudgement')">The Day of Judgement</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button style="font-size: 18px" mat-button>THE DANGER - DEATH</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button style="font-size: 18px" mat-button (click)="toAnchor('futilityOfPleasure')">
            The Love of Pleasure
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('futilityInToil')">Work and Toil</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('futilityOfWealth')">The Love of Wealth</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('futilityInDeath')">The Day of Death</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button style="font-size: 18px" mat-button>THE CALL - GRACE</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button style="font-size: 18px" mat-button (click)="toAnchor('sufferingServant')">
            Jesus, the Servant of God
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('theRockOfSalvation')">
            Jesus, the Rock of Salvation
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('theLambOfGod')">Jesus, the Lamb of God</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('eternalSalvation')">
            Jesus, the Door of Eternal Salvation
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('theLion')">
            Jesus, the Lion of the Tribe of Judah
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('theScapegoat')">Jesus, the Scapegoat</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('trueFoodAndTrueDrink')">
            Jesus, the True Food & the True Drink
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('theBronzeSerpent')">
            Jesus, the Bronze Serpent
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('theVictor')">Jesus, the Victor</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('theSonOfGod')">Jesus, the Son of God</button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button style="font-size: 18px" mat-button>THE CALL - FAITH</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button style="font-size: 18px" mat-button (click)="toAnchor('theRaceOfFaith')">Run the Race of Faith</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('clearConscience')">
            Maintaining a Clear Conscience
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('abideInHim')">Abide in Christ</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('aNewHeart')">
            The Sign of Circumcision, a New Heart
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('bornAgain')">
            Born Again by the Holy Spirit
          </button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button style="font-size: 18px" mat-button>THE RESPONSE</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button style="font-size: 18px" mat-button (click)="toAnchor('repentance')">
            Repentance from Dead Works
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('baptismInWater')">Baptism in Water</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('believeInGod')">
            Believe in the Living God
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('obedienceUntoHoliness')">
            Obedience to Holiness
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('callUponTheLord')">
            Call upon the Name of the Lord
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('liveWorthy')">
            Living Worthy of God's Call
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('perseveranceToTheEnd')">
            Perseverance through Remembrance
          </button>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="custom-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button style="font-size: 18px" mat-button>THE HOPE - THE DAY OF THE LORD</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <button style="font-size: 18px" mat-button (click)="toAnchor('resurrectionFromTheDead')">
            The Resurrection of the Saints
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('newSpiritualBodies')">
            New Spiritual Bodies
          </button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('eternalReward')">Eternal Reward</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('everlastingLife')">Everlasting Life</button>
          <button style="font-size: 18px" mat-button (click)="toAnchor('newHeavenAndNewEarth')">
            The New Heaven & the New Earth
          </button>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div
  class="wedding-image"
  style="background-position: top; display: flex; align-items: flex-end; justify-content: center"
></div>

<div class="wedding-image" style="background-position: top"></div>

<section class="section-dark" style="text-align: center">
  <div>Below is the Gospel.</div>
</section>
<!-- #endregion INTRODUCTION -->

<!-- #region THE DANGER - SIN -->
<div class="pimg15 floating-header" id="ourSinNature" #dangerSin>
  <blog-gospel-header [isLightMode]="false" [@simpleFadeAnimation]>
    <h3>The Danger - Sin</h3>
  </blog-gospel-header>
</div>

<div class="pimg15">
  <blog-gospel-section [isLightMode]="false" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Our Sin Nature', ourSinNature)">Our Sin Nature</h3>
    <div class="paragraphs">
      <blog-sin-nature #ourSinNature></blog-sin-nature>
    </div>
  </blog-gospel-section>
</div>

<div class="pimg15" id="heSeesAndHears"></div>

<blog-gospel-section [isLightMode]="false">
  <h3 class="headers" (click)="navigateToGospelItem('God Knows', heSeesAndHears)">God Knows</h3>
  <div class="paragraphs">
    <blog-he-knows #heSeesAndHears></blog-he-knows>
  </div>
</blog-gospel-section>

<div class="sin-image" style="background-position: top" id="aConsumingFire"></div>

<div class="sin-image" style="background-position: top">
  <blog-gospel-section [isLightMode]="false" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('A Consuming Fire', aConsumingFire)">A Consuming Fire</h3>
    <div class="paragraphs">
      <gospel-consuming-fire #aConsumingFire></gospel-consuming-fire>
    </div>
  </blog-gospel-section>
</div>

<div class="sin-image" style="background-position: top" id="dayOfJudgement"></div>

<blog-gospel-section [isLightMode]="false">
  <h3 class="headers" (click)="navigateToGospelItem('The Day of Judgement', dayOfJudgement)">The Day of Judgement</h3>
  <div class="paragraphs">
    <gospel-judgement-day #dayOfJudgement></gospel-judgement-day>
  </div>
</blog-gospel-section>
<!-- #endregion THE DANGER - SIN -->

<!-- #region THE DANGER - FUTILITY -->
<div class="trumpets-image floating-header" style="background-position: top" id="futilityOfPleasure" #dangerFutility>
  <blog-gospel-header [isLightMode]="false" [@simpleFadeAnimation]>
    <h3>The Danger - Death</h3>
  </blog-gospel-header>
</div>

<div class="trumpets-image" style="background-position: top">
  <blog-gospel-section [isLightMode]="false" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Love of Pleasure', futilityOfPleasure)">The Love of Pleasure</h3>
    <div class="paragraphs">
      <gospel-pleasure #futilityOfPleasure></gospel-pleasure>
    </div>
  </blog-gospel-section>
</div>

<div class="trumpets-image" style="background-position: top" id="futilityInToil"></div>

<blog-gospel-section [isLightMode]="false">
  <h3 class="headers" (click)="navigateToGospelItem('Work and Toil', futilityInToil)">Work and Toil</h3>
  <div class="paragraphs">
    <gospel-toil #futilityInToil></gospel-toil>
  </div>
</blog-gospel-section>

<div class="pimg19" id="futilityOfWealth"></div>

<div class="pimg19">
  <blog-gospel-section [isLightMode]="false" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Wealth', futilityOfWealth)">The Love of Wealth</h3>
    <div class="paragraphs">
      <gospel-wealth #futilityOfWealth></gospel-wealth>
    </div>
  </blog-gospel-section>
</div>

<div class="pimg19" id="futilityInDeath"></div>

<blog-gospel-section [isLightMode]="false">
  <h3 class="headers" (click)="navigateToGospelItem('Day of Death', futilityInDeath)">The Day of Death</h3>
  <div class="paragraphs">
    <gospel-death #futilityInDeath></gospel-death>
  </div>
</blog-gospel-section>
<!-- #endregion THE DANGER - FUTILITY -->

<!-- #region THE CALL - GRACE -->
<div class="cross-image floating-header" id="sufferingServant" #callGrace>
  <blog-gospel-header [@simpleFadeAnimation]>
    <h3>The Call - Grace</h3>
  </blog-gospel-header>
</div>

<div class="cross-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Jesus, the Servant of God', sufferingServant)">
      Jesus, the Servant of God
    </h3>
    <div class="paragraphs">
      <gospel-servant #sufferingServant></gospel-servant>
    </div>
  </blog-gospel-section>
</div>

<div class="cross-image" id="theRockOfSalvation"></div>

<blog-gospel-section [isLightMode]="true">
  <h3 class="headers" (click)="navigateToGospelItem('Jesus, the Rock of our Salvation', theRockOfSalvation)">
    Jesus, the Rock of our Salvation
  </h3>
  <div class="paragraphs">
    <gospel-rock #theRockOfSalvation></gospel-rock>
  </div>
</blog-gospel-section>

<div class="lamb-image" id="theLambOfGod"></div>

<div class="lamb-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Jesus, the Lamb of God', theLambOfGod)">
      Jesus, the Lamb of God
    </h3>
    <div class="paragraphs">
      <gospel-lamb #theLambOfGod></gospel-lamb>
    </div>
  </blog-gospel-section>
</div>

<div class="lamb-image" id="eternalSalvation"></div>

<blog-gospel-section [isLightMode]="true">
  <h3 class="headers" (click)="navigateToGospelItem('Jesus, the Door of Eternal Salvation', eternalSalvation)">
    Jesus, the Door of Eternal Salvation
  </h3>
  <div class="paragraphs">
    <gospel-salvation #eternalSalvation></gospel-salvation>
  </div>
</blog-gospel-section>

<div class="lion-image" id="theLion"></div>

<div class="lion-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Jesus, the Lion from the Tribe of Judah', theLion)">
      Jesus, the Lion from the Tribe of Judah
    </h3>
    <div class="paragraphs">
      <gospel-lion #theLion></gospel-lion>
    </div>
  </blog-gospel-section>
</div>

<div class="lion-image" id="theScapegoat"></div>

<blog-gospel-section [isLightMode]="true">
  <h3 class="headers" (click)="navigateToGospelItem('Jesus, the Scapegoat', theScapegoat)">Jesus, the Scapegoat</h3>
  <div class="paragraphs">
    <gospel-scapegoat #theScapegoat></gospel-scapegoat>
  </div>
</blog-gospel-section>

<div class="bread-image" id="trueFoodAndTrueDrink"></div>

<div class="bread-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Jesus, the True Food & the True Drink', trueFoodAndTrueDrink)">
      Jesus, the True Food & the True Drink
    </h3>
    <div class="paragraphs">
      <gospel-food-drink #trueFoodAndTrueDrink></gospel-food-drink>
    </div>
  </blog-gospel-section>
</div>

<div class="bread-image" id="theBronzeSerpent"></div>

<blog-gospel-section [isLightMode]="true">
  <h3 class="headers" (click)="navigateToGospelItem('Jesus, the Bronze Serpent', theBronzeSerpent)">
    Jesus, the Bronze Serpent
  </h3>
  <div class="paragraphs">
    <gospel-bronze-serpent #theBronzeSerpent></gospel-bronze-serpent>
  </div>
</blog-gospel-section>

<div class="samson-image" id="theVictor"></div>

<div class="samson-image">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Jesus, the Victor', theVictor)">Jesus, the Victor</h3>
    <div class="paragraphs">
      <gospel-victor #theVictor></gospel-victor>
    </div>
  </blog-gospel-section>
</div>

<div class="samson-image" id="theSonOfGod"></div>

<blog-gospel-section [isLightMode]="true">
  <h3 class="headers" (click)="navigateToGospelItem('Jesus, the Son of God', theSonOfGod)">Jesus, the Son of God</h3>
  <div class="paragraphs">
    <gospel-son #theSonOfGod></gospel-son>
  </div>
</blog-gospel-section>
<!-- #endregion THE CALL - GRACE -->

<!-- #region THE CALL - FAITH -->
<div class="pimg8 floating-header" id="theRaceOfFaith" #callFaith>
  <blog-gospel-header [@simpleFadeAnimation]>
    <h3>The Call - Faith</h3>
  </blog-gospel-header>
</div>

<div class="pimg8">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Run the Race of Faith', theRaceOfFaith)">
      Run the Race of Faith
    </h3>
    <div class="paragraphs">
      <gospel-run-the-race #theRaceOfFaith></gospel-run-the-race>
    </div>
  </blog-gospel-section>
</div>

<div class="pimg8" id="clearConscience"></div>

<blog-gospel-section [isLightMode]="true">
  <h3 class="headers" (click)="navigateToGospelItem('Maintaining a Clear Conscience', clearConscience)">
    Maintaining a Clear Conscience
  </h3>
  <div class="paragraphs">
    <gospel-clear-conscience #clearConscience></gospel-clear-conscience>
  </div>
</blog-gospel-section>

<div class="pimg9" id="abideInHim"></div>

<div class="pimg9">
  <blog-gospel-section [isLightMode]="true" [isFloater]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Abide in Christ', abideInHim)">Abide in Christ</h3>
    <div class="paragraphs">
      <gospel-abide #abideInHim></gospel-abide>
    </div>
  </blog-gospel-section>

  <div class="pimg9" id="aNewHeart"></div>

  <blog-gospel-section [isLightMode]="true">
    <h3 class="headers" (click)="navigateToGospelItem('The Sign of Circumcision, a New Heart', aNewHeart)">
      The Sign of Circumcision, a New Heart
    </h3>
    <div class="paragraphs">
      <gospel-new-heart #aNewHeart></gospel-new-heart>
    </div>
  </blog-gospel-section>

  <div class="bush-image" id="bornAgain"></div>

  <div class="bush-image">
    <blog-gospel-section [isLightMode]="true" [isFloater]="true">
      <h3 class="headers" (click)="navigateToGospelItem('Born Again by the Holy Spirit', bornAgain)">
        Born again by the Holy Spirit
      </h3>
      <div class="paragraphs">
        <gospel-born-again #bornAgain></gospel-born-again>
      </div>
    </blog-gospel-section>
  </div>
  <!-- #endregion THE CALL - FAITH -->

  <!-- #region THE RESPONSE -->
  <div class="bush-image floating-header" id="repentance" #ourResponse>
    <blog-gospel-header [@simpleFadeAnimation]>
      <h3>The Response</h3>
    </blog-gospel-header>
  </div>

  <blog-gospel-section [isLightMode]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Repentance from Dead Works', repentance)">
      Repentence from Dead Works
    </h3>
    <div class="paragraphs">
      <gospel-repent #repentance></gospel-repent>
    </div>
  </blog-gospel-section>

  <div class="pillar-fire-image" id="baptismInWater"></div>

  <div class="pillar-fire-image">
    <blog-gospel-section [isLightMode]="true" [isFloater]="true">
      <h3 class="headers" (click)="navigateToGospelItem('Baptism in Water', baptismInWater)">Baptism in Water</h3>
      <div class="paragraphs">
        <gospel-baptism #baptismInWater></gospel-baptism>
      </div>
    </blog-gospel-section>
  </div>

  <div class="pillar-fire-image" id="believeInGod"></div>

  <blog-gospel-section [isLightMode]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Believe in the Living God', believeInGod)">
      Believe in the Living God
    </h3>
    <div class="paragraphs">
      <gospel-believe-in-god #believeInGod></gospel-believe-in-god>
    </div>
  </blog-gospel-section>

  <div class="holy-image" id="obedienceUntoHoliness"></div>

  <div class="holy-image">
    <blog-gospel-section [isLightMode]="true" [isFloater]="true">
      <h3 class="headers" (click)="navigateToGospelItem('Obedience to Holiness', obedienceUntoHoliness)">
        Obedience to Holiness
      </h3>
      <div class="paragraphs">
        <gospel-holiness #obedienceUntoHoliness></gospel-holiness>
      </div>
    </blog-gospel-section>
  </div>

  <div class="holy-image" id="callUponTheLord"></div>

  <blog-gospel-section [isLightMode]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Call upon the Name of the Lord', callUponTheLord)">
      Call upon the Name of the Lord
    </h3>
    <div class="paragraphs">
      <gospel-call-upon-him #callUponTheLord></gospel-call-upon-him>
    </div>
  </blog-gospel-section>

  <div class="rent-image" id="liveWorthy"></div>

  <div class="rent-image">
    <blog-gospel-section [isLightMode]="true" [isFloater]="true">
      <h3 class="headers" (click)="navigateToGospelItem('Living Worthy of God\'s Call', liveWorthy)">
        Living Worthy of God's Call
      </h3>
      <div class="paragraphs">
        <gospel-worthy-of-call #liveWorthy></gospel-worthy-of-call>
      </div>
    </blog-gospel-section>
  </div>

  <div class="rent-image" id="perseveranceToTheEnd"></div>

  <blog-gospel-section [isLightMode]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Perseverance through Remembrance', perseveranceToTheEnd)">
      Perseverance through Remembrance
    </h3>
    <div class="paragraphs">
      <gospel-persevere #perseveranceToTheEnd></gospel-persevere>
    </div>
  </blog-gospel-section>
  <!-- #endregion THE RESPONSE -->

  <!-- #region THE DAY OF THE LORD -->
  <div class="pimg11 floating-header" id="resurrectionFromTheDead" #theHope>
    <blog-gospel-header [@simpleFadeAnimation]>
      <h3>The Hope - The Day of the Lord</h3>
    </blog-gospel-header>
  </div>

  <div class="pimg11">
    <blog-gospel-section [isLightMode]="true" [isFloater]="true">
      <h3 class="headers" (click)="navigateToGospelItem('The Resurrection of the Saints', resurrectionFromTheDead)">
        The Resurrection of the Saints
      </h3>
      <div class="paragraphs">
        <gospel-resurrection #resurrectionFromTheDead></gospel-resurrection>
      </div>
    </blog-gospel-section>
  </div>

  <div class="pimg11" id="newSpiritualBodies"></div>

  <div class="new-jerusalem-image">
    <blog-gospel-section [isLightMode]="true">
      <h3 class="headers" (click)="navigateToGospelItem('New Spiritual Bodies', newSpiritualBodies)">
        New Spiritual Bodies
      </h3>
      <div class="paragraphs">
        <gospel-spiritual-body #newSpiritualBodies></gospel-spiritual-body>
      </div>
    </blog-gospel-section>
  </div>

  <div class="new-jerusalem-image" id="eternalReward"></div>

  <div class="new-jerusalem-image">
    <blog-gospel-section [isLightMode]="true" [isFloater]="true">
      <h3 class="headers" (click)="navigateToGospelItem('Eternal Reward', eternalReward)">Eternal Reward</h3>
      <div class="paragraphs">
        <gospel-eternal-reward #eternalReward></gospel-eternal-reward>
      </div>
    </blog-gospel-section>
  </div>

  <div class="new-jerusalem-image" id="everlastingLife"></div>

  <blog-gospel-section [isLightMode]="true">
    <h3 class="headers" (click)="navigateToGospelItem('Everlasting Life', everlastingLife)">Everlasting Life</h3>
    <div class="paragraphs">
      <gospel-everlasting-life #everlastingLife></gospel-everlasting-life>
    </div>
  </blog-gospel-section>

  <div class="pimg24" id="newHeavenAndNewEarth"></div>

  <div class="pimg24">
    <blog-gospel-section [isLightMode]="true" [isFloater]="true">
      <h3 class="headers" (click)="navigateToGospelItem('The New Heaven & the New Earth', newHeavenAndNewEarth)">
        The New Heaven & the New Earth
      </h3>
      <div class="paragraphs">
        <gospel-new-heaven-earth #newHeavenAndNewEarth></gospel-new-heaven-earth>
      </div>
    </blog-gospel-section>

    <div class="pimg24"></div>
  </div>
  <!-- #endregion THE DAY OF THE LORD -->
</div>
