<mat-spinner *ngIf="isLoading$ | async; let isLoading"></mat-spinner>

<mat-grid-list [cols]="5" rowHeight="2:1">
  <mat-grid-tile *ngFor="let item of groups$ | async">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title
          ><span
            [ngClass]="{
              rightToLeft: item.group[0].language.scriptDirection === rtl,
              leftToRight: item.group[0].language.scriptDirection !== rtl
            }"
          >
            {{ item.group[0].language.nameLocal }}
          </span></mat-card-title
        >
        <mat-card-subtitle
          *ngIf="
            item.group[0].language.nameLocal !== item.group[0].language.name
          "
          >{{ item.group[0].language.name }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p>Location: {{ getCountries(item.group) }}</p>
        <p>Syntax: {{ getScripts(item.group) }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>READ</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>
