<mat-spinner *ngIf="isLoading$ | async; let isLoading"></mat-spinner>

<mat-grid-list [cols]="5" rowHeight="1:2" gutterSize="7">
  <mat-grid-tile *ngFor="let item of groups$ | async">
    <mat-card style="width: 100%; height: 100%">
      <mat-card-header>
        <mat-card-title
          ><span
            [ngClass]="{
              rightToLeft: item.sortedBooks[0].language.scriptDirection === rtl,
              leftToRight: item.sortedBooks[0].language.scriptDirection !== rtl
            }"
          >
            {{ item.sortedBooks[0].language.nameLocal }}
          </span></mat-card-title
        >
        <mat-card-subtitle
          *ngIf="
            item.sortedBooks[0].language.nameLocal !==
            item.sortedBooks[0].language.name
          "
          >Tongue: {{ item.sortedBooks[0].language.name }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p>Mother: {{ getCountries(item.sortedBooks) }}</p>
        <p>Script: {{ getScripts(item.sortedBooks) }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button style="width: 100%">READ</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>
