<div class="discern-item" *ngFor="let discern of discernments$ | async">
  <div class="discern-title primary-color" (click)="navigate(discern)">
    {{ discern.title }}
    <lib-fa-icon [icon]="faLink" style="padding-left: 2px"></lib-fa-icon>
  </div>
  <div>{{ discern.date | date: "short" }}</div>

  <button mat-flat-button *ngIf="update" (click)="doUpdate(discern)">Update</button>

  <lib-text-editor
    [readonly]="!update"
    [document]="discern.json"
    (editorChanged)="discern.json = $event"
  ></lib-text-editor>

  <mat-divider></mat-divider>
</div>
