<div class="discern-page">
  @if(!update) {
  <lib-filter style="flex: 1 1 20%" (onChange)="searchTerm.set($event)"></lib-filter>
  }

  <div style="flex: 1 1 80%">
    <div class="discern-item" *ngFor="let discern of pagedDiscernments()">
      <div class="discern-title primary-color">
        <lib-link [link]="baseUrl + '/discernments/discernment-detail/' + discern.url"
          >{{ discern.title }}
          <lib-fa-icon [icon]="faLink" style="padding-left: 2px"></lib-fa-icon>
        </lib-link>
      </div>
      <div>{{ discern.date | date: "short" }}</div>

      @if(update) {
      <button mat-flat-button (click)="doUpdate(discern)">Update</button>
      <lib-text-editor [document]="discern.json" (editorChanged)="updatedJson = $event"></lib-text-editor>
      } @else {
      <lib-readonly-text-editor
        [html]="discern?.json?.toString()"
        [link]="baseUrl + '/discernments/discernment-detail/' + discern.url"
      ></lib-readonly-text-editor>
      }

      <mat-divider></mat-divider>
    </div>
    <mat-paginator
      [length]="total()"
      [showFirstLastButtons]="true"
      [pageSize]="pageSize()"
      [pageIndex]="pageIndex()"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
