<div class="discern-item" *ngFor="let discern of pagedDiscernments()">
  <div class="discern-title primary-color">
    <blog-link [link]="'https://thelightof.life/discernments/discernment-detail/' + discern.id"
      >{{ discern.title }}
      <lib-fa-icon [icon]="faLink" style="padding-left: 2px"></lib-fa-icon>
    </blog-link>
  </div>
  <div>{{ discern.date | date: "short" }}</div>

  @if(update) {
  <button mat-flat-button (click)="doUpdate(discern)">Update</button>
  <lib-text-editor [document]="discern.json" (editorChanged)="discern.json = $event"></lib-text-editor>
  } @else {
  <lib-readonly-text-editor [html]="discern?.json?.toString()"></lib-readonly-text-editor>
  }

  <mat-divider></mat-divider>
</div>

<mat-paginator
  [length]="total"
  [showFirstLastButtons]="true"
  [pageSize]="5"
  (page)="onPageChange($event)"
></mat-paginator>
